{% extends "admin/base_site.html" %}

{% block app-extrahead %}
	<meta http-equiv="refresh" content="60" > 
{% endblock %}

{% block container %}
<div class="row">
    <div class="col-md-12">
   		<h2>ESSArch Preservation Platform - System information <span style="font-size: small;">at {{ time_checked|date:"Y-m-d H:i"}}</span></h2>
    </div>
    <div class="col-md-6">
        {% if hostname %}<p><strong>Hostname:</strong> {{ hostname }}</p>{% endif %}
        {% if essarch_info %}<p><strong>ESSArch:</strong> {{ essarch_info }}</p>{% endif %}
        <h2>Settings Flags</h2>
        {% for flag in settings_flags %}
            <span {% if flag.unexpected %}class="highlight"{% endif %}>
                {{ flag.name }}: {{flag.actual}}
            </span> &ensp;
        {% endfor %}
        <h2>Version Information</h2>
        {% if python_packages %}
            <p><strong>Python Packages:</strong> {{ python_packages }}</p>
        {% endif %}
        {% if mysql_version %}<p><strong>MySQL:</strong> {{ mysql_version }}</p>{% endif %}
        {% if gitversion %}
            <strong>Most Recent Commit:</strong><br>
            <div style="padding-left:1em;">
                <code>{{ gitversion }}</code>
            </div>
        {% endif %}
    </div>
    <div class="col-md-6">
<!--
        <h2>Recent Log Entries</h2>
        {% if error_msgs %}
            <h3>Errors</h3>
            {% for error_msg in error_msgs %}
                <p {% if error_msg.recent %}class="highlight"{% endif %}>{{ error_msg.datetime }}: {{ error_msg.msg }}</p>
            {% endfor %}
        {% endif %}
        {% if warning_msgs %}
            <h3>Warnings</h3>
            {% for warning_msg in warning_msgs %}
                <p {% if warning_msg.recent %}class="highlight"{% endif %}>{{ warning_msg.datetime }}: {{ warning_msg.msg }}</p>
            {% endfor %}
        {% endif %}
        {% if info_msgs %}
            <h3>Information</h3>
            {% for info_msg in info_msgs %}
                <p>{{ info_msg.datetime }}: {{ info_msg.msg }}</p>
            {% endfor %}
        {% endif %}
-->
        <h2>Processes</h2>
        {% if process %}
       	    {% for proc in process %}
                <p {% if proc.alarm = 1 or proc.Status = "0" %}class="highlight"{% elif proc.alarm = 0 %}class="highlight-green"{% endif %}>{{ proc.Name }}: {{ proc.Status }}</p>
            {% endfor %}
        {% endif %}
        <h2>Proc logfile alarms</h2>
        {% if proc_alarm %}
       	    {% for proc in proc_alarm %}
                <p {% if proc.alarm = 1 %}class="highlight"{% elif proc.alarm = 0 %}class="highlight-green"{% endif %}>{{ proc.alarm_sub }}</p>
            {% endfor %}
        {% else %}
        	<p class="highlight-green">None</p>
        {% endif %}
    </div>
</div>
{% endblock %}

