{% extends 'index.html' %}

{% block content %}
    
<div style="margin:20px">
<H1>{{ label }}</H1>
<br/>
<small>[posted {{ingest.posted|timesince}} ago]</small>

<div class="results">
  <table id="result_list">
    <thead>
      <tr>
		<th>Name</th>
		<th>Value</th>
      </tr>
    </thead>
    <tbody>
    	<tr class="row1">
    		<td>ReqUUID</td>
    		<td>{{ ingest.ReqUUID }}</td>
    	</tr>
    	<tr class="row2">
    		<td>ReqType</td>
    		<td>{{ ingest.ReqType }}</td>
    	</tr>
    	<tr class="row1">
    		<td>ReqPurpose</td>
    		<td>{{ ingest.ReqPurpose }}</td>
    	</tr>
    	<tr class="row2">
    		<td>User</td>
    		<td>{{ ingest.user }}</td>
    	</tr>
    	<tr class="row1">
    		<td>ObjectIdentifierValue</td>
    		<td>{{ ingest.ObjectIdentifierValue }}</td>
    	</tr>
    	<tr class="row2">
    		<td>Status</td>
    		<td>{{ ingest.Status }}</td>
    	</tr>
    </tbody>
  </table>
</div>

<br/>
<a href="{% url ingest_update ingest.pk %}">Edit ingest request</a> | <a href="{% url ingest_delete ingest.pk %}">Delete ingest request</a>

</div>    
    
    
{% endblock %}
