{% extends 'index.html' %}
{% load dictionary_extras %}

{% block content %}
    
<div style="margin:20px">
<H1>{{ label }}</H1>
<br/>
<small>[posted {{ingest.posted|timesince}} ago]</small>

<div class="results">
  <table id="result_list">
    <thead>
      <tr>
		<th>Name</th>
		<th>Value</th>
      </tr>
    </thead>
    <tbody>
    	<tr class="row1">
    		<td>ReqUUID</td>
    		<td>{{ object.ReqUUID }}</td>
    	</tr>
    	<tr class="row2">
    		<td>ReqType</td>
    		<td>{{ ControlAreaReqType_CHOICES|access:object.ReqType }}</td>
    	</tr>
    	<tr class="row1">
    		<td>ReqPurpose</td>
    		<td>{{ object.ReqPurpose }}</td>
    	</tr>
    	<tr class="row2">
    		<td>User</td>
    		<td>{{ object.user }}</td>
    	</tr>
    	<tr class="row1">
    		<td>ObjectIdentifierValue</td>
    		<td>{{ object.ObjectIdentifierValue }}</td>
    	</tr>
    	<tr class="row2">
    		<td>Status</td>
    		<td>{{ ReqStatus_CHOICES|access:object.Status }}</td>
    	</tr>
    </tbody>
  </table>
</div>

<br/>

<h1>Result</h1>
<p></p>
<p>Status code: {{ request.session.result_status_code }}</p>
<p></p>
<p>Status description:</p>
{% for item in request.session.result_status_detail.0 %}
  	<p>{{ item }}</p>
{% endfor %}
<p>Problem description:</p>
{% if request.session.result_status_detail.1 %}
    {% for item in request.session.result_status_detail.1 %}
      	<p>{{ item }}</p>
    {% endfor %}
{% else %}
	<p>None</p>
{% endif %}

<a href="{% url home %}">Return</a>
</div>    
    
    
{% endblock %}
