node_modules
bower_components
scripts/core
scripts/scripts.js
scripts/scripts.min.js
scripts/polyfills.min.js
scripts/vendors.js
scripts/vendors.min.js
scripts/scripts.min.js.map
scripts/vendors.min.js.map
scripts/polyfills.min.js.map
fonts
images
styles/styles.css
styles/styles.css.map
styles/styles.min.css
styles/styles.min.css.map
scripts/configs/myApp.config.js
scripts/configs/permission.config.js
tests/core
