{% extends 'admin/base_site.html' %}
{% load dictionary_extras %}
{% load static %}

{% block content %}
    
<div style="margin:20px">
<H1>{{ label }}</H1>
<br/>
<small>[posted {{migration.posted|timesince}} ago]</small>

<div class="results">
  <table id="result_list">
    <thead>
      <tr>
		<th>Name</th>
		<th>Value</th>
      </tr>
    </thead>
    <tbody>
    	<tr class="row1">
    		<td>ReqUUID</td>
    		<td>{{ migration.ReqUUID }}</td>
    	</tr>
    	<tr class="row2">
    		<td>ReqType</td>
    		<td>{{ MigrationReqType_CHOICES|access:migration.ReqType }}</td>
    	</tr>
    	<tr class="row1">
    		<td>ReqPurpose</td>
    		<td>{{ migration.ReqPurpose }}</td>
    	</tr>
    	<tr class="row2">
    		<td>User</td>
    		<td>{{ migration.user }}</td>
    	</tr>
    	<tr class="row1">
    		<td>ObjectIdentifierValue</td>
    		<td>{{ migration.ObjectIdentifierValue }}</td>
    	</tr>
    	<tr class="row2">
    		<td>TargetmediumID</td>
    		<td>{{ migration.TargetMediumID }}</td>
    	</tr>
    	<tr class="row1">
    		<td>Path</td>
    		<td>{{ migration.Path }}</td>
    	</tr>
    	<tr class="row2">
    		<td>Status</td>
    		<td>{{ ReqStatus_CHOICES|access:migration.Status }}</td>
    	</tr>
    	{% if migration.Status < 20 %}
    	<tr class="row1">
    		<td id="task_export">Progress</td>
    		<td><div id="task_progress"></div></td>
    	</tr>
    	{% endif %}
    </tbody>
  </table>
</div>

<br/>
<a href="{% url 'migration_update' migration.id %}">Edit migration request</a> | <a href="{% url 'migration_delete' migration.id %}">Delete migration request</a>

</div>    
    
    
{% endblock %}

{% block app-extra-script %}
    <script type="text/javascript" src="{% static "jquery-celery/celery.js" %}"></script>
    <script>
        $(document).ready(function() {
            //$("#task_export").on('click', function (e) {
            if ("{{migration.Status}}"<20 ) {
                var $this = $(this),
                    //exportUrl = $this.attr("href"),
                    //originalHtml = $this.clone(),
                    originalHtml = $("#task_progress"),
                    progressHtml;

                progressHtml = [
                    '<div class="progress_container">',
                        '<div class="time_remaining">Waiting for mediamigration process</div>',
                        '<div class="progress progress-striped">',
                            '<div class="bar" style="width: 0%"></div>',
                        '</div>',
                    '</div>'
                ].join('\n');

                //$this.replaceWith(progressHtml);
                originalHtml.replaceWith(progressHtml);

                // Handler in case something goes wrong with the celery
                // task
                function error() {
                    var msg = '<p class="error task_error">There was an error for the mediamigration.</p>';
                    $('.progress_container').replaceWith(msg);

                    // Give the user 5 seconds to see the message and then
                    // give them the link back
                    setTimeout(function() {
                        $('.task_error').replaceWith(originalHtml);
                    }, 5000);
                }

                // First, just get the task_id for the Celery task that
                // will be building the export
                //$.getJSON(exportUrl, function(data) {
	                // Use djcelery to redirect to the CSV file once the
	                // task completes
	                $('.loading').djcelery({
	                    //task_id: data['task_id'],
	                    task_id: "{{ migration.task_id }}",
	                    check_interval: 2000,
	                    on_success: function (task) {
	                        // Redirect to export page with the task id
	                        //var newUrl = exportUrl  + task.id + '/';
	
	                        // And replace the link to the export
	                        $('.progress_container').replaceWith(originalHtml);
	                        
	                        location.reload(); 
	
	                        //setTimeout(function() {
	                        //    window.location = newUrl;
	                        //}, 1000);
	                    },
	                    on_failure: error,
	                    on_error: error,
	                    on_other: function(task_result) {
	                        var $progress_container = $('.progress_container'),
	                            $time_remaining = $progress_container.find('.time_remaining'),
	                            $progress_bar = $progress_container.find('.progress .bar');
	                        if (task_result.status == 'PROGRESS') {
	                            // Set the percentage
	                            var percent = task_result.result.progress_percent;
	                            $progress_bar.css('width', percent + '%');
	
	                            // Set time remaining
	                            time_remaining = task_result.result.time_remaining;
	                            if (time_remaining > 0) {
	                                $time_remaining.html(
	                                    'Approximate time left: ' + Math.round(time_remaining) + ' seconds'
	                                );
	                            }
	                        }
	                    }
	                });
                //});

                return false;
            //});
            }
        });
    </script>
{% endblock %}
