{% extends 'admin/base_site.html' %}
{% load dictionary_extras %}
{% load js staticfiles%}
{% load url from future %}

{% block server-side-base %}active{% endblock %}

{% block container %}

<H1>{{ label }}</H1>
<br/>

<div class="row">
	<a>{% csrf_token %}</a>
    <table class="prepare request">
        <thead>
            <tr>
                <th width=210>Parameter</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
            <tr><td class="spacer" colspan="2">&nbsp;</td></tr>
            <tr class="reqpurpose">
                <td class="required">Request purpose</td>
                <td>
                    <input id="ReqPurpose" type="text"
                        class="input-xxlarge"
                        placeholder="Please specify the purpose">
                </td>
            </tr>
            <tr class="tmpmigpath">
                <td class="required">Temp path</td>
                <td>
                    <input id="tmpmigpath" type="text"
                        class="input-xxlarge"
                        value="{{ DefaultValue.administration_storagemigration__temp_path }}"
                        placeholder="Please specify temporary path for migration">
                </td> 
            </tr>
            <tr class="copypath">
                <td>Copy path</td>
                <td>
                    <input id="copypath" type="text"
                        class="input-xxlarge"
                        value="{{ DefaultValue.administration_storagemigration__copy_path }}"
                        placeholder="Please specify path to save a copy of IP">
                </td>
                <td>No media migration: <input id="copyonlyflag"  type="checkbox"  onchange=removeTarget()>
                </td>

        </tbody>
    </table>
</div>

<div class="row">
	<button type="button" class="btn btn-small" data-toggle="collapse" data-target="#archiveobject-filters">-</button>
	<span>Filters</span>
</div>

<div id="archiveobject-filters" class="row collapse in">
    <table class="table search">
        <thead>
            <tr>
                <th>Source</th>
                <th>Filter text</th>
            </tr>
        </thead>
        <tbody>
            <tr><td class="spacer" colspan="3">&nbsp;</td></tr>
            <tr class="object">
                <td>Object</td>
                <td>
                    <input id="filter-0" type="text"
                        class="input-xxlarge"
                        placeholder="object search">
                </td>
            </tr>
            <tr class="objectuuid">
                <td>ObjectUUID</td>
                <td>
                    <input id="filter-1" type="text"
                        class="input-xxlarge"
                        placeholder="objectUUID search">
                </td>
            </tr>
            <tr class="statusprocess">
                <td>Status Process</td>
                <td>
                    <input id="filter-2" type="text"
                        class="input-xxlarge"
                        value="3000"
                        placeholder="statusprocess search">
                </td>
            </tr>
            <tr class="statusactivity">
                <td>Status Activity</td>
                <td>
                    <input id="filter-3" type="text"
                        class="input-xxlarge"
                        value="0"
                        placeholder="statusactivity search">
                </td>
            </tr>
            <tr class="storageMediumID">
                <td>Current MediumID</td>
                <td>
                    <input id="filter-4" type="text"
                        class="input-xxlarge"
                        placeholder="medium search"
                        title="Specify a media or a range of media, to select media ESA001->ESA009 enter ESA00[0-9].&#013;">
                </td>
                
            </tr>
           
          
            <tr class="policyid">
                <td>PolicyID</td>
                <td>
                	<select id="filter-7" onchange=populatecheckboxes() >


                	<!-- EnabledPolicies -->

                    </select>
                </td>
                <td>
                 </td>
            </tr>

            
        </tbody>
    </table>
</div>       
<div class="row">
	<button type="button" class="btn btn-small" data-toggle="collapse" data-target="#storagemediumtarget">-</button>
	<span>Target</span>
</div>

<div id="storagemediumtarget" class="row collapse in">
             <table>
             
             <tr>
                <td>Current Medium Prefix</td><td></td><td></td><td></td>
                
					<td>
					   <div id="targetfield">
							
                      </div>
                </td>
                <td>
                <div id="filter-5-storage">
                <input type='hidden'  id='filter-5' >
                </div>
                </td>
                <td></td><td></td>
                <td>
                <div id="enablePlusBoxField">
                		<input type='checkbox' id='enablePlus' onclick=updateFilter5()> Force additional copies on the same target medium.
                </div>
                </td>
            </tr>
            
        </tbody>
    </table>
</div>
<div class="row">
	<button type="button" class="btn btn-small" data-toggle="collapse" data-target="#archiveobject-selection">-</button>
	<span>Selection list</span>
</div>

<div id="archiveobject-selection" class="row collapse in">
    <table id="archiveobject-table" class="span12 display table table-bordered table-condensed "> <!--  removed table-striped -->
        <thead>
            <tr>
            	<th>Object</th>
            	<th>ObjectUUID</th>
        		<th>Status Process</th>
        		<th>Status Activity</th>
        		<th>Current MediumID</th>
        		<th>Location</th>
        		<th>Policy</th>
        		<th>PolicyID</th>
        		<th>Policy Status</th>
        		<th>SM 1</th>
        		<th>SM 1 target</th>
        		<th>SM 2</th>
        		<th>SM 2 target</th>
        		<th>SM 3</th>
        		<th>SM 3 target</th>
        		<th>SM 4</th>
        		<th>SM 4 target</th>
            </tr>
        </thead>
        <tbody></tbody>
        <tfoot></tfoot>
    </table>
</div>




<!--
<div class="row">
    <pre data-url="{% static "administration/js/storagemaintenance.js" %}" class="javascript"/>
</div>
-->

{% endblock %}

{% block app-extra-script %}
    {% js "TableTools/media/js/TableTools.min.js" %}
    {% js "administration/js/eztables.demo.js" %}
	{% js "administration/js/storagemigration.js" %}

	<script>	
		$(".btn[data-toggle='collapse']").click(function()
			{
	    		$(this).text(function(i,old)
    				{
	        			return old=='+' ?  '-' : '+';
	    		});
		});
	</script>

<script>


var enabledPolicies = {};
var targets = [];

$.getJSON( "{% url 'admin_migrationtarget' %}", function(enabledPolicies1) {

	 enabledPolicies = enabledPolicies1;
	 populatePolicyID();
	 populatecheckboxes();
	 updateFilter5()
	});



function populatePolicyID(){



	var text1 = "";

	for (i = 0; i < enabledPolicies.length; i++) {
	    text1 += "<option value=" + enabledPolicies[i].PolicyID + ">" + enabledPolicies[i].PolicyID + "," + enabledPolicies[i].PolicyName + "</option>"
	}

	document.getElementById('filter-7').innerHTML = text1;


	}

function populatecheckboxes(){
	
	var targetcheckboxes = "";
	if (document.getElementById("copyonlyflag").checked == false){
		
		
		var selectedPolicy = document.getElementById("filter-7").value;

	
		for (i=0; i< enabledPolicies.length; i++){

	   	 if (selectedPolicy == enabledPolicies[i].PolicyID){
		
			targets = enabledPolicies[i].targetlist
			}
		}
						
		for (i = 0; i < targets.length; i++){
				
				targetcheckboxes += "<input type='checkbox'" + "id='target" + i + "' checked  value=" +  targets[i]  + " onclick=updateFilter5()>" + " " +  targets[i] + " "
			
		}
		document.getElementById("targetfield").innerHTML = targetcheckboxes;
		updateFilter5();
	    }
	}
	
function updateFilter5(){
	
	var targetrecord = "";
	
    for(i= 0;i < targets.length; i++){
    	
    	var whichcheckbox = "target" + i;
    	var checked = document.getElementById(whichcheckbox).checked
    	
    	if( checked == true){
        	if(targetrecord.length > 0){
        		targetrecord += " ";
        	}
    		if(document.getElementById('enablePlus').checked == true){
    			targetrecord += "+";
    		}
    		targetrecord += targets[i];
    	}
    }
    	$('#filter-5').val(targetrecord).trigger('change');
}
	
function removeTarget(){
	
	var noMigration =  'NO MEDIA MIGRATION' ;
	
	
	
	
	if (document.getElementById("copyonlyflag").checked == true){
		document.getElementById("targetfield").innerHTML = noMigration;
		document.getElementById("enablePlusBoxField").innerHTML = "";
		
		
	}
	else{;
	    
	     document.getElementById("enablePlusBoxField").innerHTML = "<input type='checkbox' id='enablePlus' onclick=updateFilter5()> Force additional copies on the same target medium.";		
		populatecheckboxes()
		
	}	
}



</script>
<!--
<script>
$(document).ready(function() {
	function deffnFilterColumn(i) {
    	var oTable = $('#archiveobject-table').dataTable();
    	oTable.fnFilter(
            $("#filter-"+i).val(),
            i
        );
        alert('setdef:'+i+' value:'+$("#filter-"+i).val())
    }
	var test = $('#filter-3').attr('value');
	if (test) {
		deffnFilterColumn('2')
    	//alert('filter-2'+test)
   }
} );
</script>
-->


{% endblock %}
