{% extends 'admin/base_site.html' %}
{% load dictionary_extras %}
{% load js staticfiles%}
{% load url from future %}

{% block server-side-base %}active{% endblock %}

{% block container %}

<H1>{{ label }}</H1>
<br/>

<div class="row">
	<a>{% csrf_token %}</a>
    <table class="prepare request">
        <thead>
            <tr>
                <th width=210>Parameter</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
            <tr><td class="spacer" colspan="2">&nbsp;</td></tr>
            <tr class="reqpurpose">
                <td class="required">Request purpose</td>
                <td>
                    <input id="ReqPurpose" type="text"
                        class="input-xxlarge"
                        placeholder="Please specify the purpose">
                </td>
            </tr>
            <tr class="tmpmigpath">
                <td class="required">Temp path</td>
                <td>
                    <input id="tmpmigpath" type="text"
                        class="input-xxlarge"
                        value="{{ DefaultValue.administration_storagemaintenance__temp_path }}"
                        placeholder="Please specify temporary path for migration">
                </td>
            </tr>
            <tr class="copypath">
                <td>Copy path</td>
                <td>
                    <input id="copypath" type="text"
                        class="input-xxlarge"
                        value="{{ DefaultValue.administration_storagemaintenance__copy_path }}"
                        placeholder="Please specify path to save a copy of IP">
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div class="row">
	<button type="button" class="btn btn-small" data-toggle="collapse" data-target="#archiveobject-filters">-</button>
	<span>Filters</span>
</div>

<div id="archiveobject-filters" class="row collapse in">
    <table class="table search">
        <thead>
            <tr>
                <th>Target</th>
                <th>Filter text</th>
                <th>Hide column</th>
                <th>Regex</th>
            </tr>
        </thead>
        <tbody>
            <tr><td class="spacer" colspan="3">&nbsp;</td></tr>
            <tr class="object">
                <td>Object</td>
                <td>
                    <input id="filter-0" type="text"
                        class="input-xxlarge"
                        placeholder="object search">
                </td>
                <td><input id="filterhide-0" type="checkbox"/></td>
                <td><input id="regex-0" type="checkbox"/></td>
            </tr>
            <tr class="objectuuid">
                <td>ObjectUUID</td>
                <td>
                    <input id="filter-1" type="text"
                        class="input-xxlarge"
                        placeholder="objectUUID search">
                </td>
                <td><input id="filterhide-1" type="checkbox" checked="checked"/></td>
                <td><input id="regex-1" type="checkbox"/></td>
            </tr>
            <tr class="statusprocess">
                <td>Status Process</td>
                <td>
                    <input id="filter-2" type="text"
                        class="input-xxlarge"
                        value="3000"
                        placeholder="statusprocess search">
                </td>
                <td><input id="filterhide-2" type="checkbox"/></td>
                <td><input id="regex-2" type="checkbox"/></td>
            </tr>
            <tr class="statusactivity">
                <td>Status Activity</td>
                <td>
                    <input id="filter-3" type="text"
                        class="input-xxlarge"
                        value="0"
                        placeholder="statusactivity search">
                </td>
                <td><input id="filterhide-3" type="checkbox"/></td>
                <td><input id="regex-3" type="checkbox"/></td>
            </tr>
            <tr class="storageMediumID">
                <td>Current MediumID</td>
                <td>
                    <input id="filter-4" type="text"
                        class="input-xxlarge"
                        placeholder="medium search"
                        title="Specify a media or a range of media, to select media ESA001->ESA009 enter ESA00[0-9].&#013;When deactivating media where the target prefix changed from eg ASA to XSA enter -ASA+XSA">
                </td>
                <td><input id="filterhide-4" type="checkbox"/></td>
                <td><input id="regex-4" checked="True" type="checkbox"/></td>
            </tr>
            <tr class="target">
                <td class="required">Storage Method Target Medium</td>
                <td>
                    <input id="filter-5" type="text"
                        class="input-xxlarge"
                        placeholder="target search"
                        title='Specify a target prefix or add a "+" sign in front of the target, eg +ESA +ESB +/diskstorage to enter multiple storage methods.&#013;When deactivating media please leave this field empty'>
                </td>
                <td><input id="filterhide-5" type="checkbox" disabled="True"/></td>
                <td><input id="regex-5" type="checkbox" disabled="True"/></td>
            </tr>
            <tr class="policy">
                <td>Policy</td>
                <td>
                    <input id="filter-6" type="text"
                        class="input-xxlarge"
                        placeholder="policy search">
                </td>
                <td><input id="filterhide-6" type="checkbox"/></td>
                <td><input id="regex-6" type="checkbox"/></td>
            </tr>
            <tr class="policyid">
                <td>PolicyID</td>
                <td>
                    <input id="filter-7" type="text"
                        class="input-xxlarge"
                        placeholder="policyID search">
                </td>
                <td><input id="filterhide-7" type="checkbox"/></td>
                <td><input id="regex-7" type="checkbox"/></td>
            </tr>
            <tr class="policystat">
                <td>Policy Status</td>
                <td>
                    <input id="filter-8" type="text"
                        class="input-xxlarge"
                        placeholder="policystat search">
                </td>
                <td><input id="filterhide-8" type="checkbox"/></td>
                <td><input id="regex-8" type="checkbox"/></td>
            </tr>
        </tbody>
    </table>
</div>

<div class="row">
	<button type="button" class="btn btn-small" data-toggle="collapse" data-target="#archiveobject-selection">-</button>
	<span>Selection list</span>
</div>

<div id="archiveobject-selection" class="row collapse in">
    <table id="archiveobject-table" class="span12 display table table-bordered table-condensed table-striped">
        <thead>
            <tr>
            	<th>Object</th>
            	<th>ObjectUUID</th>
        		<th>Status Process</th>
        		<th>Status Activity</th>
        		<th>Current MediumID</th>
        		<th>Location</th>
        		<th>Policy</th>
        		<th>PolicyID</th>
        		<th>Policy Status</th>
        		<th>SM 1</th>
        		<th>SM 1 target</th>
        		<th>SM 2</th>
        		<th>SM 2 target</th>
        		<th>SM 3</th>
        		<th>SM 3 target</th>
        		<th>SM 4</th>
        		<th>SM 4 target</th>
            </tr>
        </thead>
        <tbody></tbody>
        <tfoot></tfoot>
    </table>
</div>


<div class="row">
	<button type="button" class="btn btn-small" data-toggle="collapse" data-target="#deactivate_media">-</button>
	<span>Deactivate storage medium</span>
</div>

<div id="deactivate_media" class="row collapse in">
    <table id="deactivate_media-table" class="span12 display table table-bordered table-condensed table-striped">
        <thead>
            <tr>
            	<th>MediumID</th>
            </tr>
        </thead>
        <tbody></tbody>
        <tfoot></tfoot>
    </table>
</div>

<div class="row">
	<button type="button" class="btn btn-small" data-toggle="collapse" data-target="#need_to_migrate">-</button>
	<span>Need to migrate</span>
</div>

<div id="need_to_migrate" class="row collapse in">
    <table id="need_to_migrate-table" class="span12 display table table-bordered table-condensed table-striped">
        <thead>
            <tr>
            	<th>MediumID</th>
            	<th>CreateDate</th>
            	<th>Location</th>
            	<th>ObjectIdentifierValue</th>
            	<th>ObjectUUID</th>
            </tr>
        </thead>
        <tbody></tbody>
        <tfoot></tfoot>
    </table>
</div>

<!--
<div class="row">
    <pre data-url="{% static "administration/js/storagemaintenance.js" %}" class="javascript"/>
</div>
-->

{% endblock %}

{% block app-extra-script %}
    {% js "TableTools/media/js/TableTools.min.js" %}
    {% js "administration/js/eztables.demo.js" %}
	{% js "administration/js/storagemaintenance.js" %}

	<script>	
		$(".btn[data-toggle='collapse']").click(function()
			{
	    		$(this).text(function(i,old)
    				{
	        			return old=='+' ?  '-' : '+';
	    		});
		});
	</script>
<!--
<script>
$(document).ready(function() {
	function deffnFilterColumn(i) {
    	var oTable = $('#archiveobject-table').dataTable();
    	oTable.fnFilter(
            $("#filter-"+i).val(),
            i
        );
        alert('setdef:'+i+' value:'+$("#filter-"+i).val())
    }
	var test = $('#filter-3').attr('value');
	if (test) {
		deffnFilterColumn('2')
    	//alert('filter-2'+test)
   }
} );
</script>
-->
{% endblock %}
