{% extends 'admin/base_site.html' %}
{% load dictionary_extras %}
{% load js staticfiles%}
{% load url from future %}

{% block server-side-base %}active{% endblock %}

{% block container %}

<H1>{{ label }}</H1>
<br/>

<div class="row">
	<a>{% csrf_token %}</a>
    <table class="prepare request">
        <thead>
            <tr>
                <th width=210>Parameter</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
            <tr><td class="spacer" colspan="2">&nbsp;</td></tr>
            <tr class="reqpurpose">
                <td class="required">Request purpose</td>
                <td>
                    <input id="ReqPurpose" type="text"
                        class="input-xxlarge"
                        placeholder="Please specify the purpose">
                </td>

        </tbody>
    </table>
</div>

<div class="row">
	<button type="button" class="btn btn-small" data-toggle="collapse" data-target="#deactivate_media-filters">-</button>
	<span>Filters</span>
</div>

<div id="deactivate_media-filters" class="row collapse in">
    <table class="table search">
        <thead>
            <tr>
                <th>Source</th>
                <th>Filter text</th>
            </tr>
        </thead>
        <tbody>
         <tr class="policyid">
                <td>PolicyID</td>
                <td>
                	<select id="filter-7" onchange=populateprefixselection() >
					 </select>
					</tr>
					<tr>
					<td>Current Medium Prefix</td>
					<td>
			     <select  id="prefixselection" onchange=prefixSelectionAction()>
                </select>
                </td>
                <td>
                <div id="filter-4-storage">
                <input type='hidden'  id='filter-4' >
                </div>
                </td>
            </tr>
                        <tr class="storageMediumID">
                <td>Previous Medium Prefix</td>
                <td>
                    <input id="previousmediaimput" type="text" 
                        onkeyup=updateFilter4()
                        class="input-xxlarge"
                        placeholder="Please specify previous medium prefix. For tape AAA001, write AAA"
                        title="Please specify previous medium prefix. For tape AAA001, write AAA">
                </td>
            </tr>          
        </tbody>
    </table>
</div>       

<div class="row">
	<button type="button" class="btn btn-small" data-toggle="collapse" data-target="#need_to_migrate">-</button>
	<span>Need to migrate</span>
</div>

<div id="need_to_migrate" class="row collapse in">
    <table id="need_to_migrate-table" class="span12 display table table-bordered table-condensed">
        <thead>
            <tr>
            	<th>MediumID</th>
            	<th>CreateDate</th>
            	<th>Location</th>
            	<th>ObjectIdentifierValue</th>
            	<th>ObjectUUID</th>
            </tr>
        </thead>
        <tbody></tbody>
        <tfoot></tfoot>
    </table>
</div>

<div class="row">
	<button type="button" class="btn btn-small" data-toggle="collapse" data-target="#deactivate_media">-</button>
	<span>Deactivate storage medium</span>
</div>

<div id="deactivate_media" class="row collapse in">
    <table id="deactivate_media-table" class="span12 display table table-bordered table-condensed">
        <thead>
            <tr>
            	<th>Object</th>
            	<th>ObjectUUID</th>
        		<th>Status Process</th>
        		<th>Status Activity</th>
        		<th>Current MediumID</th>
        		<th>Location</th>
        		<th>Policy</th>
        		<th>PolicyID</th>
        		<th>Policy Status</th>
        		<th>SM 1</th>
        		<th>SM 1 target</th>
        		<th>SM 2</th>
        		<th>SM 2 target</th>
        		<th>SM 3</th>
        		<th>SM 3 target</th>
        		<th>SM 4</th>
        		<th>SM 4 target</th>
            </tr>
        </thead>
        <tbody></tbody>
        <tfoot></tfoot>
    </table>
</div>

<!--
<div class="row">
    <pre data-url="{% static "administration/js/storagemaintenance.js" %}" class="javascript"/>
</div>
-->

{% endblock %}

{% block app-extra-script %}
    {% js "TableTools/media/js/TableTools.min.js" %}
    {% js "administration/js/eztables.demo.js" %}
	{% js "administration/js/storagemaintenance.js" %}

	<script>	
		$(".btn[data-toggle='collapse']").click(function()
			{
	    		$(this).text(function(i,old)
    				{
	        			return old=='+' ?  '-' : '+';
	    		});
		});
	
		var enabledPolicies = {};
		var targets = [];

		$.getJSON( "{% url 'admin_migrationtarget' %}", function(enabledPolicies1) {

			 enabledPolicies = enabledPolicies1;
			 populatePolicyID();
			 populateprefixselection();
			 updateFilter4()
			});



		function populatePolicyID(){



			var text1 = "";

			for (i = 0; i < enabledPolicies.length; i++) {
			    text1 += "<option value=" + enabledPolicies[i].PolicyID + ">" + enabledPolicies[i].PolicyID + "," + enabledPolicies[i].PolicyName + "</option>"
			}

			document.getElementById('filter-7').innerHTML = text1;


			}

		function populateprefixselection(){
			
			var prefixes = "<option value='noprefix'> No prefix selected</option>";
			
				
				
				var selectedPolicy = document.getElementById("filter-7").value;

			
				for (i=0; i< enabledPolicies.length; i++){

			   	 if (selectedPolicy == enabledPolicies[i].PolicyID){
				
					targets = enabledPolicies[i].targetlist
					}
				}
								
				for (i = 0; i < targets.length; i++){
						
						prefixes += "<option value=" +  targets[i]  + ">" + " " +  targets[i] + " " +"</option>"
					
				}
				document.getElementById("previousmediaimput").value = "";
				document.getElementById("prefixselection").innerHTML = prefixes;
				updateFilter4();
			    
			}
		
		function prefixSelectionAction(){
			
			document.getElementById("previousmediaimput").value = "";
			updateFilter4();
		}
			
		function updateFilter4(){
			var previousInput  = document.getElementById("previousmediaimput").value;
			var selectedPrefix = document.getElementById("prefixselection").value;
			var selectedprefixrecord = "";
			
		     if(selectedPrefix == "noprefix" && previousInput.length > 1){
		    	 alert("Current Band Prefix must be choosen")
		     }
			
		     if(selectedPrefix =="noprefix"){
		    	 selectedprefixrecord = "";
		     }
		     else{
		    	 if(previousInput.length > 1){
		    		 selectedprefixrecord = "-" + previousInput + "+" + selectedPrefix;
		    	 }
		    	 else{
		    		 selectedprefixrecord = selectedPrefix;
		    	 }
		     }
			
			
			
			$('#filter-4').val(selectedprefixrecord).trigger('change');
		}
			



	</script>
<!--
<script>
$(document).ready(function() {
	function deffnFilterColumn(i) {
    	var oTable = $('#archiveobject-table').dataTable();
    	oTable.fnFilter(
            $("#filter-"+i).val(),
            i
        );
        alert('setdef:'+i+' value:'+$("#filter-"+i).val())
    }
	var test = $('#filter-3').attr('value');
	if (test) {
		deffnFilterColumn('2')
    	//alert('filter-2'+test)
   }
} );
</script>
-->
{% endblock %}
