{% extends 'admin/base_site.html' %}
{% load js staticfiles %}
{% load url from future %}

{% block server-side-base %}active{% endblock %}

{% block content %}

<div style="margin:20px">
<H1>{{ label }}</H1>


<div id="aic" class="row">
    <table id="my-table" class="span12 display table table-bordered table-condensed table-striped">
        <thead>
            <tr>
                <th>pk</th>
            	<th>Object</th>
            	<th>Generation</th>
                <th>Archivist organization</th>
                <th>Label</th>
                <th>Create date</th>
                <th>Start date</th>
                <th>End date</th>
                <th>IP type</th>
                <th>AIC (UUID)</th>
                <th>IP (UUID)</th>
                <th>Process</th>
                <th>State</th>
            </tr>
        </thead>
        <tbody></tbody>
        <tfoot></tfoot>
    </table>
</div>



{% endblock %}

{% block app-extra-script %}
    {% js "aCollapTable/aCollapTable.js" %}
<script>

var aiccheckresult = false;

$.getJSON("{% url 'aiccheck' %}", function(aiccheckresult){


if (aiccheckresult == true ){

var aiccheckhtml = '<div><button id="previousbutton" onclick="getpreviouspage()">Previous</button>' +
                    '<button id="nextpagebutton" onclick="getnextpage()">Next</button></div>' +
                    '<table class="collaptable table">' +
                    '<thead>' +
                    '<tr>' +
                '<th>Generation</th>' +
                '<th>Archivist organization</th>' +
                '<th>Label</th>' +
                '<th>Create date</th>' +
                '<th>Start date</th>' +
                '<th>End date</th>' +
                '<th>State</th>' +
                '<th>Activity</th>' +
                '<th>AIC-UUID</th>' +
                '<th>IP-UUID</th>' +
      '</tr>' +
    '</thead>' +
    '<tbody id="AICtable">' +
            '<tr><td>No information</td></tr>' +
    '</tbody>' +
  '</table>';


document.getElementById("aic").innerHTML = aiccheckhtml;

var JSONlink = '/api/aicobjects/?archiveobjects__StatusProcess=3000' //Access
//var JSONlink = '/api/aicobjects/?archiveobjects__StatusProcess__lt=3000' //ingest
//var JSONlink = "{% url 'access_list_info' %}"

var nextpage = 'nextpage';
var previouspage = 'previouspage';

accesslist(JSONlink);

}


});



$(document).ready(function() {
	$('#my-table').dataTable( {
	    "bPaginate": true,
        "sPaginationType": "bootstrap",
        "bProcessing": true,
        "bServerSide": true,
        "iDisplayLength": 10,
        "oLanguage": {
            "sLengthMenu": 'Display <select>'+
                '<option value="10">10</option>'+
                '<option value="25">25</option>'+
                '<option value="50">50</option>'+
                '<option value="100">100</option>'+
                '<option value="250">250</option>'+
                '<option value="500">500</option>'+
                '<option value="1000">1000</option>'+
                '<option value="-1">All</option>'+
                '</select> records'
        },
        "sAjaxSource": Django.url('archobjectdt'),
        "aoColumnDefs": [
    	  { 'bVisible': false, 
    	  	'aTargets': [ 0 ] 
    	  },
          { "sClass": "nowrap",
          	"aTargets": [ 1 ] 
          },
        ],
        "fnRowCallback": function( nRow, aData, iDisplayIndex ) {
            if ( aData[8] == "AIP" && aData[11] == "Archived" && aData[12] == "OK" ) {
            	$('td:eq(0)', nRow).html('<a href="/access/new/' + aData[1] + '/">' + aData[1] + '</a>');
            }
            if ( aData[8] == 'AIC' && aData[2] == 0 ) {
            	$('td:eq(1)', nRow).html('-');
            }
            else {
            	$('td:eq(1)', nRow).html('IP_' + aData[2]);
            }
        },
    } );
	$('#my-table_filter').attr('title', 'Global search in columns: Object, Archivist organization, Label, AIC(UUID), IP(UUID)');
} );

function accesslist(JSONlink){


var ajaxinfo = {};
var tabletext = '';
//$(document).ready(function(){
	
$.ajaxSetup({ cache: false }); // prevent caching
	
$.getJSON( JSONlink, function(listinfo1) {

      ajaxinfo = listinfo1;

      setaichtml(ajaxinfo);
     
     $('.collaptable').aCollapTable({
     startCollapsed: true,
     addColumn: false,
     plusButton: '<span class="i">+</span>',
     minusButton: '<span class="i">-</span>'
    });
     
});
//});

function StatusProcessChoices(Process){

       var StatusProcessText = "";

       switch(Process){
            case 3000:
                StatusProcessText = 'Archived';
                break;
            case 5000:
                StatusProcessText = 'Controlarea';
                break;
            case 5100:
                StatusProcessText = 'Workarea';
                break;
            case 9999:
                StatusProcessText = 'Deleted';
                break;
            default:
                StatusProcessText ='Not known';
                console.log('Unknown process');
                console.log(Process);
       }

        return StatusProcessText;
   };

   function StatusActivityChoices(Activity){
       
       var StatusActivityText = "";
       
       switch(Activity){
           
       case 0:
           StatusActivityText = 'OK';
           break;
       case 1: 
           StatusActivityText = 'New object';
           break;
       case 2:
           StatusActivityText = 'Receive';
       case 3:
           StatusActivityText = 'Checking';
           break;
       case 4:
           StatusActivityText = 'Need of assistance';
           break;
       case 5:
           StatusActivityText = 'Progress';
           break;
       case 6:
           StatusActivityText = 'Pending writes';
           break;
       case 7:
           StatusActivityText = 'ControlArea';
           break;
       case 8:
           StatusActivityText = 'WorkArea';
           break;
       case 100:
            StatusActivityText = 'FAIL';
            break
       default:
           console.log(Activity)
           console.log('undetermined activity');
           StatusActivityText = 'Not known';
       
       }
       
      return StatusActivityText;
   }   
   
function stringifieddate(longdate){
	    
	    //if (longdate != undefined){
	    //var datestring = longdate.toString();
	    //var shortdate = datestring.substring(0, 10);
	    return longdate;
	}
   
function setaichtml(ajaxinfo){
	
	var aicwrapper = ajaxinfo;
	
	nextpage = aicwrapper.next;
	previouspage = aicwrapper.previous;
	
	var AIClist = aicwrapper.results;

	for (i = 0; i < AIClist.length; i++){
		
		
		var IPlist = AIClist[i].archiveobjects;

		if(IPlist.length > 0){
			    var AIC = AIClist[i];
			    var lastIPcounter = IPlist.length - 1;
		        var lastIP = IPlist[lastIPcounter];
		        var lastIPinfo = lastIP.archiveobjectdata_set[0];
			
		        tabletext = tabletext
		        + '<tr data-id="' +  AIC.ObjectUUID+ '" data-parent="">'
		        + '<td>AIC</td>'
		        + '<td>'  + lastIP.EntryAgentIdentifierValue + '</td>'
		        + '<td>' + lastIPinfo.label + '</td>'
		        + '<td>' + stringifieddate(lastIP.CreateDate) + '</td>'
		        + '<td>' + stringifieddate(lastIPinfo.startdate) + '</td>'
		        + '<td>' + stringifieddate(lastIPinfo.enddate) + '</td>'
		        + '<td></td>'
		        + '<td></td>'
		        + '<td>' + AIC.ObjectUUID + '</td>'
		        +'</tr>';
		        
		        var aicparent = AIC.ObjectUUID;
		        var createlink = '/access/new/';
		        
		        for (j = 0; j < IPlist.length; j++){
		        	 
		        	var IP = IPlist[j];
		        	var IPinfo = IP.archiveobjectdata_set[0];
		            
		            tabletext = tabletext
		            + '<tr data-id=' + IP.ObjectUUID + ' ' + 'data-parent=' + aicparent + '>'
		            + '<td><a href="'+ createlink + IP.ObjectUUID +'/"> IP_' + IP.Generation + '</a></td>'
		            + '<td>' + IP.EntryAgentIdentifierValue + '</td>'
		            + '<td>' + IPinfo.label + '</td>'
		            + '<td>' + stringifieddate(IP.CreateDate) + '</td>'
		            + '<td>' + stringifieddate(IPinfo.startdate) + '</td>'
		            + '<td>' + stringifieddate(IPinfo.enddate) + '</td>'
		            + '<td> ' + StatusProcessChoices(IP.StatusProcess) + ' </td>'
		            + '<td> ' +  StatusActivityChoices(IP.StatusActivity) + '</td>'
		            + '<td>' + aicparent + '</td>'
		            + '<td>' + IP.ObjectUUID + '</td>'
		            + '</tr>';

		            
		        	
		        }//IPlist for loop
		        
		        
		} //End of length test
		else{
			console.log('Empty AIC')
		}
	};//End of for aic list for loop
	
	 
	document.getElementById("AICtable").innerHTML = tabletext;
};//End of serAIChtml function
    
};//End of accesslistfunction

function getnextpage(){

if(nextpage != null){
accesslist(nextpage);
};
};

function getpreviouspage(){

if(previouspage != null){
accesslist(previouspage);
};
};

</script>
{% endblock %}