{% extends 'index.html' %}

{% block content %}

<div style="margin:20px">

	<H1>ACCESS - Create new access request</H1>
	<p>
	<p><i>Please fill in the fields or use prefilled data   (* indicates mandatory field)</i></p>
    {% if media_list %}
        <p>Available storage media: {{media_list}}</p>
    {% endif %}
	<br>

    <form action="" method="post">
    	{% csrf_token %}
		<table id="result_list">
			<thead>
			</thead>
			<tbody>
        		{{ form.as_table }}    
			</tbody>
		</table>
		<br/>
        <p><input type="submit" value="Create &rarr;" /></p>
    </form>
</div>
{% endblock %}
