{% extends 'index.html' %}
{% load dictionary_extras %}

{% block content %}
    
<div style="margin:20px">
<H1>{{ label }}</H1>
<br/>
<small>[posted {{access.posted|timesince}} ago]</small>

<div class="results">
  <table id="result_list">
    <thead>
      <tr>
		<th>Name</th>
		<th>Value</th>
      </tr>
    </thead>
    <tbody>
    	<tr class="row1">
    		<td>ReqUUID</td>
    		<td>{{ access.ReqUUID }}</td>
    	</tr>
    	<tr class="row2">
    		<td>ReqType</td>
    		<td>{{ AccessReqType_CHOICES|access:access.ReqType }}</td>
    	</tr>
    	<tr class="row1">
    		<td>ReqPurpose</td>
    		<td>{{ access.ReqPurpose }}</td>
    	</tr>
    	<tr class="row2">
    		<td>User</td>
    		<td>{{ access.user }}</td>
    	</tr>
    	<tr class="row1">
    		<td>ObjectIdentifierValue</td>
    		<td>{{ access.ObjectIdentifierValue }}</td>
    	</tr>
    	<tr class="row2">
    		<td>StoragemediumID</td>
    		<td>{{ access.storageMediumID }}</td>
    	</tr>
    	<tr class="row1">
    		<td>Path</td>
    		<td>{{ access.Path }}</td>
    	</tr>
    	<tr class="row2">
    		<td>Status</td>
    		<td>{{ ReqStatus_CHOICES|access:access.Status }}</td>
    	</tr>
    </tbody>
  </table>
</div>

<br/>
<a href="{% url 'access_update' access.id.hex %}">Edit access request</a> | <a href="{% url 'access_delete' access.id.hex %}">Delete access request</a>

</div>    
    
    
{% endblock %}

{% block app-extra-script %}
<script>

//Reload script
window.onload = setupRefresh;

function setupRefresh() {
  setTimeout("refreshPage();", 30000);
}
function refreshPage() {
   window.location = location.href;
}

</script>
{% endblock %}
