{% extends 'index.html' %}
{% load dictionary_extras %}

{% block content %}

<div style="margin:20px">
<H1>{{ label }}</H1>

<br/>

<div class="results">
  <table id="result_list">
    <thead>
      <tr>
                {% if type == 'FromRec' %}
                    <th>Media</th>
                {% else %}
                	<th>Generation</th>
        	    {% endif %}
                <th>Archivist organization</th>
                <th>Label</th>
                <th>Create date</th>
                <th>Start date</th>
                <th>End date</th>
                <th>IP type</th>
                <th>AIC (UUID)</th>
                <th>IP (UUID)</th>
                <th>Process</th>
                <th>State</th>
      </tr>
    </thead>
    <tbody>
      	{% if type == 'FromRec' %}
	      	{% for ip in filelist %}
		      	<tr class="row{% cycle '1' '2' %}">
					{% if not ip.uuid == '' %}
						<td><a href="{% url 'controlarea_checkinfromreception' ip.uuid %}">{{ ip.media }}</a></td>
					{% else %}
						<td>{{ ip.media }}</td>
					{% endif %}
					<td>{{ ip.EntryAgentIdentifierValue }}</td>
					<td>{{ ip.label }}</td>
					<td>{{ ip.createdate }}</td>
					<td>{{ ip.startdate }}</td>
					<td>{{ ip.enddate }}</td>
					<td>{{ ip.iptype }}</td>
					<td>{{ ip.aic_uuid }}</td>
					<td>{{ ip.uuid }}</td>
					<td>{{ ip.StatusProcess }}</td>
					<td>{{ ip.state }}</td>
		      	</tr>
	      	{% endfor %}
	    {% else %}
	    	{% for aic_obj,ip_obj,ip_form,ip_obj_data,ip_obj_metadata in ip_list %}
		      	<tr class="row{% cycle '1' '2' %}">
					{% if type == 'ToWork' %}
						<td><a href="{% url 'controlarea_checkouttowork' ip_obj.pk %}">IP_{{ ip_obj.Generation }}</a></td>
					{% elif type == 'FromWork' %}
						<td><a href="{% url 'controlarea_checkinfromwork' ip_obj.pk %}">IP_{{ ip_obj.Generation }}</a></td>
					{% elif type == 'DiffCheck' %}
						<td><a href="{% url 'controlarea_diffcheck' ip_obj.pk %}">IP_{{ ip_obj.Generation }}</a></td>
					{% elif type == 'ToIngest' %}
						<td><a href="{% url 'controlarea_preserveip' ip_obj.pk %}">IP_{{ ip_obj.Generation }}</a></td>
					{% else %}
						<td>IP_{{ ip_obj.Generation }}</td>
					{% endif %}
					<td>{{ ip_obj.EntryAgentIdentifierValue }}</td>
					<td>{{ ip_obj_data.label }}</td>
					<td>{{ ip_obj.EntryDate }}</td>
					<td>{{ ip_obj_data.startdate }}</td>
					<td>{{ ip_obj_data.enddate }}</td>
					<td>{{ PackageType_CHOICES|access:ip_obj.OAISPackageType }}</td>
					<td>{{ aic_obj.ObjectUUID }}</td>
					{% if type == 'Access' %}
						<td><a href="{% url 'access_create_ip_uuid' ip_obj.ObjectUUID %}" title="Create access request">{{ ip_obj.ObjectUUID }}</a></td>
					{% elif type == 'Ingest' %}
						<td><a href="{% url 'ingest_create_ip_uuid' ip_obj.ObjectUUID %}" title="Create ingest request">{{ ip_obj.ObjectUUID }}</a></td>
					{% else %}
						<td>{{ ip_obj.ObjectUUID }}</td>
					{% endif %}  
					<td>{{ StatusProcess_CHOICES|access:ip_obj.StatusProcess }}</td>
					{% if type == 'Ingest' %}   
						<td>
						<form action="{% url 'ingest_listobjupd' ip_obj.pk %}" method="post">
						{% csrf_token %}
                    	{{ ip_form.StatusActivity }}
                		</form>
						</td>
					{% else %}
						<td>{{ ip_obj.StatusActivity }}</td>
					{% endif %}
		      	</tr>
	      	{% endfor %}
      	{% endif %}
    </tbody>
  </table>
</div>

</div>

{% endblock %}
