recursive-include * *.js *.html *.txt *.gif *.png *.css *.wsdl *.xml *.xsd *.sh *.map *.ico *.psd *.scss *.json *.swf *.woff2 *.woff *.ttf *.md *.po *.mo
include versioneer.py
include README.md
include LICENSE
recursive-include ESSArch_PP/config *.conf *.crt *.key
include ESSArch_PP/config/celerydepp
recursive-include ESSArch_PP/static *
recursive-exclude ESSArch_PP_old *
recursive-exclude SA_test *
recursive-exclude SIPDocuments *
