recursive-include * *.js *.html *.txt *.gif *.png *.css *.wsdl *.xml *.xsd *.sh
include versioneer.py
include ESSArch_EPP/_version.py
include ESSArch_EPP/config/celeryd
recursive-include ESSArch_EPP/static/bootstrap/fonts *
recursive-include ESSArch_EPP/static_root/bootstrap/fonts *