{% extends "admin/base.html" %}
{% load i18n %}

{% block title %}
{% trans 'ESSArch Administration' %}
{% endblock %}

{% block extrastyle %}
<link rel="stylesheet" href="/static/esstools.css" type="text/css" 
      media="all" />
<link rel="stylesheet" href="/static/superfish.css" type="text/css" 
      media="all" />
{% endblock %}

{% block extrahead %}
<script type="text/javascript" src="/static/admin/js/core.js"></script>
<script type="text/javascript" src="/static/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="/static/hoverIntent.js"></script>
<script type="text/javascript" src="/static/superfish.js"></script>

<script type="text/javascript">
(function($) {
    $(document).ready(function(){
        $('ul.sf-menu').superfish();
    });
})(jQuery);
</script>

{% endblock %}


{% block branding %}
  <div id="header-wrapper">
    <div id="branding-wrapper">
      <h2 class="site-name"><a href="/" title="ESSArch">ESSArch EPP</a></h2>
      <div class='site-slogan'>(ESSArch Preservation Platform)</div>
    </div><!-- end branding wrapper -->
  </div><!-- end header-wrapper -->
{% endblock %}

{% block nav-global %}
  
  {% if user.is_active and not user.is_staff %}
  <div id="user-tools">
    {% trans 'Welcome,' %}
    <strong>{% filter force_escape %}{% firstof user.first_name user.username %}{% endfilter %}</strong>.
    <a href="/changepassword">{% trans 'Change password' %}</a> /
    <a href="/logout">{% trans 'Log out' %}</a>
  </div>
  {% endif %}


  <div id="smenu">
	<ul id="contents" class="sf-menu">

		<li>
			<a href="#vertical" class="sf-with-ul" title="Manage information packages etc .." >{% trans 'CONTROL AREA' %}</a>
			<ul>
			  <li><a href="{% url controlarea_checkinfromreception_list %}">{% trans 'CheckIn from Reception' %}</a></li>
			  <li><a href="{% url controlarea_checkouttowork_list %}">{% trans 'CheckOut to Workarea' %}</a></li>
			  <li><a href="{% url controlarea_checkinfromwork_list %}">{% trans 'CheckIn from Workarea' %}</a></li>
			  <li><a href="{% url controlarea_checkouttogatefromwork %}">{% trans 'CheckOut to Gatearea from work' %}</a></li>
			  <li><a href="{% url controlarea_checkinfromgate_list %}">{% trans 'CheckIn from Gatearea' %}</a></li>
			  <li><a href="{% url controlarea_diffcheck_list %}">{% trans 'DiffCheck' %}</a></li>
			  <li><a href="{% url controlarea_preserveip_list %}">{% trans 'Preserve Information Package' %}</a></li>
			  {#}<li><a href="/controlarea/list">{% trans 'ValidateIP' %}</a></li>#}
			</ul>
	    </li>

		<li>
			<a href="#vertical" class="sf-with-ul" title="Ingest information packages etc .." >{% trans 'INGEST' %}</a>
			<ul>
			  <li><a href="{% url ingest_listobj %}">{% trans 'List information packages' %}</a></li>
			  <li><a href="{% url ingest_create %}">{% trans 'Create new ingest request' %}</a></li>
			  <li><a href="{% url ingest_list %}">{% trans 'List ingest request queue' %}</a></li>
			</ul>
	    </li>
 
		<li>
			<a href="#vertical" class="sf-with-ul" title="Access information packages etc .." >{% trans 'ACCESS' %}</a>
			<ul>
			  <li><a href="{% url access_listobj %}">{% trans 'List information packages' %}</a></li>
			  <li><a href="{% url access_create %}">{% trans 'Create new access request' %}</a></li>
			  <li><a href="{% url access_list %}">{% trans 'List access request queue' %}</a></li>
			</ul>
	    </li>
  
		<li> 
			<a href="#vertical" class="sf-with-ul">ADMINISTRATION</a>
	    	<ul>
	    		<li><a href="{% url admin_liststoragemedium %}">{% trans 'List media information' %}</a></li>
	    		<li><a href="{% url admin_listrobot %}">{% trans 'List robot information' %}</a></li>
	    	</ul>
		</li>
		
		<li> 
			<a href="#vertical" class="sf-with-ul">REPORTS</a>
	    	<ul>
	    		<li><a href="{% url reports_deliveryreport %}">{% trans 'Deliverys report' %}</a></li>
	    		<li><a href="{% url reports_eventsreport %}">{% trans 'Log Events report' %}</a></li>
	    	</ul>
		</li>

      	{% if user.is_staff %}  
		<li> 
			<a href="/admin" class="sf-with-ul">MANAGEMENT</a>
	    	<ul>
		      {#<li><a href="/admin/ip/informationpackage/">Information Packages</a></li>#}
		      <li><a href="/admin/configuration">Configuration</a></li>
		      {#<li><a href="/admin/configuration/parameter/">Parameters</a></li>#}
		      {#<li><a href="/admin/configuration/logevent/">Log Event Types</a></li>#}
		      {#<li><a href="/admin/configuration/schemaprofile/">Schema Profiles</a></li>#}
		   {#   <li><a href="/configuration/install_defaultparameters"><i>Install Default Parameters</a></i></li> #}
		      {#<li><a href="/configuration/install_defaultadditionalmetadata"><i>Install Default Additional Metadata</a></i></li>#}
	          {#<li><a href="/configuration/install_defaultusers"><i>Install Default Users</a></i></li>#}
		      {#<li><a href="/configuration/install_defaultschemas"><i>Install Default Schema Profiles</a></i></li>#}
		      {#<li><a href="/configuration/install_defaults"><i>Install Default Log Events</a></i></li>#}
	    	</ul>
		</li>
      	{% endif %}
    </ul>
  </div>
{% endblock %}

{% block breadcrumbs %} <br/> {% endblock %}



