{% extends 'index.html' %}
{% load dictionary_extras %}
{% load js staticfiles eztables %}
{% load url from future %}

{% block server-side-base %}active{% endblock %}

{% block content %}

<div class="row">
    <p>
        This page demonstrates the default server-side processing behavior:
        <ul>
            <li>Single and multi-column sorting</li>
            <li>Global search</li>
            <li>References data by column index</li>
        </ul>
    </p>
</div>

<div class="row">
    <table id="browser-table" class="span12 display table table-bordered table-condensed table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Type</th>
                <th>Status</th>
                <th>LastUpdate</th>
                <th>Location</th>
                <th>Location Status</th>
                <th>Used Capacity</th>
                <th>Used</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>


<div class="row">
    <pre data-url="{% static "js/eztables.server.base.js" %}" class="javascript"/>
</div>

test
<table id="my-table">
</table>

{% datatables_js %}
<script>
    $('#my-table').dataTable({
        "bPaginate": true,
        "sPaginationType": "bootstrap",
        "bProcessing": true,
        "bServerSide": true,
        "sAjaxSource": Django.url('storagemedium-dt')
    });
</script>
test end

{% endblock %}

{% block extra-script %}
    {% js_lib "bootstrap.min.js" %}
    {% js_lib "highlight.pack.js" %}
    {% js "js/eztables.demo.js" %}
   
    
    {% js "js/eztables.server.js" %}
    {% js "js/eztables.server.base.js" %}
{% endblock %}
   


