<div class="enter-profile-name">
  <h3 style="margin: 15px;" class="modal-title" id="modal-title">{{'GENERATE_TEMPLATE' | translate}}</h3>
</div>
<div id="add">
  <form ng-submit="$ctrl.addTemplate()" name="$ctrl.form">
    <formly-form model="$ctrl.model" fields="$ctrl.fields" form="$ctrl.form" options="$ctrl.options">
    </formly-form>
    <div class="modal-footer">
      <button class="btn btn-info" type="submit" ng-disabled="$ctrl.form.$invalid">{{'GENERATE' | translate}}</button>
      <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">{{'CANCEL' | translate}}</button>
    </div>
  </form>
</div>