<!doctype html>
<html>
    
    <div class="profile-maker">
      <div>
        <h1>Templates</h1>
          <div class="TemplateRow">
            <select class="form-control template-select" ng-change="vm.editTemplate(vm.template)" ng-model="vm.template" ng-options="x as x.name for x in vm.templates">x</select>
            <input class="btn btn-primary" type="button" ng-click="vm.generateModal()"value="Generate">
            <input class="btn btn-primary" type="button" ng-click="vm.addExtension(vm.template)" value="Add Extension">
            <input class="btn btn-danger" type="button" ng-click="vm.delete(vm.template)" value="Delete" />
          </div>
        <a class="btn btn-success" ng-click="vm.addTemplateModal()">Create new template</a>
      </div>
      <hr>
      <div ng-if="vm.edit" ng-include src="'static/frontend/views/profile_maker/edit.html'"></div>
      <div ng-if="vm.add" ng-include src="'static/frontend/views/profile_maker/add.html'"></div>
      <div ng-if="vm.generate" ng-include src="'static/frontend/views/profile_maker/generate.html'"></div>
    </div>
</html>
