/* Body */
body {
	font-family: Arial, Helvetica, sans-serif;
	color: #000;
}

.container {
	margin-left: 20px;
}

.collapse.in {
    overflow: visible;
}

.login .form-row #id_username, .login .form-row #id_password {
    height: 30px;
}

/* Django header and logo */
#header {
	height: 78px;
	position: relative;
	margin: 0 auto;
	overflow:visible;
}

#branding {
        float: none;
        line-height: 45px;
}

#user-tools {
        position: absolute;
        right: 0px;
        top: 0px;
}

.site-name {
	display: inline; 
	font-weight: bold;
	font-size: 25px;
	margin-left: 15px;
	position: relative;
	font-family: Verdana, Tahoma;
	font-style: italic;
}

.site-slogan {
	display: inline;                       
	font-weight: bold;
	position: relative;
	margin-left: 10px;
	font-family: Verdana, Tahoma;
}

/* Supoerfish */

.sf-menu {
	margin-bottom: 0em;
}

.sf-menu li {
    background: #41769f;
}

.sf-menu ul li {
    background: #41769f;
}

.sf-menu ul ul li {
    background: #41769f;
}

.sf-menu li.sfHover {
    background: #41769f;
}

/* Text */
.required:after { 
	content:" *";
	color:red 
}
.highlight {
	background-color:maroon;
	color:white;
}
.highlight-green {
	background-color:green;
	color:white;
}



