<!doctype html>
<html ng-app="myApp">
    <head ng-controller="HeadCtrl as vm">
        <meta name="viewport" content="width=680, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="static/frontend/styles/styles.css">
        <style>
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }
        </style>

        <!--Vendors -->
        <script src="static/frontend/scripts/vendors.min.js"></script>

        <!--App -->
        <script src="static/frontend/scripts/scripts.min.js"></script>
        {% verbatim %}
        <title ng-bind="vm.pageTitle"></title>
        {% endverbatim %}

    </head>
    {% verbatim %}
    <body ui-view>
    </body>
    {% endverbatim %}
</html>
