<!doctype html>
<html ng-app="myApp" ng-controller="AppCtrl as vm" ng-keydown="vm.questionMarkListener($event)">
    {% verbatim %}
    <head ng-controller="HeadCtrl as vm">
        <meta name="viewport" content="{{vm.responsiveTag}}">
        <link rel="stylesheet" type="text/css" href="static/frontend/styles/styles.css">
        <style>
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }
        </style>

        <!--Polyfills -->
        <script src="static/frontend/scripts/polyfills.min.js"></script>

        <!--Vendors -->
        <script src="static/frontend/scripts/vendors.min.js"></script>

        <!--App -->
        <script src="static/frontend/scripts/scripts.min.js"></script>
        <title ng-bind="vm.pageTitle"></title>

    </head>
    <body>
        <div ui-view>
        </div>
    </body>
    {% endverbatim %}
</html>
