<!doctype html>
<html ng-app="myApp">
    <head>
        <meta name="viewport" content="width=900, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="static/frontend/styles/styles.css">
        <style>
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }
        </style>

        <!--Vendors -->
        <script src="static/frontend/scripts/vendors.min.js"></script>

        <!--App -->
        <script src="static/frontend/scripts/scripts.min.js"></script>
        <title>ESSArch Preservation Platform</title>
    </head>
    {% verbatim %}
    <body ui-view>
    </body>
    {% endverbatim %}
</html>
