{% extends "admin/base_site.html" %}

{% block server-side-base %}active{% endblock %}

{% block app-extra-style %}
{% endblock %}

{% block container %}

	<H2>INGEST - Create new ingest request</H2>
	<p>
	<p><i>Please fill in the fields or use prefilled data   (* indicates mandatory field)</i></p>
	<br>
    <button onclick=getwaitingforapprovallist()>Get all objects waiting for approval</button>
    <br>
    <br>
    <form id="frm01" action="" method="post">
    	{% csrf_token %}
		<table id="result_list">
			<thead>
			</thead>
			<tbody>
        		{{ form.as_table }}    
			</tbody>
		</table>
		<br/>
        <p><input type="submit" value="Create &rarr;" /></p>
    </form>
	{% if autosubmit == "1" %}
	    <script type="text/javascript">
	    {
	    document.getElementById("frm01").submit();
	    }
	    </script>
	{% endif %}  

{% endblock %}

{% block app-extra-script %}

<script>

function getwaitingforapprovallist(){
	$.getJSON( '/api/archiveobjects/?ObjectIdentifierValue=&ObjectUUID=&PolicyId=&StatusActivity=0&StatusProcess=21', function(waitingforapprovallist) {
		var waitingforapprovalobjs = ""
		for(i=0; i< waitingforapprovallist.length; i++){
			if(waitingforapprovalobjs.length == 0){
				waitingforapprovalobjs += waitingforapprovallist[i]['ObjectIdentifierValue'];
			}
			else{
				waitingforapprovalobjs += '\n' + waitingforapprovallist[i]['ObjectIdentifierValue'];	
			}
		}
		$('#id_ObjectIdentifierValue').text(waitingforapprovalobjs);
	});
};

</script>

{% endblock %}
