{% extends 'index.html' %}
{% load dictionary_extras %}

{% block content %}

<div style="margin:20px">
<H1>{{ label }}</H1>

<br/>

<div class="results">
{% if req_list %}
  <table id="result_list" class="table">
    <thead>
      <tr>
                <th>ReqUUID</th>
                <th>ReqType</th>
                <th>ReqPurpose</th>
                <th>User</th>
                <th>IP (UUID)</th>
                <th>State</th>
                <th>Posted</th>
      </tr>
    </thead>
    <tbody>
	    	{% for req_obj in req_list %}
		      	<tr class="row{% cycle '1' '2' %}">	
					<td><a href="{% url 'ingest_detail' req_obj.pk %}" title='Detail information'>{{ req_obj.ReqUUID }}</a></td>	
					<td>{{ IngestReqType_CHOICES|access:req_obj.ReqType }}</td>
					<td>{{ req_obj.ReqPurpose }}</td>
					<td>{{ req_obj.user }}</td>
					<td>{{ req_obj.ObjectIdentifierValue }}</td>
					<td>{{ ReqStatus_CHOICES|access:req_obj.Status }}</td>
					<td><small>[posted {{req_obj.posted|timesince}} ago]</small></td>
		      	</tr>
	      	{% endfor %}
    </tbody>
  </table>
{% else %}
	No request exists
{% endif %}
</div>

</div>    
   
{% endblock %}

{% block app-extra-script %}
<script>

//Reload script
window.onload = setupRefresh;

function setupRefresh() {
  setTimeout("refreshPage();", 30000);
}
function refreshPage() {
   window.location = location.href;
}

</script>
{% endblock %}
