{% extends "index.html" %} 
 
{% block content %} 

<script type="text/javascript" src="/static/admin/js/admin/RelatedObjectLookups.js"></script>


<div id="content" class="flex">
  
  <div id="content-main" style="margin:20px;">

    <div class="results">
      <table id="result_list">
	<thead>
	  <tr>
	    <th scope="col"  class="action-checkbox-column">
	      <div class="text"></div>
	      <div class="clear"></div>
	    </th>
	    <th scope="col" >Event Type</th>
	    <th scope="col" >Event Detail</th>
	  </tr>
	</thead>
	<tbody>
	  
	  {% if logevent_list %}
  	    {% for event in logevent_list %}
	      <tr class="row{% cycle '1' '2' %}">
		<td><a href="/configuration/logevents/{{event.id}}/del">Del</a></td>
		<th><a href="/configuration/logevents/{{event.id}}">{{ event.eventType }}</a></th>
		<th><a href="/configuration/logevents/{{event.id}}">{{ event.eventDetail }}</a></th>
	      </tr>
	    {% endfor %}
	  {% endif %}

	      <tr class="row1">
		<td><a href="/configuration/logevents/add">Add</a></td>
		<th></th>
		<th></th>
	      </tr>


	</tbody>
      </table>
    </div>

    <div>
      <a href="/configuration/logevents/install_defaults">(Install Default Events)</a>
    </div>
  </div>
  
</div>

<div id="msg">
<span style="color: red;" >{{ message }}</span>
</div>

{% endblock %} 
