<div ng-if="row" class="clickable" style="white-space: nowrap;" ng-click="ipTableClick(row)" context-menu="menuOptions('row')"
    uib-popover="{{row.end_date | date:'yyyy-MM-dd HH:mm:ss'}}" popover-placement="top-left" popover-popup-delay="500" popover-append-to-body="true">
    {{row.end_date | date:"yyyy-MM-dd"}}
</div>
<div ng-if="subrow" class="clickable" style="white-space: nowrap;" ng-click="ipTableClick(subrow)" context-menu="menuOptions('subrow')"
    uib-popover="{{subrow.end_date | date:'yyyy-MM-dd HH:mm:ss'}}" popover-placement="top-left" popover-popup-delay="500" popover-append-to-body="true">
    {{subow.end_date | date:"yyyy-MM-dd"}}
</div>
