<div ng-if="!subrow">
  <div
    class="clickable"
    style="white-space: nowrap;"
    ng-click="ipTableClick(row, $event)"
    context-menu="menuOptions('row', row)"
  >
    {{row.appraisal_date ? (row.appraisal_date | date:"yyyy-MM-dd"):('UNSPECIFIED' | translate)}}
  </div>
</div>
<div ng-if="subrow">
  <div
    class="clickable"
    style="white-space: nowrap;"
    ng-click="ipTableClick(subrow, $event)"
    context-menu="menuOptions('subrow', subrow)"
  >
    {{subrow.appraisal_date ? (subrow.appraisal_date | date:"yyyy-MM-dd"):('UNSPECIFIED' | translate)}}
  </div>
</div>
