<div ng-if="!subrow">
<div class="step-state" style="min-width: 86px;" context-menu="menuOptions('row')">
    <div ng-if="row.step_state == 'SUCCESS'" class="step-state-success"><b>{{'SUCCESS' | translate}}</b></div>
    <div ng-if="row.step_state == 'FAILURE'" class="step-state-failure"><b>{{'FAILURE' | translate}}</b></div>
    <div ng-if="row.step_state != 'SUCCESS' && row.step_state !='FAILURE'" class="step-state-in-progress"><b>{{'INPROGRESS' | translate}}</b></div>
</div>
</div>
<div ng-if="subrow">
    <div class="step-state" style="min-width: 86px;" context-menu="menuOptions('subrow')">
        <div ng-if="subrow.step_state == 'SUCCESS'" class="step-state-success"><b>{{'SUCCESS' | translate}}</b></div>
        <div ng-if="subrow.step_state == 'FAILURE'" class="step-state-failure"><b>{{'FAILURE' | translate}}</b></div>
        <div ng-if="subrow.step_state != 'SUCCESS' && subrow.step_state !='FAILURE'" class="step-state-in-progress"><b>{{'INPROGRESS' | translate}}</b></div>
    </div>
</div>
