<div ng-if="!subrow" class="flex-row" style="width: 50px;">
    <span ng-if="row.archived" class="fa fa-lg fa-archive" uib-popover="{{'LONG_ARCHIVAL_STORAGE' | translate}}" popover-placement="top-left" popover-popup-delay="500" popover-append-to-body="true"></span>
    <span ng-if="row.cached" class="fa fa-lg fa-database" uib-popover="{{'ARCHIVAL_STORAGE' | translate}}" popover-placement="top-left" popover-popup-delay="500" popover-append-to-body="true"></span>
</div>
<div ng-if="subrow" class="flex-row" style="width: 50px;">
    <span ng-if="subrow.archived" class="fa fa-lg fa-archive" uib-popover="{{'LONG_ARCHIVAL_STORAGE' | translate}}" popover-placement="top-left" popover-popup-delay="500" popover-append-to-body="true"></span>
    <span ng-if="subrow.cached" class="fa fa-lg fa-database" uib-popover="{{'ARCHIVAL_STORAGE' | translate}}" popover-placement="top-left" popover-popup-delay="500" popover-append-to-body="true"></span>
</div>
