<div ng-if="!('home.ingest.workarea' | isState) && !('home.access.workarea' | isState)">
    <div ng-if="!subrow && (row.responsible.id == auth.id || row.responsible == null) && row.package_type != 1 && row.state !== 'Receiving'">
        <a tabindex="-1" class="no-select" ng-click="filebrowserClick(row)">{{'FILEBROWSER' | translate}}</a>
    </div>
    <div ng-if="subrow && (subrow.responsible.id == auth.id || subrow.responsible == null)  && row.state !== 'Receiving'">
        <a class="no-select" ng-click="filebrowserClick(subrow)">{{'FILEBROWSER' | translate}}</a>
    </div>
</div>
<div ng-if="('home.ingest.workarea' | isState) || ('home.access.workarea' | isState)">
    <div ng-if="!subrow && row.package_type != 1 && row.state !== 'Receiving'">
        <a tabindex="-1" class="no-select" ng-click="filebrowserClick(row)">{{'FILEBROWSER' | translate}}</a>
    </div>
    <div ng-if="subrow && row.state !== 'Receiving'">
        <a tabindex="-1" class="no-select" ng-click="filebrowserClick(subrow)">{{'FILEBROWSER' | translate}}</a>
    </div>
</div>
