<div ng-if="!subrow">
<div class="clickable" style="white-space: nowrap;" ng-click="selectIp(row);stateClicked(row)" uib-popover="{{'IPSTATEDESC' | translate}}: {{row.Label}}" popover-trigger="'mouseenter'" popover-placement="top-left" popover-popup-delay="500" popover-append-to-body="true" context-menu="menuOptions('row')"><a href="">{{row.State}}</a></div>
</div>
<div ng-if="subrow">
    <div class="clickable" style="white-space: nowrap;" ng-click="selectIp(subrow);stateClicked(subrow)" uib-popover="{{'IPSTATEDESC' | translate}}: {{subrow.Label}}" popover-trigger="'mouseenter'" popover-placement="top-left" popover-popup-delay="500" popover-append-to-body="true" context-menu="menuOptions('subrow')"><a href="">{{subrow.State}}</a></div>
</div>
