<div ng-if="!subrow">
    <div ng-if="!row.workarea" class="clickable" ng-click="ipTableClick(row, $event)" context-menu="menuOptions('row', row)">{{row.responsible.username}}</div>
    <div ng-if="row.workarea" class="clickable" ng-click="ipTableClick(row, $event)" context-menu="menuOptions('row', row)">{{row.workarea.user.username}}</div>
</div>
<div ng-if="subrow">
    <div ng-if="!subrow.workarea" class="clickable" ng-click="ipTableClick(subrow, $event)" context-menu="menuOptions('subrow', subrow)">{{subrow.responsible.username}}</div>
    <div ng-if="subrow.workarea" class="clickable" ng-click="ipTableClick(subrow, $event)" context-menu="menuOptions('subrow', subrow)">{{subrow.workarea.user.username}}</div>
</div>
