<div ng-if="!subrow">
    <div class="white-space-nowrap" ng-click="ipTableClick(row, $event)" uib-popover="{{'IPSTATEDESC' | translate}}: {{row.label}}" popover-placement="top-left" popover-popup-delay="500" popover-append-to-body="true" context-menu="menuOptions('row', row)">
        <span>{{row.state}}</span>
    </div>
</div>
<div ng-if="subrow">
    <div class="white-space-nowrap" ng-click="ipTableClick(subrow, $event)" uib-popover="{{'IPSTATEDESC' | translate}}: {{subrow.label}}" popover-placement="top-left" popover-popup-delay="500" popover-append-to-body="true" context-menu="menuOptions('subrow', subrow)">
        <span>{{subrow.state}}</span>
    </div>
</div>
