<div ng-if="!subrow">
    <div ng-if="!('home.ingest.reception' | isState)" class="clickable" ng-click="selectIp(row);ipTableClick(row)" uib-popover="{{'LABELDESC' | translate}}: {{row.Label}}" popover-placement="top-left" popover-popup-delay="500" popover-append-to-body="true" context-menu="menuOptions('row')">{{row.ObjectIdentifierValue}}</div>
    <div ng-if="'home.ingest.reception' | isState" class="clickable" ng-click="selectIp(row);ipTableClick(row)" uib-popover="{{'LABELDESC' | translate}}: {{row.Label}}" popover-placement="top-left" popover-popup-delay="500" popover-append-to-body="true" context-menu="menuOptions('row')">{{row.id}}</div>
</div>
<div ng-if="subrow">
    <div class="clickable" ng-click="selectIp(subrow);ipTableClick(subrow)" uib-popover="{{'LABELDESC' | translate}}: {{subrow.Label}}" popover-placement="top-left" popover-popup-delay="500" popover-append-to-body="true" style="padding-left: 30px;" context-menu="menuOptions('subrow')">{{subrow.ObjectIdentifierValue}}</div>
</div>
