<div ng-if="!subrow">
    <div style="white-space: nowrap;text-overflow: ellipsis;" class="clickable" ng-click="selectIp(row);ipTableClick(row)" uib-popover="{{'LABELDESC' | translate}}: {{row.label}}" popover-placement="top-left" popover-popup-delay="500" popover-append-to-body="true" context-menu="menuOptions('row')">
        <div class="object-identifier-value">{{row.object_identifier_value}}</div>
        <div ng-if="row.package_type != 1 && row.package_type != 4 && row.state !== 'At reception'" class="generation-indicator">
            <i class="fa fa-lg fa-code-fork"></i>  {{row.generation}}
        </div>
    </div>
</div>
<div ng-if="subrow">
    <div style="white-space: nowrap;text-overflow: ellipsis;" class="clickable" ng-click="selectIp(subrow);ipTableClick(subrow)" uib-popover="{{'LABELDESC' | translate}}: {{subrow.label}}" popover-placement="top-left" popover-popup-delay="500" popover-append-to-body="true" style="padding-left: 30px;" context-menu="menuOptions('subrow')">
        <div style="display: inline-block" class="object-identifier-value">{{subrow.object_identifier_value}}</div>
            <div class="generation-indicator"><i class="fa fa-lg fa-code-fork"></i>  {{subrow.generation}}</div>
        </div>
</div>
