<div ng-if="!subrow">
    <div ng-click="ipRowClick(row)" context-menu="menuOptions('row', row)">
        <button tabindex="-1"
                type="button"
                ng-if="vm.canDeleteIP(row)"
                ng-click="removeIpModal(row)"
                class="fa fa-trash"
                uib-popover="{{'REMOVEIP' | translate}}: {{row.label}}"
                popover-placement="top-left"
                popover-popup-delay="500"
                popover-append-to-body="true"></button>
    </div>
</div>
<div ng-if="subrow">
    <div ng-click="ipRowClick(subrow)" context-menu="menuOptions('subrow', subrow)">
        <button tabindex="-1"
                type="button"
                ng-if="vm.canDeleteIP(subrow)"
                ng-click="removeIpModal(subrow)"
                class="fa fa-trash"
                uib-popover="{{'REMOVEIP' | translate}}: {{subrow.label}}"
                popover-placement="top-left"
                popover-popup-delay="500"
                popover-append-to-body="true"></button>
    </div>
</div>
