<div ng-if="!subrow">
    <div ng-click="ipRowClick(row)" context-menu="menuOptions('row')">
        <button type="button"
                ng-if="row.Responsible.id == auth.id || checkPermission('ip.delete_informationpackage')"
                ng-click="removeIpModal(row)"
                class="fa fa-trash"
                uib-popover="{{'REMOVEIP' | translate}}: {{row.Label}}"
                popover-placement="top-left"
                popover-popup-delay="500"
                popover-append-to-body="true"></button>
    </div>
</div>
<div ng-if="subrow">
    <div ng-click="ipRowClick(subrow)" context-menu="menuOptions('subrow')">
        <button type="button"
                ng-if="subrow.Responsible.id == auth.id || checkPermission('ip.delete_informationpackage')"
                ng-click="removeIpModal(subrow)"
                class="fa fa-trash"
                uib-popover="{{'REMOVEIP' | translate}}: {{subrow.Label}}"
                popover-placement="top-left"
                popover-popup-delay="500"
                popover-append-to-body="true"></button>
    </div>
</div>
