<div ng-if="!subrow">
    <div ng-if="!('home.ingest.reception' | isState)"class="clickable" ng-click="selectIp(row);ipTableClick(row)" context-menu="menuOptions('row')">{{row.ArchivalInstitution.name}}</div>
    <div ng-if="'home.ingest.reception' | isState"class="clickable" ng-click="selectIp(row);ipTableClick(row)" context-menu="menuOptions('row')">{{row.archival_institution}}</div>
</div>
<div ng-if="subrow">
    <div class="clickable" ng-click="selectIp(subrow);ipTableClick(subrow)" context-menu="menuOptions('subrow')">{{subrow.ArchivalInstitution.name}}</div>
</div>
