<div class="access-ip">
    <div class="content-wrapper">
        <div class="list-view" ng-include src="'static/frontend/views/list_view_table.html'"></div>
        <div ng-if="requestForm && (checkPermission('ip.get_from_storage') || checkPermission('ip.get_from_storage_as_new') || checkPermission('ip.get_tar_from_storage') || auth.id == ip.responsible.id)" class="request-layout">
            <form id="request-form" name="vm.requestForm" class="request-form" ng-submit="submitRequest(ip, vm.request)">
                <div class="request-type">
                    <div ng-if="checkPermission('ip.get_from_storage') || auth.id == ip.responsible.id">
                        <input type="radio" ng-model="vm.request.type" value="get">
                        <label>
                            {{'GET' | translate}}
                        </label>
                    </div>
                    <div ng-if="checkPermission('ip.get_tar_from_storage') || auth.id == ip.responsible.id">
                        <input type="radio" ng-model="vm.request.type" value="get_tar">
                        <label>
                            {{'GET_AS_CONTAINER' | translate}}
                        </label>
                    </div>
                    <div ng-if="checkPermission('ip.get_from_storage_as_new') || auth.id == ip.responsible.id">
                        <input type="radio" ng-model="vm.request.type" value="get_as_new">
                        <label>
                            {{'GET_AS_NEW_GENERATION' | translate}}
                        </label>
                    </div>
                </div>
                <div class="request-params">
                    <div ng-if="vm.request.type == 'get' || vm.request.type == 'get_tar' || vm.request.type == 'get_as_new' || vm.request.type == 'query'">
                        <label>
                            {{'PURPOSE' | translate}}
                        </label>
                        <input required class="form-control" ng-model="vm.request.purpose">
                    </div>
                </div>
            </form>
        </div>
        <div ng-if="(eventShow || statusShow)" class="events-status-wrapper">
            <event-table ng-if="eventShow || vm.request.type == 'preserve'" ip="ip"></event-table>
            <div ng-if="statusShow" class="status-view">
                <div ng-include src="'static/frontend/views/status_tree_view.html'"></div>
            </div>
        </div>
        <div ng-if="filebrowser" class="file-browser" ng-controller="FilebrowserController" ng-include src="'static/frontend/views/filebrowser.html'"></div>
        <div ng-if="eventlog && (vm.request.type == 'get' || vm.request.type == 'get_tar' || vm.request.type == 'get_as_new' || vm.request.type == 'query')"
            class="select-sub-edit-eventlog-wrapper">
            <div ng-if="eventlog" class="eventlog-view">
                <form class="eventlog-form">
                    <div class="checkbox">
                        <label>
                            <input type="checkBox" ng-model="approvedToSubmit">{{'REQUESTAPPROVED' | translate}}</input>
                        </label>
                    </div>
                    <button type="button" ng-click="clickSubmit()" ng-dblClick="" ng-disabled="!approvedToSubmit" class="btn btn-info submit-button">{{'SUBMIT' | translate}}</button>
                </form>
            </div>
        </div>
    </div>
</div>
