<div class="access-workarea">
    <div class="content-wrapper">
        <div class="list-view" ng-include src="'static/frontend/views/list_view_table.html'"></div>
        <div ng-if="requestForm" class="request-layout">
            <form id="request-form" name="vm.requestForm" class="request-form" ng-submit="submitRequest(ip, vm.request)">
                <div class="request-type">
                    <div ng-if="checkPermission('ip.diff_check') && !ip.workarea.read_only">
                        <label>
                            <input type="radio" ng-model="vm.request.type" value="diff_check">
                            {{'DIFFCHECK' | translate}}
                        </label>
                    </div>
                    <div ng-if="checkPermission('ip.preserve_from_access_workarea') && !ip.workarea.read_only">
                        <label>
                            <input type="radio" ng-model="vm.request.type" value="preserve">
                            {{'PRESERVE' | translate}}
                        </label>
                    </div>
                    <div ng-if="checkPermission('ip.move_from_access_workarea') && !ip.workarea.read_only">
                        <input type="radio" ng-model="vm.request.type" value="move_to_approval">
                        <label>
                            {{'MOVE_TO_INGEST_APPROVAL' | translate}}
                        </label>
                    </div>
                </div>
                <div class="request-params">
                    <div ng-if="vm.request.type == 'view' || vm.request.type == 'edit_as_new' || vm.request.type == 'diff_check' || vm.request.type == 'preserve' || vm.request.type == 'move_to_approval'">
                        <label>
                            {{'PURPOSE' | translate}}
                        </label>
                        <input required class="form-control" ng-model="vm.request.purpose">
                    </div>
                </div>
            </form>
        </div>
        <div ng-if="(eventShow || statusShow || vm.request.type =='preserve')" class="events-status-wrapper">
            <event-table ng-if="eventShow || vm.request.type == 'preserve'" ip="ip"></event-table>
            <div ng-if="statusShow" class="status-view">
                <div ng-include src="'static/frontend/views/status_tree_view.html'"></div>
            </div>
        </div>
        <div ng-if="filebrowser" class="file-browser">
            <div class="file-explorer">
                <div class="nav-refresh-wrapper">
                    <div class="file-explorer-nav">
                        <li ng-class="{'arrow-disabled': previousGridArrays.length == 0}" class="fa fa-arrow-circle-o-left fa-2x clickable" ng-click="previousGridArray()"></li>
                        <b class="dir-path">{{previousGridArraysString()}}</b>
                    </div>
                    <span ng-click="updateGridArray(ip)" class="clickable fa fa-refresh fa-lg" ng-class="{'fa-refresh-animate': deckGridLoading }"
                    uib-popover="{{'REFRESHTABLEDESC' | translate}}" popover-placement="top-left" popover-popup-delay="500" popover-append-to-body="true"></span>
                </div>
                <div class="deckgrid">
                    <div class="flex-grid">
                        <div class="card" ng-repeat="card in deckGridData" ng-include src="'static/frontend/views/deckgrid_card.html'"></div>
                    </div>
                </div>
                <button ng-if="!ip.workarea.read_only && selectedCards.length && ip.state !== 'Created' && ip.state !== 'Creating' && ip.state !== 'Submitted' && ip.state !=='Uploaded' && ip.state !== 'At reception'" class="btn btn-default" ng-click="removeFiles()" translate="REMOVE"></button>
                <button ng-if="!ip.workarea.read_only && ip.state !== 'Created' && ip.state !== 'Creating' && ip.state !== 'Submitted' && ip.state !=='Uploaded' && ip.state !== 'At reception'" ng-click="newDirModal()" class="btn btn-default" translate="NEWFOLDER"></button>
            </div>
            <div id="file-upload" ng-if="!ip.workarea.read_only && (ip.responsible.id == auth.id || checkPermission('ip.can_upload')) && showFileUpload" ng-include
            src="'static/frontend/views/file_upload.html'"></div>
        </div>
        <div ng-if="eventlog && (vm.request.type == 'edit_as_new' || vm.request.type == 'view' || vm.request.type == 'diff_check' || vm.request.type == 'preserve' || vm.request.type == 'move_to_approval')"
            class="select-sub-edit-eventlog-wrapper">
            <div ng-if="eventlog" class="eventlog-view">
                <form class="eventlog-form">
                    <div class="checkbox">
                        <label>
                            <input type="checkBox" ng-model="approvedToPreserve">{{'REQUESTAPPROVED' | translate}}</input>
                        </label>
                    </div>
                    <button type="button" ng-click="clickSubmit()" ng-dblClick="" ng-disabled="!approvedToPreserve" class="btn btn-info submit-button">{{'SUBMIT' | translate}}</button>
                </form>
            </div>
        </div>
    </div>
</div>
