<div class="modal-heading">
  <h3 class="modal-title" id="modal-title">
    {{'ACCESS.ADD_RELATION_TO_STRUCTURE_UNIT' | translate}}
  </h3>
</div>
<form ng-submit="$ctrl.add()">
  <div class="modal-body" id="modal-body">
    <div class="margin-top-5">
      <label>{{'ACCESS.CLASSIFICATION_STRUCTURE' | translate}}</label>
      <div class="input-group">
        <ui-select
          allow-clear
          ng-model="$ctrl.structure.value"
          on-select="$ctrl.structureChanged($item)"
          theme="bootstrap"
          sortable="true"
          close-on-select="true"
          append-to-body="false"
        >
          <ui-select-match ng-attr-placeholder="{{'ACCESS.CLASSIFICATION_STRUCTURE' | translate}}"
            >{{$ctrl.structure.value.name}}</ui-select-match
          >
          <ui-select-choices
            ng-hide="!$select.open"
            refresh-delay="0"
            refresh="$ctrl.getStructures($select.search)"
            repeat="x in $ctrl.structure.options | propsFilter: {name: $select.search}"
          >
            <div ng-bind-html="x.name | highlight: $select.search"></div>
          </ui-select-choices>
          <ui-select-no-choice>
            <div class="text-center">{{'NO_RESULTS_FOUND' | translate}}</div>
          </ui-select-no-choice>
        </ui-select>
        <span class="input-group-btn">
          <button
            ng-disabled="$ctrl.sa.profile_content_type"
            type="button"
            ng-click="$ctrl.structure.value = null"
            class="btn btn-sm btn-default"
          >
            <span class="fas fa-trash-alt"></span>
          </button>
        </span>
      </div>
    </div>
    <div ng-if="$ctrl.structure.value" class="margin-top-5">
      <label>{{'ACCESS.STRUCTURE_UNIT' | translate}}</label>
      <div class="input-group">
        <ui-select
          allow-clear
          ng-model="$ctrl.relation.structure_unit"
          theme="bootstrap"
          sortable="true"
          close-on-select="true"
          append-to-body="false"
        >
          <ui-select-match ng-attr-placeholder="{{'ACCESS.STRUCTURE_UNIT' | translate}}"
            >{{$select.selected.name}}</ui-select-match
          >
          <ui-select-choices
            ng-hide="!$select.open"
            refresh-delay="0"
            refresh="$ctrl.getStructureUnits($ctrl.structure.value.id, $select.search)"
            repeat="x.id as x in $ctrl.unit.options | propsFilter: {name: $select.search}"
          >
            <div ng-bind-html="x.name | highlight: $select.search"></div>
          </ui-select-choices>
          <ui-select-no-choice>
            <div class="text-center">{{'NO_RESULTS_FOUND' | translate}}</div>
          </ui-select-no-choice>
        </ui-select>
        <span class="input-group-btn">
          <button
            ng-disabled="$ctrl.sa.profile_content_type"
            type="button"
            ng-click="$ctrl.unit.value = null"
            class="btn btn-sm btn-default"
          >
            <span class="fas fa-trash-alt"></span>
          </button>
        </span>
      </div>
    </div>
    <div>
      <label>
        {{'TYPE' | translate}}
      </label>
      <select
        class="form-control"
        ng-model="$ctrl.relation.type"
        ng-options="x.value as x.display_name for x in $ctrl.options.type.choices"
        required
      ></select>
      <div class="flex-100-grow align-items-center pt-base">
        <div>
          <label>
            {{'ACCESS.VALID_DATE_START' | translate}}
          </label>
          <div class="dropdown" uib-dropdown is-open="dropdown_status.relation.start_date">
            <a class="dropdown-toggle" id="dropdown-start_date" role="button" uib-dropdown-toggle>
              <div class="input-group">
                <input
                  type="text"
                  data-date-time-input="YYYY-MM-DD"
                  class="form-control"
                  data-ng-model="$ctrl.relation.start_date"
                /><span class="input-group-addon"><i class="fas fa-calendar-alt"></i></span>
              </div>
            </a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel" uib-dropdown-menu>
              <datetimepicker
                data-ng-model="$ctrl.relation.start_date"
                ng-change="dropdown_status.relation.start_date = false"
                data-datetimepicker-config="{ dropdownSelector: '#dropdown-startlDate', minView: 'day', startView: 'year', modelType: 'YYYY-MM-DD'}"
              />
            </ul>
          </div>
        </div>
        <div class="ml-base">
          <label>
            {{'ACCESS.VALID_DATE_END' | translate}}
          </label>
          <div class="dropdown" uib-dropdown is-open="dropdown_status.relation.end_date">
            <a class="dropdown-toggle" id="dropdown-endlDate" role="button" uib-dropdown-toggle>
              <div class="input-group">
                <input
                  type="text"
                  data-date-time-input="YYYY-MM-DD"
                  class="form-control"
                  data-ng-model="$ctrl.relation.end_date"
                /><span class="input-group-addon"><i class="fas fa-calendar-alt"></i></span>
              </div>
            </a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel" uib-dropdown-menu>
              <datetimepicker
                data-ng-model="$ctrl.relation.end_date"
                ng-change="dropdown_status.relation.end_date = false"
                data-datetimepicker-config="{ dropdownSelector: '#dropdown-endDate', minView: 'day', startView: 'year', modelType: 'YYYY-MM-DD'}"
              />
            </ul>
          </div>
        </div>
      </div>
      <label>
        {{'DESCRIPTION' | translate}}
      </label>
      <textarea
        class="form-control"
        name="description"
        ng-model="$ctrl.relation.description"
        maxlength="255"
        rows="3"
      ></textarea>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" type="submit" ng-disabled="$ctrl.adding">
      {{'SAVE' | translate}} <i ng-if="$ctrl.saving" class="fas fa-spinner fa-spin" />
    </button>
    <button class="btn btn-default" type="button" ng-click="$ctrl.cancel()" ng-disabled="$ctrl.adding">
      {{'CANCEL' | translate}}
    </button>
  </div>
</form>
