<div class="content-wrapper">
    <div class="list-view" st-table="vm.robotCollection" st-safe-src="vm.robots">
        <h4>{{'TAPELIBRARY' | translate}}</h4>
        <div class="search-prepare-wrapper">
            <label for items-per-page></label>
            <select id="items-per-page" ng-change="updateIpsPerPage(vm.itemsPerPage)" style="margin-right: 10px;" class="form-control items-per-page" ng-model="vm.itemsPerPage" ng-options="x for x in [5,10,20,25,50]" uib-popover="{{'ITEMSPERPAGE' | translate}}" popover-placement="top-left" popover-popup-delay="500" popover-append-to-body="true"></select>
            <input st-search="" style="width: 50%;" class="form-control" placeholder="{{'GLOBALSEARCH' | translate}}" type="text" uib-popover="{{'GLOBALSEARCHDESC' | translate}}" popover-placement="top-left" popover-popup-delay="500" popover-append-to-body="true" />
            <span ng-click="loadRobots()" class="clickable fa fa-refresh fa-lg" ng-class="{'fa-refresh-animate': ipLoading }" uib-popover="{{'REFRESHTABLEDESC' | translate}}" popover-placement="left" popover-popup-delay="500" popover-append-to-body="true"></span>
        </div>
        <div id="list-view" class="list-view-table">
            <table class="table table-striped" style="margin-bottom: 0px;">
                <thead>
                    <tr>
                        <th class="clickable" st-sort="storage_target" class="column-label">{{'LABEL' | translate}}</th>
                        <th class="clickable" st-sort="device" class="column-label">{{'DEVICE' | translate}}</th>
                        <th class="clickable" st-sort="online" class="column-label">{{'STATE' | translate}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-class="{'selected': vm.selectedRobot.id == row.id}" ng-repeat="row in vm.robotCollection"  ng-attr-context-menu="menuOptions" class="table-item">
                        <td class="clickable" ng-click="robotClick(row)">{{row.label}}</td>
                        <td class="clickable" ng-click="robotClick(row)">{{row.device}}</td>
                        <td class="clickable" ng-click="robotClick(row)">{{row.online? translate.instant("ONLINE"):translate.instant("OFFLINE")}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <td ng-show="!initLoad" colspan="{{colspan}}">
            <div class="text-center" st-template="static/frontend/views/pagination.html" st-pagination="" st-items-by-page="vm.itemsPerPage" st-displayed-pages="7"></div>
        </td>
    </div>
    <div ng-if="select" style="margin-top: 5px;" class="select-sub-edit-eventlog-wrapper">
        <div ng-if="select" id="select-view" class="select-view">
            <button class="btn btn-info" ng-click="vm.inventoryClick(robot)">{{'INVENTORYROBOTS' | translate}}</button>
            <h4>{{'ROBOTQUEUE' | translate}}</h4>
            <div class="table-container" st-table="vm.queue" st-safe-src="vm.robotQueue">
                <div class="search-prepare-wrapper">
                    <label for items-per-page></label>
                    <select id="items-per-page" style="margin-right: 10px;" class="form-control items-per-page" ng-model="vm.slotsPerPage" ng-options="x for x in [5,10,20,25,50]" uib-popover="{{'ITEMSPERPAGE' | translate}}" popover-placement="top-left" popover-popup-delay="500" popover-append-to-body="true"></select>
                    <input st-search="" style="width: 50%;" class="form-control" placeholder="{{'GLOBALSEARCH' | translate}}" type="text" uib-popover="{{'GLOBALSEARCHDESC' | translate}}" popover-placement="top-left" popover-popup-delay="500" popover-append-to-body="true" />
                </div>
                <div id="list-view" class="list-view-table">
                    <table class="table table-striped" style="margin-bottom: 0px;">
                        <thead>
                            <tr>
                                <th st-sort="id" class="clickable" class="column-label">ID</th>
                                <th st-sort="posted" class="clickable" class="column-label">{{'POSTED' | translate}}</th>
                                <th st-sort="req_type" class="clickable" class="column-label">{{'REQUESTTYPE' | translate}}</th>
                                <th class="clickable" class="column-label">{{'STATUS' | translate}}</th>
                            </tr>
                        </thead>
                        <tbody>                                
                            <tr ng-class="row.class" ng-repeat="row in vm.queue"  ng-attr-context-menu="menuOptions" class="table-item">
                                <td>{{row.id}}</td>
                                <td>{{row.posted | date:"yyyy-MM-dd HH:mm:ss"}}</td>
                                <td>{{row.req_type}}</td>
                                <td>{{row.status}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <td ng-show="!initObjLoad" colspan="4">
                    <div  class="text-center" st-template="static/frontend/views/pagination.html" st-pagination="" st-items-by-page="vm.slotsPerPage" st-displayed-pages="7"></div>
                </td>
            </div>
            <hr/>
            <h4>{{'TAPESLOTS' | translate}}</h4>
            <div class="table-container" st-table="vm.slots" st-safe-src="vm.tapeSlots">
                <div class="search-prepare-wrapper">
                    <label for items-per-page></label>
                    <select id="items-per-page" style="margin-right: 10px;" class="form-control items-per-page" ng-model="vm.slotsPerPage" ng-options="x for x in [5,10,20,25,50]" uib-popover="{{'ITEMSPERPAGE' | translate}}" popover-placement="top-left" popover-popup-delay="500" popover-append-to-body="true"></select>
                    <input st-search="" style="width: 50%;" class="form-control" placeholder="{{'GLOBALSEARCH' | translate}}" type="text" uib-popover="{{'GLOBALSEARCHDESC' | translate}}" popover-placement="top-left" popover-popup-delay="500" popover-append-to-body="true" />
                </div>
                <div id="list-view" class="list-view-table">
                    <table class="table table-striped" style="margin-bottom: 0px;">
                        <thead>
                            <tr>
                                <th st-sort="slot_id" class="clickable" class="column-label">ID</th>
                                <th st-sort="medium_id" class="clickable" class="column-label">{{'MEDIUMID' | translate}}</th>
                                <th class="clickable" class="column-label">{{'MEDIUM' | translate}}</th>
                                <th class="clickable" class="column-label">{{'STATUS' | translate}}</th>
                            </tr>
                        </thead>
                        <tbody>                                
                            <tr ng-class="{'selected': vm.tapeSlot.id == row.id}" ng-repeat="row in vm.slots" ng-click="vm.tapeSlotClick(row)" ng-attr-context-menu="menuOptions" class="table-item clickable">
                                <td>{{row.slot_id}}</td>
                                <td>{{row.medium_id}}</td>
                                <td>{{row.storage_medium.id}}</td>
                                <td>{{row.status}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <td ng-show="!initObjLoad" colspan="{{colspan}}">
                    <div  class="text-center" st-template="static/frontend/views/pagination.html" st-pagination="" st-items-by-page="vm.slotsPerPage" st-displayed-pages="7"></div>
                </td>
            </div>
            <hr/>
            <h4>{{'TAPEDRIVES' | translate}}</h4>
            <div class="table-container" st-table="vm.drives" st-safe-src="vm.tapeDrives">
                <div class="search-prepare-wrapper">
                    <label for items-per-page></label>
                    <select id="items-per-page" style="margin-right: 10px;" class="form-control items-per-page" ng-model="vm.slotsPerPage" ng-options="x for x in [5,10,20,25,50]" uib-popover="{{'ITEMSPERPAGE' | translate}}" popover-placement="top-left" popover-popup-delay="500" popover-append-to-body="true"></select>
                    <input st-search="" style="width: 50%;" class="form-control" placeholder="{{'GLOBALSEARCH' | translate}}" type="text" uib-popover="{{'GLOBALSEARCHDESC' | translate}}" popover-placement="top-left" popover-popup-delay="500" popover-append-to-body="true" />
                </div>
                <div id="list-view" class="list-view-table">
                    <table class="table table-striped" style="margin-bottom: 0px;">
                        <thead>
                            <tr>
                                <th st-sort="slot_id" class="clickable" class="column-label">ID</th>
                                <th st-sort="device" class="clickable" class="column-label">{{'DEVICE' | translate}}</th>
                                <th st-sort="num_of_mounts" class="clickable" class="column-label">{{'NUMBEROFMOUNTS' | translate}}</th>
                                <th class="clickable" class="column-label">{{'MEDIUM' | translate}}</th>
                                <th class="clickable" class="column-label">{{'STATUS' | translate}}</th>
                            </tr>
                        </thead>
                        <tbody>                                
                            <tr ng-class="{'selected': vm.tapeDrive.id == row.id}" ng-click="vm.tapeDriveClick(row)" class="clickable" ng-repeat="row in vm.drives"  ng-attr-context-menu="menuOptions" class="table-item">
                                <td>{{row.id}}</td>
                                <td>{{row.device}}</td>
                                <td>{{row.num_of_mounts}}</td>
                                <td>{{row.storage_medium.id}}</td>
                                <td>{{row.status}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <td ng-show="!initObjLoad">
                    <div class="text-center" st-template="static/frontend/views/pagination.html" st-pagination="" st-items-by-page="vm.slotsPerPage" st-displayed-pages="7"></div>
                </td>
            </div>
        </div>
    </div>
    <div ng-if="requestForm" class="request-layout">
            <form id="request-form" name="request-form" class="request-form" ng-submit="submitRequest(vm.selectedRobot, vm.request)">
                <div class="request-type">
                    <div ng-repeat="type in vm.requestTypes">
                        <input type="radio" ng-model="vm.request.type" value="{{type}}">
                            <label>
                            {{type.toUpperCase() | translate}}
                        </label>
                    </div>
                </div>
                <div class="request-params">
                <span class="fa fa-times close-request clickable" ng-click="closeRequestForm()"></span>
                    <div ng-if="vm.request.type == 'inventory' || vm.request.type == 'mount' || vm.request.type == 'unmount' || vm.request.type == 'unmount_force'">
                        <label>
                            {{'PURPOSE' | translate}}
                        </label>
                        <input required class="form-control" ng-model="vm.request.purpose">
                    </div>
                    <div ng-if="vm.request.type == 'mount' && vm.tapeSlot == null">
                        <label>
                            {{'STORAGEMEDIUM' | translate}}
                        </label>
                        <select required class="form-control" ng-model="vm.request.storageMedium" ng-options="medium.medium_id for medium in vm.storageMediums"></select>
                    </div>
                </div>
            </form>
        </div>
        <div ng-if="eventlog && (vm.request.type)" class="select-sub-edit-eventlog-wrapper">
            <div ng-if="eventlog" class="eventlog-view">
                <form class="eventlog-form">
                    <div class="checkbox">
                        <label>
                            <input type="checkBox" ng-model="approvedToPreserve">{{'REQUESTAPPROVED' | translate}}</input>
                        </label>
                    </div>
                    <button type="submit" form="request-form" ng-dblClick="" ng-disabled="!approvedToPreserve" class="btn btn-info submit-button">{{'SUBMIT' | translate}}</button>
                </form>
            </div>
        </div>
</div>