<div class="content-wrapper">
    <div class="appraisal-page">
        <div class="table-container" st-table="vm.rules" st-pipe="vm.rulePipe">
            <div class="search-prepare-wrapper">
                <label for items-per-page></label>
                <select class="form-control items-per-page" ng-model="vm.rulesPerPage" ng-options="x for x in [5,10,20,25,50]" uib-popover="{{'ITEMSPERPAGE' | translate}}"
                    popover-placement="top-left" popover-popup-delay="500" popover-append-to-body="true"></select>
                <div style="width: 50%;" class="input-group margin-bottom-sm">
                    <input id="search-input" st-search="" class="form-control" ng-attr-placeholder="{{'GLOBALSEARCH' | translate}}" type="text"
                        uib-popover="{{'GLOBALSEARCHDESC' | translate}}" popover-placement="top-left" popover-popup-delay="500" popover-append-to-body="true"
                    />
                    <span ng-if="vm.ruleTableState.search.predicateObject && vm.ruleTableState.search.predicateObject['$']" class="input-group-addon clickable"
                        ng-click="clearSearch(); getListViewData();">
                        <i class="fa fa-lg fa-times" style="color: red;"></i>
                    </span>
                </div>
                <button type="button" ng-click="vm.createRuleModal()" class="btn btn-info" uib-popover="{{'PREPAREDIPDESC' | translate}}"
                    popover-placement="top-left" popover-popup-delay="500" popover-append-to-body="true">{{'CREATE' | translate}}</button>
                <div class="refresh-icon">
                    <span ng-click="vm.rulePipe(vm.ruleTableState)" class="clickable angular-animate fa fa-refresh fa-lg" ng-class="{'fa-refresh-animate': ruleLoading }"
                        uib-popover="{{'REFRESHTABLEDESC' | translate}}" popover-placement="left" popover-popup-delay="500" popover-append-to-body="true"></span>
                </div>
            </div>
            <div class="table-x-overflow">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>{{'FILTER' | translate}}</th>
                            <th>{{'NAME' | translate}}</th>
                            <th>{{'FREQUENCY' | translate}}</th>
                            <th>{{'TYPE' | translate}}</th>
                            <th>{{'RUN_NOW' | translate}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="x in vm.rules">
                            <td>
                                <input type="checkbox" ng-model="x.used_as_filter" ng-change="vm.useAsFilter(x)">
                            </td>
                            <td class="clickable" ng-click="vm.ruleModal(x)">{{x.name}}</td>
                            <td class="clickable" ng-click="vm.ruleModal(x)">{{x.frequency}}</td>
                            <td class="clickable" ng-click="vm.ruleModal(x)">{{x.type}}</td>
                            <td><button class="btn btn-success lock-button" ng-click="vm.runNow(x)"><i class="fa fa-play"></i>&nbsp;{{'RUN_NOW' | translate}}</button></td>
                        </tr>
                    </tbody>
                </table>
                <div class="search-pagination" style="float: right;" st-template="static/frontend/views/file_pagination.html" st-pagination="" st-items-by-page="vm.rulesPerPage" st-displayed-pages="7"></div>
            </div>
        </div>
        <h4>{{"ONGOING" | translate}}</h4>
        <div class="table-container" st-table="vm.ongoing" st-pipe="vm.ongoingPipe">
            <div class="search-prepare-wrapper">
                    <select class="form-control items-per-page"
                    ng-model="vm.ongoingPerPage" ng-options="x for x in [5,10,20,25,50]" uib-popover="{{'ITEMSPERPAGE' | translate}}" popover-placement="top-left"
                    popover-popup-delay="500" popover-append-to-body="true"></select>
                <div class="refresh-icon">
                    <span ng-click="vm.ongoingPipe(vm.ongoingTableState)" class="clickable angular-animate fa fa-refresh fa-lg"
                    ng-class="{'fa-refresh-animate': ongoingLoading }" uib-popover="{{'REFRESHTABLEDESC' | translate}}" popover-placement="left"
                    popover-popup-delay="500" popover-append-to-body="true"></span>
                </div>
                </div>
                <div class="table-x-overflow">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>{{'ID' | translate}}</th>
                                <th>{{'START' | translate}}</th>
                                <th>{{'RULE' | translate}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="x in vm.ongoing" class="clickable" ng-click="vm.ongoingModal(x)">
                                <td>{{x.id}}</td>
                                <td>{{x.start | date:"yyyy-MM-dd HH:mm:ss"}}</td>
                                <td>{{x.rule.name}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="search-pagination" style="float: right;" st-template="static/frontend/views/file_pagination.html" st-pagination="" st-items-by-page="vm.ongoingPerPage" st-displayed-pages="7"></div>
                </div>
        </div>
        <h4>{{"NEXT" | translate}}</h4>
        <div class="table-container" st-table="vm.next" st-pipe="vm.nextPipe">
            <div class="search-prepare-wrapper">
                <select class="form-control items-per-page" ng-model="vm.nextPerPage" ng-options="x for x in [5,10,20,25,50]" uib-popover="{{'ITEMSPERPAGE' | translate}}"
                    popover-placement="top-left" popover-popup-delay="500" popover-append-to-body="true"></select>
                <div class="refresh-icon">

                    <span ng-click="vm.nextPipe(vm.nextTableState)" class="clickable angular-animate fa fa-refresh fa-lg" ng-class="{'fa-refresh-animate': nextLoading }"
                        uib-popover="{{'REFRESHTABLEDESC' | translate}}" popover-placement="left" popover-popup-delay="500" popover-append-to-body="true"></span>
                </div>
            </div>
            <div class="table-x-overflow">

                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>{{'ID' | translate}}</th>
                            <th>{{'START' | translate}}</th>
                            <th>{{'RULE' | translate}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="x in vm.next" class="clickable" ng-click="vm.nextModal(x)">
                            <td>{{x.id}}</td>
                            <td>{{x.start | date:"yyyy-MM-dd HH:mm:ss"}}</td>
                            <td>{{x.rule.name}}</td>
                        </tr>
                    </tbody>
                </table>
                <div class="search-pagination" style="float: right;" st-template="static/frontend/views/file_pagination.html" st-pagination="" st-items-by-page="vm.nextPerPage" st-displayed-pages="7"></div>
            </div>
        </div>
        <h4>{{"FINISHED" | translate}}</h4>
        <div class="table-container" st-table="vm.finished" st-pipe="vm.finishedPipe">
            <div class="search-prepare-wrapper">
                    <select class="form-control items-per-page"
                    ng-model="vm.finishedPerPage" ng-options="x for x in [5,10,20,25,50]" uib-popover="{{'ITEMSPERPAGE' | translate}}" popover-placement="top-left"
                    popover-popup-delay="500" popover-append-to-body="true"></select>
                <div class="refresh-icon">
                    <span ng-click="vm.finishedPipe(vm.finishedTableState)" class="clickable angular-animate fa fa-refresh fa-lg"
                    ng-class="{'fa-refresh-animate': finishedLoading }" uib-popover="{{'REFRESHTABLEDESC' | translate}}" popover-placement="left"
                    popover-popup-delay="500" popover-append-to-body="true"></span>
                </div>
                </div>
                <div class="table-x-overflow">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>{{'ID' | translate}}</th>
                                <th>{{'START' | translate}}</th>
                                <th>{{'END' | translate}}</th>
                                <th>{{'REPORT' | translate}}</th>
                                <th>{{'RULE' | translate}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="x in vm.finished">
                                <td class="clickable" ng-click="vm.finishedModal(x)">{{x.id}}</td>
                                <td class="clickable" ng-click="vm.finishedModal(x)">{{x.start | date:"yyyy-MM-dd HH:mm:ss"}}</td>
                                <td class="clickable" ng-click="vm.finishedModal(x)">{{x.end | date:"yyyy-MM-dd HH:mm:ss"}}</td>
                                <td><a ng-click="vm.showReport(x)">{{x.report}}</a></td>
                                <td class="clickable" ng-click="vm.finishedModal(x)">{{x.rule.name}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="search-pagination" style="float: right;" st-template="static/frontend/views/file_pagination.html" st-pagination="" st-items-by-page="vm.finishedPerPage" st-displayed-pages="7"></div>
                </div>
            </div>
    </div>
</div>
