<div class="search-admin">
  <div class="content-wrapper">
    <h4>
      {{('ACCESS.NEW_ARCHIVE' | translate)}}
    </h4>
    <div class="new-archive-container">
      <form novalidate name="vm.form" ng-submit="vm.createArchive(vm.archive)">
        <formly-form model="vm.archive" fields="vm.fields" options="{}"></formly-form>
        <div class="d-flex justify-content-end w-100">
          <button type="submit" class="btn btn-primary margin-top-5">{{'SAVE' | translate}}</button>
        </div>
      </form>
    </div>
  </div>
</div>
