<div class="search-admin">
  <div class="content-wrapper">
    <h4>
      {{('ACCESS.NEW_ARCHIVE' | translate)}}
    </h4>
    <div class="new-archive-container">
      <form
        ng-submit="vm.createArchive(vm.archiveName, vm.structure.id, vm.nodeType, vm.referenceCode, vm.archiveCreator,  vm.archiveResponsible)"
      >
        <label class="margin-top-5">
          {{'NAME' | translate}}
          <input type="text" class="form-control" required ng-model="vm.archiveName" />
        </label>
        <label class="margin-top-5">
          {{'ACCESS.CLASSIFICATION_STRUCTURE' | translate}}
        </label>
        <ui-select allow-clear ng-model="vm.structure" theme="bootstrap" sortable="true" append-to-body="false">
          <ui-select-match ng-attr-placeholder="{{'ACCESS.CLASSIFICATION_STRUCTURES' | translate}}"
            >{{$select.selected.name}}</ui-select-match
          >
          <ui-select-choices
            ng-hide="!$select.open"
            refresh-delay="300"
            refresh="vm.getStructures($select.search)"
            repeat="x.id as x in vm.options.structures | propsFilter: {name: $select.search}"
          >
            <div ng-bind-html="x.name| highlight: $select.search"></div>
          </ui-select-choices>
          <ui-select-no-choice>
            <div class="text-center">{{'NO_RESULTS_FOUND' | translate}}</div>
          </ui-select-no-choice>
        </ui-select>
        <label class="margin-top-5">
          {{'ACCESS.ARCHIVE_CREATOR' | translate}}
          <ui-select allow-clear ng-model="vm.archiveCreator" theme="bootstrap" sortable="true" append-to-body="false">
            <ui-select-match ng-attr-placeholder="{{'ARCHIVECREATORS' | translate}}"
              >{{$select.selected.full_name}}</ui-select-match
            >
            <ui-select-choices
              ng-hide="!$select.open"
              refresh-delay="300"
              refresh="vm.getAgents($select.search)"
              repeat="x.id as x in vm.options.agents | propsFilter: {full_name: $select.search}"
            >
              <div ng-bind-html="x.full_name | highlight: $select.search"></div>
            </ui-select-choices>
            <ui-select-no-choice>
              <div class="text-center">{{'NO_RESULTS_FOUND' | translate}}</div>
            </ui-select-no-choice>
          </ui-select>
        </label>
        <label class="margin-top-5">
          {{'ACCESS.ARCHIVE_RESPONSIBLE' | translate}}
          <input type="text" class="form-control" ng-model="vm.archiveResponsible" />
        </label>
        <label class="margin-top-5">
          {{'TYPE' | translate}}
          <input type="text" class="form-control" required ng-model="vm.nodeType" />
        </label>
        <label class="margin-top-5">
          {{'ACCESS.REFERENCE_CODE' | translate}}
          <input type="text" class="form-control" required ng-model="vm.referenceCode" />
        </label>
        <button type="submit" class="btn btn-primary margin-top-5">{{'SAVE' | translate}}</button>
      </form>
    </div>
  </div>
</div>
