<div class="enter-profile-name" style="padding: 5px;">
    <h3 class="modal-title" id="modal-title">{{'CREATE_APPRAISAL_RULE' | translate}}</h3>
</div>
<form ng-submit="$ctrl.create()">
    <div class="modal-body" id="modal-body">
        <label>
            {{'NAME' | translate}}
            <input class="form-control" required ng-model="$ctrl.name">
        </label>
        <br/>
        <label>
            {{'FREQUENCY' | translate}}
            <input class="form-control" required ng-model="$ctrl.frequency">
        </label>
        <br/>
        <label>
            {{'TYPE' | translate}}
            <select class="form-control" required ng-model="$ctrl.type" ng-options="x for x in ['Arkivobjekt', 'Metadata']">{{x}}</select>
        </label>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="submit" focused="true">{{'OK' | translate}}</button>
        <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">{{'CANCEL' | translate}}</button>
    </div>
</form>
