<div>
  <label>
    {{'TYPE' | translate}}
  </label>
  <select
    class="form-control"
    ng-model="$ctrl.name.type"
    ng-options="x.value as x.display_name for x in $ctrl.options.names.type.choices"
    required
  ></select>
  <div class="flex-100-grow">
    <div>
      <label>
        {{'ACCESS.PART' | translate}}
      </label>
      <input class="form-control" ng-model="$ctrl.name.part" />
    </div>
    <div class="ml-base">
      <label>
        {{'ACCESS.MAIN' | translate}}
      </label>
      <input class="form-control" required ng-model="$ctrl.name.main" />
    </div>
  </div>
  <div class="flex-100-grow align-items-center pt-base">
    <div>
      <label>
        {{'ACCESS.VALID_DATE_START' | translate}}
      </label>
      <div class="dropdown" uib-dropdown is-open="dropdown_status.name.start_date">
        <a class="dropdown-toggle" id="dropdown-start_date" role="button" uib-dropdown-toggle>
          <div class="input-group">
            <input
              type="text"
              data-date-time-input="YYYY-MM-DD"
              class="form-control"
              data-ng-model="$ctrl.name.start_date"
            /><span class="input-group-addon"><i class="fas fa-calendar-alt"></i></span>
          </div>
        </a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel" uib-dropdown-menu>
          <datetimepicker
            data-ng-model="$ctrl.name.start_date"
            ng-change="dropdown_status.name.start_date = false"
            data-datetimepicker-config="{ dropdownSelector: '#dropdown-startlDate', minView: 'day', startView: 'year', modelType: 'YYYY-MM-DD'}"
          />
        </ul>
      </div>
    </div>
    <div class="ml-base">
      <label>
        {{'ACCESS.VALID_DATE_END' | translate}}
      </label>
      <div class="dropdown" uib-dropdown is-open="dropdown_status.name.end_date">
        <a class="dropdown-toggle" id="dropdown-endlDate" role="button" uib-dropdown-toggle>
          <div class="input-group">
            <input
              type="text"
              data-date-time-input="YYYY-MM-DD"
              class="form-control"
              data-ng-model="$ctrl.name.end_date"
            /><span class="input-group-addon"><i class="fas fa-calendar-alt"></i></span>
          </div>
        </a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel" uib-dropdown-menu>
          <datetimepicker
            data-ng-model="$ctrl.name.end_date"
            ng-change="dropdown_status.name.end_date = false"
            data-datetimepicker-config="{ dropdownSelector: '#dropdown-endDate', minView: 'day', startView: 'year', modelType: 'YYYY-MM-DD'}"
          />
        </ul>
      </div>
    </div>
  </div>
  <label>
    {{'ACCESS.CERTAINTY' | translate}}
  </label>
  <select class="form-control" ng-model="$ctrl.name.certainty">
    <option value="{{null}}"></option>
    <option value="{{true}}">Säker</option>
    <option value="{{false}}">Osäker</option>
  </select>
  <label>
    {{'DESCRIPTION' | translate}}
  </label>
  <textarea
    class="form-control"
    name="description"
    ng-model="$ctrl.name.description"
    maxlength="255"
    rows="3"
  ></textarea>
</div>
