<div>
  <label>
    {{'ACCESS.ARCHIVE' | translate}}
  </label>
  <ui-select allow-clear ng-model="$ctrl.relation.archive" theme="bootstrap" sortable="true" append-to-body="false">
    <ui-select-match ng-attr-placeholder="{{'ACCESS.ARCHIVE' | translate}}"
      >{{$select.selected.name}}</ui-select-match
    >
    <ui-select-choices
      ng-hide="!$select.open"
      refresh-delay="300"
      refresh="$ctrl.getArchives($select.search)"
      repeat="x.id as x in $ctrl.options.archives | propsFilter: {name: $select.search}"
    >
      <div ng-bind-html="x.name | highlight: $select.search"></div>
    </ui-select-choices>
    <ui-select-no-choice>
      <div class="text-center">{{'NO_RESULTS_FOUND' | translate}}</div>
    </ui-select-no-choice>
  </ui-select>

  <div>
    <label>
      {{'TYPE' | translate}}
    </label>
    <select
      class="form-control"
      ng-model="$ctrl.relation.type"
      ng-options="x.value as x.display_name for x in $ctrl.options.type.choices"
      required
    ></select>
    <div class="flex-100-grow align-items-center pt-base">
      <div>
        <label>
          {{'ACCESS.VALID_DATE_START' | translate}}
        </label>
        <div class="dropdown" uib-dropdown is-open="dropdown_status.relation.start_date">
          <a class="dropdown-toggle" id="dropdown-start_date" role="button" uib-dropdown-toggle>
            <div class="input-group">
              <input
                type="text"
                data-date-time-input="YYYY-MM-DD"
                class="form-control"
                data-ng-model="$ctrl.relation.start_date"
              /><span class="input-group-addon"><i class="fas fa-calendar-alt"></i></span>
            </div>
          </a>
          <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel" uib-dropdown-menu>
            <datetimepicker
              data-ng-model="$ctrl.relation.start_date"
              ng-change="dropdown_status.relation.start_date = false"
              data-datetimepicker-config="{ dropdownSelector: '#dropdown-startlDate', minView: 'day', startView: 'year', modelType: 'YYYY-MM-DD'}"
            />
          </ul>
        </div>
      </div>
      <div class="ml-base">
        <label>
          {{'ACCESS.VALID_DATE_END' | translate}}
        </label>
        <div class="dropdown" uib-dropdown is-open="dropdown_status.relation.end_date">
          <a class="dropdown-toggle" id="dropdown-endlDate" role="button" uib-dropdown-toggle>
            <div class="input-group">
              <input
                type="text"
                data-date-time-input="YYYY-MM-DD"
                class="form-control"
                data-ng-model="$ctrl.relation.end_date"
              /><span class="input-group-addon"><i class="fas fa-calendar-alt"></i></span>
            </div>
          </a>
          <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel" uib-dropdown-menu>
            <datetimepicker
              data-ng-model="$ctrl.relation.end_date"
              ng-change="dropdown_status.relation.end_date = false"
              data-datetimepicker-config="{ dropdownSelector: '#dropdown-endDate', minView: 'day', startView: 'year', modelType: 'YYYY-MM-DD'}"
            />
          </ul>
        </div>
      </div>
    </div>
    <label>
      {{'DESCRIPTION' | translate}}
    </label>
    <textarea
      class="form-control"
      name="description"
      ng-model="$ctrl.relation.description"
      maxlength="255"
      rows="3"
    ></textarea>
  </div>
</div>
