<div class="file-explorer" st-table="deckGridData" st-pipe="dirPipe">
    <div class="nav-refresh-wrapper">
        <div class="file-explorer-nav">
        <li ng-class="{'arrow-disabled': previousGridArrays.length == 0}" class="fa fa-arrow-circle-o-left fa-2x clickable" ng-click="previousGridArray()"></li>
        <b ng-if="!('**.workarea.**' | includedByState)" class="dir-path">{{ip.object_identifier_value + '/' + previousGridArraysString()}}</b>
        <b ng-if="('**.workarea.**' | includedByState)" class="dir-path">{{previousGridArraysString()}}</b>
        </div>
        <div class="button-refresh-wrapper">
            <div>
                <select class="form-control items-per-page" ng-change="changeFilesPerPage(filesPerPage)" ng-model="filesPerPage" ng-options="x for x in [5, 10, 25, 50]"
                    uib-popover="{{'FILES_PER_PAGE' | translate}}" popover-placement="top" popover-popup-delay="500" popover-append-to-body="true">
                    {{x}}
                </select>
            </div>
            <button class="btn btn-default btn-sm" ng-class="{'active': listView}" ng-click="useListView()" uib-popover="{{'LIST_VIEW' | translate}}"
                popover-placement="top" popover-popup-delay="500" popover-append-to-body="true">
                <i class="fa fa-th-list fa-lg"></i>
            </button>
            <button class="btn btn-default btn-sm" ng-class="{'active': gridView}" ng-click="useGridView()" uib-popover="{{'GRID_VIEW' | translate}}"
                popover-placement="top" popover-popup-delay="500" popover-append-to-body="true">
                <i class="fa fa-th fa-lg"></i>
            </button>
            <div class="refresh-filebrowser">
                <span ng-click="updateGridArray(ip)" class="clickable angular-animate fa fa-refresh fa-lg" ng-class="{'fa-refresh-animate': gridArrayLoading }"
                    uib-popover="{{'REFRESHTABLEDESC' | translate}}" popover-placement="left" popover-popup-delay="500" popover-append-to-body="true"></span>
            </div>
        </div>
        </div>
        <div ng-show="gridView">
            <div class="deckgrid">
                <div ng-if="!deckGridData.length && gridArrayLoading" class="text-center">
                    <div class="loading-column">{{'LOADING' | translate}}</div>
                </div>
                <div ng-if="!deckGridData.length && !gridArrayLoading" class="text-center">
                    <div>{{'NO_RESULTS_FOUND' | translate}}</div>
                </div>
                <div class="flex-grid">
                <div class="card" ng-repeat="card in deckGridData" ng-include src="'static/frontend/views/deckgrid_card.html'"></div>
            </div>
        </div>
    </div>
    <div ng-show="listView" class="file-list-view">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th translate="NAME"></th>
                    <th translate="SIZE"></th>
                    <th translate="CHANGED"></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="card in deckGridData" class="clickable" ng-dblClick="expandFile(ip, card)" ng-class="isSelected(card)" ng-click="cardSelect(card)">
                    <td class="type-name-column">
                        <div ng-class="card.type" ng-if="card.type == 'file'">
                            <li class="fa fa-file-o"></li>
                        </div>
                        <div ng-class="card.type" ng-if="card.type == 'dir'">
                            <li class="fa fa-folder-o"></li>
                        </div>
                        <div class="one-row-ellipsis">
                            {{card.name}}
                        </div>
                    </td>
                    <td>
                        <div class="one-row-ellipsis">
                            {{card.size | filesize}}
                        </div>
                    </td>
                    <td>
                        <div class="one-row-ellipsis">
                            {{card.modified | date: 'yyyy-MM-dd HH:mm:ss'}}
                        </div>
                    </td>
                </tr>
                <tr ng-if="!deckGridData.length && !gridArrayLoading" class="empty-table-indicator">
                    <td colspan="3">{{'NO_RESULTS_FOUND' | translate}}</td>
                </tr>
                <tr ng-if="!deckGridData.length && gridArrayLoading" class="empty-table-indicator">
                    <td class="loading-column" colspan="3">{{'LOADING' | translate}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="files-per-page-pagination-wrapper">
        <div st-template="static/frontend/views/file_pagination.html" st-pagination="" st-items-by-page="filesPerPage" st-displayed-pages="7"></div>
    </div>
    <button ng-if="ip.workarea && !ip.workarea[0].read_only && selectedCards.length && ip.state !== 'Created' && ip.state !== 'Creating' && ip.state !== 'Submitted' && ip.state !=='Uploaded' && ip.state !== 'At reception' && ip.state !== 'Preserved'" class="btn btn-default" ng-click="removeFiles()" translate="REMOVE"></button>
    <button ng-if="ip.workarea && !ip.workarea[0].read_only && ip.state !== 'Created' && ip.state !== 'Creating' && ip.state !== 'Submitted' && ip.state !=='Uploaded' && ip.state !== 'At reception' && ip.state !== 'Preserved'" ng-click="newDirModal()" class="btn btn-default" translate="NEWFOLDER"></button>
</div>
