<div class="body-wrapper">
    <div class="logo-search-user-admin-wrapper">
        <div class="logo" ng-controller="UtilCtrl">
            <h3 ng-click="infoPage()">ESSArch Preservation Platform</h3>
        </div>
        <div class="user-admin">
            <div class="edit-user" ng-controller="DropdownCtrl">
                <div class="btn-group" uib-dropdown is-open="status.isopen">
                    <div class="user-dropdown" uib-dropdown-toggle ng-disabled="disabled" uib-popover="{{'USEROPTIONS' | translate}}" popover-trigger="'mouseenter'" popover-placement="right" popover-popup-delay="500" popover-append-to-body="true">
                        <h4>{{auth.username}}</h4>
                        <span class="fa fa-user-circle-o"></span>
                    </div>
                    <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="user-dropdown">
                        <li ng-repeat="choice in editUserOptions">
                            <a ng-click="choice.click()">{{choice.label}}</a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>

    </div>
    <div class="menu-task-wrapper">
        <div class="menu" ng-controller="TabsCtrl">
            <uib-tabset active="activeTab">
                <uib-tab
                        ng-repeat="t in tabs"
                        heading="{{t.label}}"
                        ng-click="go(t)"
                        uib-popover="{{'NAVIGATETO' | translate}}: {{t.label}}"
                        popover-trigger="'mouseenter'"
                        popover-placement="top-left"
                        popover-popup-delay="500"
                        popover-append-to-body="true">
                </uib-tab>
            </uib-tabset>
        </div>
        <div ng-controller="UtilCtrl" class="tasks-icons">
            <span ng-click="reloadPage()" class="fa fa-refresh fa-refresh-animate-once info-popover" uib-popover="{{'REFRESHPAGE' | translate}}" popover-trigger="'mouseenter'" popover-placement="top-left" popover-popup-delay="500" popover-append-to-body="true"></span>
            <span ng-click="redirectAdmin()" class="fa fa-cog info-popover" uib-popover="{{'SETTINGS' | translate}}" popover-trigger="'mouseenter'" popover-placement="top-left" popover-popup-delay="500" popover-append-to-body="true"></span>
            <span ui-sref="home.versionInfo" class="fa fa-question-circle info-popover" uib-popover="{{'HELP' | translate}}" popover-trigger="'mouseenter'" popover-placement="top-left" popover-popup-delay="500" popover-append-to-body="true"></span>

            <div ng-controller="LanguageCtrl" style="width: 100px; margin-left: 10px;">
                <select class="form-control" ng-model="currentLanguage" ng-change="changeLanguage(currentLanguage)" ng-options="x | translate for x in availableLanguages" style="width: 100%;" uib-popover="{{'CHOOSELANGUAGE' | translate}}" popover-trigger="'mouseenter'" popover-placement="top-left" popover-popup-delay="500" popover-append-to-body="true"></select>
            </div>
        </div>
    </div>
    <div class="nav-dynamic-wrapper">
        <div ng-if="('home.ingest' | includedByState) || ('home.access' | includedByState)" class="shortcut-nav-calendar-wrapper">
            <!--
                <div class="shortcut-list" ng-controller="DropdownCtrl">
                <div class="btn-group" uib-dropdown is-open="status.isopen">
                <button id="single-button" type="button" class="btn-primary btn-lg" uib-dropdown-toggle ng-disabled="disabled">
                Shortcut list<span class="caret"></span>
                </button>
                <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                <li ng-repeat="choice in items">
                <a ng-click="gotoLink(choice)" href>{{choice}}</a>
                </li>
                </ul>
                </div>
                </div>
            -->
            <div ng-controller="AngularTreeCtrl" class="navigation">
                </br>
                <p>
                <treecontrol class="tree-light"
                             tree-model="ArchivalInstitution"
                             options="treeOptions"
                             on-selection="showSelectedInstitution(node)"
                             selected-node="nodeInst"
                             uib-popover="{{'FILTERBY' | translate}}: Archival institution"
                             popover-trigger="'mouseenter'"
                             popover-placement="top-left"
                             popover-popup-delay="500"
                             popover-append-to-body="true"
                             >
                             {{node.name}}
                </treecontrol>
                <treecontrol class="tree-light"
                             tree-model="ArchivistOrganization"
                             options="treeOptions"
                             on-selection="showSelectedOrganization(node)"
                             selected-node="nodeOrg"
                             uib-popover="{{'FILTERBY' | translate}}: Archivist organization"
                             popover-trigger="'mouseenter'"
                             popover-placement="top-left"
                             popover-popup-delay="500"
                             popover-append-to-body="true"
                             >
                             {{node.name}}
                </treecontrol>
                <treecontrol class="tree-light"
                             tree-model="ArchivalType"
                             options="treeOptions"
                             on-selection="showSelectedType(node)"
                             selected-node="nodeType"
                             uib-popover="{{'FILTERBY' | translate}}: Archival type"
                             popover-trigger="'mouseenter'"
                             popover-placement="top-left"
                             popover-popup-delay="500"
                             popover-append-to-body="true"
                             >
                             {{node.name}}
                </treecontrol>
                <treecontrol class="tree-light"
                             tree-model="ArchivalLocation"
                             options="treeOptions"
                             on-selection="showSelectedLocation(node)"
                             selected-node="nodeLoc"
                             uib-popover="{{'FILTERBY' | translate}}: Archival location"
                             popover-trigger="'mouseenter'"
                             popover-placement="top-left"
                             popover-popup-delay="500"
                             popover-append-to-body="true"
                             >
                             {{node.name}}
                </treecontrol>
                <treecontrol class="tree-light"
                             tree-model="other"
                             options="treeOptions"
                             on-selection="showSelectedOther(node)"
                             selected-node="nodeOther"
                             uib-popover="{{'FILTERBY' | translate}}: Other"
                             popover-trigger="'mouseenter'"
                             popover-placement="top-left"
                             popover-popup-delay="500"
                             popover-append-to-body="true"
                             >
                             {{node.name}}
                </treecontrol>
                </p>
            </div>
            <div class="calendar">
                <style>
.full button span {
    background-color: limegreen;
    border-radius: 16px;
    color: black;
}
                            .partially button span {
                                background-color: orange;
                                border-radius: 16px;
                                color: black;
                            }
                </style>
                <div ng-controller="DatepickerCtrl">

                    <div class="datepicker" style="display:inline-block;">
                        <div uib-datepicker ng-model="dt" class="well well-sm" datepicker-options="options"></div>
                    </div>
                    <div class="calendar-buttons" style="display: none;">
                        <button type="button" class="btn btn-sm btn-info" ng-click="today()">Today</button>
                        <button type="button" class="btn btn-sm btn-danger" ng-click="clear()">Clear</button>
                        <button type="button" class="btn btn-sm btn-default" ng-click="toggleMin()" uib-tooltip="After today restriction">Min date</button>
                    </div>
                </div>
            </div>
        </div>
        <div ui-view class="dynamic-part">
        </div>

    </div>
</div>

