<div class="body-wrapper">
    <top-alert></top-alert>
    <div ng-if="disconnected" ng-controller="UtilCtrl"class="top-alert-container">
        <div class="top-alert error">
            <div class="alert-text-icons-row">
                <div class="alert-text" style="border: none;">
                    {{ disconnected.message }}
                    <span class="fa fa-lg fa-plug"></span>
                    <a style="color: white;" ng-click="reloadPage()" translate="RETRY_CONNECTION"></a>
                </div>
            </div>
        </div>
    </div>
    <div class="header">
    <div class="logo-search-user-admin-wrapper">
        <div class="hamburger" ng-show="('home.ingest' | includedByState) || ('home.access' | includedByState) || ('home.orders' | includedByState)">
            <i class="fa fa-2x fa-bars" aria-hidden="true" ng-click="hamburgerActive = !hamburgerActive"></i>
        </div>
        <div class="logo" ng-controller="UtilCtrl">
            <h3 ng-click="infoPage()">ESSArch Preservation Platform</h3>
        </div>
        <div class="user-admin">
            <div class="edit-user" ng-controller="DropdownCtrl">
                <div class="btn-group" uib-dropdown is-open="status.isopen">
                    <div class="user-dropdown" uib-dropdown-toggle ng-disabled="disabled" uib-popover="{{'USEROPTIONS' | translate}}"  popover-placement="left" popover-popup-delay="500" popover-append-to-body="true">
                        <h4>{{auth.username}}</h4>
                        <span class="fa fa-user-circle-o"></span>
                    </div>
                    <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu role="menu" aria-labelledby="user-dropdown">
                        <li ng-repeat="choice in editUserOptions">
                            <a ng-click="choice.click()">{{choice.label}}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="menu-task-wrapper">
        <div class="nav" ng-controller="UtilCtrl">
            <p class="nav-item sliding-middle-out" ng-class="{'chosen': $state.includes('home.ingest')}" ui-sref="home.ingest" ng-if="checkPermissions(getPermissions('home.ingest'))">{{('INGEST' | translate)}}</p>
            <p class="nav-item sliding-middle-out" ng-class="{'chosen': $state.includes('home.access')}" ui-sref="home.access" ng-if="checkPermissions(getPermissions('home.access'))">{{('ACCESS' | translate)}}</p>
            <p class="nav-item sliding-middle-out" ng-class="{'chosen': $state.includes('home.orders')}" ui-sref="home.orders" ng-if="checkPermissions(getPermissions('home.orders'))">{{('ORDERS' | translate)}}</p>
            <p class="nav-item sliding-middle-out" ng-class="{'chosen': $state.includes('home.administration')}" ui-sref="home.administration" ng-if="checkPermissions(getPermissions('home.administration'))">{{('ADMINISTRATION' | translate)}}</p>
            <p class="nav-item sliding-middle-out" ng-class="{'chosen': $state.includes('home.search')}" ui-sref="home.search">{{('SEARCH' | translate)}}</p>
        </div>
        <div ng-controller="UtilCtrl" class="tasks-icons">
            <span ng-click="reloadPage()" class="fa fa-refresh fa-refresh-animate-once info-popover" uib-popover="{{'REFRESHPAGE' | translate}}"  popover-placement="top-left" popover-popup-delay="500" popover-append-to-body="true"></span>
            <span ng-click="redirectAdmin()" class="fa fa-cog info-popover" uib-popover="{{'SETTINGS' | translate}}"  popover-placement="top-left" popover-popup-delay="500" popover-append-to-body="true"></span>
            <span ui-sref="home.versionInfo" class="fa fa-question-circle info-popover" uib-popover="{{'HELP' | translate}}"  popover-placement="top-left" popover-popup-delay="500" popover-append-to-body="true"></span>
            <div ng-click="showAlert()" class="notification-icon info-popover" uib-popover="{{'NOTIFICATIONS' | translate}}"  popover-placement="top-left" popover-popup-delay="500" popover-append-to-body="true">
                <i class="fa fa-bell"></i>
                <div ng-if="unseenNotifications != 0 && unseenNotifications <= 999" class="unseen-text">{{unseenNotifications}}</div>
                <div ng-if="unseenNotifications > 999" class="unseen-text">{{999}}+</div>
            </div>
            <div ng-controller="LanguageCtrl" class="language-select" style="width: 100px; margin-left: 10px;">
                <select class="form-control" ng-model="currentLanguage" ng-change="changeLanguage(currentLanguage)" ng-options="x | translate for x in availableLanguages" style="width: 100%;" uib-popover="{{'CHOOSELANGUAGE' | translate}}"  popover-placement="left" popover-popup-delay="500" popover-append-to-body="true"></select>
            </div>
        </div>
    </div>
    </div>
	<div ng-controller="UtilCtrl" ng-include src="'static/frontend/views/sub_menu.html'"></div>
    <div class="nav-dynamic-wrapper">
        <div ng-if="('home.ingest' | includedByState) || ('home.access' | includedByState) || ('home.orders' | includedByState) || ('home.appraisal' | includedByState)" class="shortcut-nav-calendar-wrapper" ng-class="{'active-hamburger': hamburgerActive}">
            <div ng-controller="AngularTreeCtrl" class="navigation" context-menu="navMenuOptions(item)">
                <br />
                <p>
                <treecontrol class="tree-light" tree-model="tags" options="treeOptions" selected-node="vm.selectedTag"expanded-nodes="expandedNodes" on-selection="showSelectedNode(node)" on-node-toggle="onNodeToggle(node)">
                             <span context-menu="navMenuItemOptions(item)">{{node.name}}</span>
                </treecontrol>
                </p>
            </div>
        </div>
        <div ui-view class="dynamic-part">
        </div>
    </div>
</div>
