<div class="ingest-workarea">
    <div class="content-wrapper">
        <div class="list-view" ng-include src="'static/frontend/views/list_view_table.html'"></div>
        <div ng-if="requestForm" class="request-layout" tabindex="-1" ng-keydown="vm.contentViewsKeydownListener($event)">
            <form id="request-form" name="vm.requestForm" class="request-form" ng-submit="submitRequest(ip, vm.request)">
                <div class="request-type">
                    <div ng-if="checkPermission('ip.diff_check')">
                        <input type="radio" ng-model="vm.request.type" value="diff_check">
                        <label>
                            {{'DIFFCHECK' | translate}}
                        </label>
                    </div>
                    <div ng-if="checkPermission('ip.preserve')">
                        <input type="radio" ng-model="vm.request.type" value="preserve">
                        <label>
                            {{'PRESERVE' | translate}}
                        </label>
                    </div>
                    <div ng-if="checkPermission('ip.move_from_ingest_workarea')">
                        <input type="radio" ng-model="vm.request.type" value="move_to_approval">
                        <label>
                            {{'MOVE_TO_APPROVAL' | translate}}
                        </label>
                    </div>
                </div>
                <div class="request-params">
                    <div ng-if="vm.request.type == 'view' || vm.request.type == 'edit_as_new' || vm.request.type == 'diff_check' || vm.request.type == 'preserve' || vm.request.type == 'move_to_approval'">
                        <label>
                            {{'PURPOSE' | translate}}
                        </label>
                        <input required class="form-control" ng-model="vm.request.purpose">
                    </div>
                </div>
            </form>
        </div>
        <div tabindex="-1" ng-keydown="vm.contentViewsKeydownListener($event)" ng-if="(eventShow || statusShow || vm.request.type =='preserve')" class="events-status-wrapper">
            <event-table ng-if="eventShow || vm.request.type == 'preserve'" ip="ip"></event-table>
            <div ng-if="statusShow" class="status-view">
                <div ng-include src="'static/frontend/views/status_tree_view.html'"></div>
            </div>
        </div>
        <div tabindex="-1" ng-keydown="vm.contentViewsKeydownListener($event)" ng-if="eventlog && (vm.request.type == 'edit_as_new' || vm.request.type == 'view' || vm.request.type == 'diff_check' || vm.request.type == 'preserve' || vm.request.type == 'move_to_approval')" class="select-sub-edit-eventlog-wrapper">
            <div ng-if="eventlog" class="eventlog-view">
                <form class="eventlog-form">
                    <div class="checkbox">
                        <label>
                            <input type="checkBox" ng-disabled="vm.requestForm.$invalid" ng-model="approvedToPreserve">{{'REQUESTAPPROVED' | translate}}</input>
                        </label>
                    </div>
                    <button type="submit" ng-click="clickSubmit()" ng-dblClick="" ng-disabled="!approvedToPreserve" class="btn btn-info submit-button">{{'SUBMIT' | translate}}</button>
                </form>
            </div>
        </div>
        <div ng-if="filebrowser" class="file-browser" tabindex="-1" ng-keydown="vm.contentViewsKeydownListener($event)">
            <filebrowser ip="ip" workarea="vm.workarea" browserstate="vm.browserstate"></filebrowser>
            <div id="file-upload" ng-if="!ip.workarea.read_only && (ip.responsible.id == auth.id || checkPermission('ip.can_upload')) && showFileUpload" ng-include
            src="'static/frontend/views/file_upload.html'"></div>
        </div>
    </div>
</div>
