<div class="ip-approval">
    <div class="content-wrapper">
        <div class="list-view" ng-include src="'static/frontend/views/list_view_table.html'"></div>
        <div ng-if="requestForm" class="request-layout" tabindex="-1" ng-keydown="vm.contentViewsKeydownListener($event)">
            <form id="request-form" name="vm.requestForm" class="request-form" ng-submit="submitRequest(ip, vm.request)">
                <div class="request-type">
                    <div ng-if="checkPermission('ip.add_to_ingest_workarea')">
                        <input type="radio" ng-model="vm.request.type" value="get">
                            <label>
                            {{'GET' | translate}}
                        </label>
                    </div>
                    <div ng-if="checkPermission('ip.add_to_ingest_workarea_as_new')">
                        <input type="radio" ng-model="vm.request.type" value="get_as_new">
                        <label>
                            {{'GET_AS_NEW_GENERATION' | translate}}
                        </label>
                    </div>
                    <div ng-if="checkPermission('ip.diff_check')">
                        <input type="radio" ng-model="vm.request.type" value="diff_check">
                        <label>
                            {{'DIFFCHECK' | translate}}
                        </label>
                    </div>
                    <div ng-if="checkPermission('ip.preserve')">
                        <input type="radio" ng-model="vm.request.type" value="preserve">
                        <label>
                            {{'PRESERVE' | translate}}
                        </label>
                    </div>
                </div>
                <div class="request-params">
                    <div class="form-group" ng-if="vm.request.type == 'get' || vm.request.type == 'get_as_new' || vm.request.type == 'diff_check' || vm.request.type == 'preserve'">
                        <label>
                            {{'COMMENT' | translate}}
                        </label>
                        <input class="form-control" ng-model="vm.request.purpose">
                    </div>
                    <div class="form-group" ng-if="vm.request.type == 'preserve'">
                        <label>
                            {{'APPRAISAL_DATE' | translate}}
                        </label>

                        <div class="dropdown" uib-dropdown dropdown-append-to-body is-open="dropdown_status.appraisal_date">
                            <a class="dropdown-toggle" id="dropdown-appraisalDate" role="button" uib-dropdown-toggle>
                                <div class="input-group">
                                    <input type="text" data-date-time-input="YYYY-MM-DD" class="form-control" data-ng-model="vm.request.appraisal_date"><span class="input-group-addon"><i class="fas fa-calendar-alt"></i></span>
                                </div>
                            </a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel" uib-dropdown-menu>
                                <datetimepicker
                                    data-ng-model="vm.request.appraisal_date"
                                    ng-change="dropdown_status.appraisal_date = false"
                                    data-datetimepicker-config="{ dropdownSelector: '#dropdown-appraisalDate', minView: 'day', startView: 'year', modelType: 'YYYY-MM-DDTHH:mm:ssZ'}"/>
                            </ul>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <div ng-if="(eventShow || statusShow || vm.request.type == 'preserve')" class="events-status-wrapper" tabindex="-1" ng-keydown="vm.contentViewsKeydownListener($event)">
            <event-table ng-if="eventShow || vm.request.type == 'preserve'" ip="ip"></event-table>
            <div ng-if="statusShow" class="status-view">
                <state-tree-view ip="ip"></state-tree-view>
            </div>
        </div>
        <div ng-if="filebrowser" class="file-browser" tabindex="-1" ng-keydown="vm.contentViewsKeydownListener($event)">
            <filebrowser ip="ip"></filebrowser>
        </div>
        <div tabindex="-1" ng-keydown="vm.contentViewsKeydownListener($event)" ng-if="eventlog && (vm.request.type == 'edit_as_new' || vm.request.type == 'view' || vm.request.type == 'diff_check' || vm.request.type == 'preserve' || vm.request.type == 'get' || vm.request.type == 'get_as_new')" class="select-sub-edit-eventlog-wrapper">
            <div ng-if="eventlog" class="eventlog-view">
                <form class="eventlog-form">
                    <div class="checkbox">
                        <label>
                            <input type="checkBox" ng-disabled="vm.requestForm.$invalid" ng-model="approvedToPreserve">{{'REQUESTAPPROVED' | translate}}</input>
                        </label>
                    </div>
                    <button type="button" ng-click="clickSubmit()" ng-dblClick="" ng-disabled="!approvedToPreserve || vm.submittingRequest" class="btn btn-info submit-button">{{'SUBMIT' | translate}} <i ng-if="vm.submittingRequest" class="fas fa-spinner fa-spin"/></button>
                </form>
            </div>
        </div>
    </div>
</div>
