<div class="my-page">
    <div class="content-wrapper">
        <div class="table-control">
            <button class="btn btn-default" ng-click="tableControlCollapsed = !tableControlCollapsed">Choose visible requests</button>
            <div uib-collapse="tableControlCollapsed">
                <div class="well">
                    <label>
                        <input type="checkbox" ng-model="visibleRequests.access"></input>
                        Access
                    </label><br />
                    <label>
                        <input type="checkbox" ng-model="visibleRequests.workarea"></input>
                        To/from workarea
                    </label><br />
                    <label>
                        <input type="checkbox" ng-model="visibleRequests.receive"></input>
                        Receive
                    </label>
                </div>
            </div>
            <div>
            Currently showing: <b ng-if="visibleRequests.access">Access requests</b> <b ng-if="visibleRequests.workarea">Workarea requests</b> <b ng-if="visibleRequests.receive">receive requests</b>
            </div>
        </div>
        <div class="list-view" ng-include src="'static/frontend/views/list_view_table.html'"></div>
    </div>
</div>
