<div class="content-wrapper">
    <div class="list-view" st-table="vm.displayedIps" st-pipe="vm.callServer">
        <div class="search-prepare-wrapper">
            <label for items-per-page></label>
            <select id="items-per-page" ng-change="updateIpsPerPage(vm.itemsPerPage)" style="margin-right: 10px;" class="form-control items-per-page" ng-model="vm.itemsPerPage" ng-options="x for x in [5,10,20,25,50]" uib-popover="{{'ITEMSPERPAGE' | translate}}" popover-placement="top-left" popover-popup-delay="500" popover-append-to-body="true"></select>
            <input st-search="" style="width: 50%;" class="form-control" placeholder="{{'GLOBALSEARCH' | translate}}" type="text" uib-popover="{{'GLOBALSEARCHDESC' | translate}}" popover-placement="top-left" popover-popup-delay="500" popover-append-to-body="true" />
            <button type="button" ng-click="newOrderModal()" class="btn btn-info">{{'NEWORDER' | translate}}</button>
            <span ng-click="getListViewData()" class="clickable fa fa-refresh fa-lg" ng-class="{'fa-refresh-animate': ipLoading }" uib-popover="{{'REFRESHTABLEDESC' | translate}}" popover-placement="left" popover-popup-delay="500" popover-append-to-body="true"></span>
        </div>
        <div id="list-view" class="list-view-table">
            <table class="table table-striped" style="margin-bottom: 0px;">
                <thead>
                    <tr>
                        <th class="clickable" st-sort="label" class="column-label">{{'LABEL' | translate}}</th>
                        <th class="clickable" st-sort="responsible" st-sort-default="reverse" class="column-label">{{'RESPONSIBLE' | translate}}</th>
                        <th class="clickable" class="delete-label">{{'DELETE' | translate}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-class="{'selected': ip.id == row.id}" ng-repeat="row in vm.displayedIps"  ng-attr-context-menu="menuOptions" class="table-item">
                        <td class="clickable" ng-click="ipTableClick(row)" uib-popover="{{'LABELDESC' | translate}}: {{row.label}}" popover-placement="top-left" popover-popup-delay="500" popover-append-to-body="true">{{row.label}}</td>
                        <td class="clickable" ng-click="ipTableClick(row)">{{row.responsible}}</td>
                        <td ng-click="ipRowClick(row)">
                            <button type="button"
                                    ng-if="row.responsible.id == auth.id || checkPermission('ip.delete_informationpackage')"
                                    ng-click="removeIpModal(row)"
                                    class="fa fa-trash"
                                    uib-popover="{{'REMOVEIP' | translate}}: {{row.label}}"
                                    popover-placement="top-left"
                                    popover-popup-delay="500"
                                    popover-append-to-body="true"></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <td ng-show="!initLoad" colspan="4" class="text-center">
            <div class="text-center" st-template="static/frontend/views/pagination.html" st-pagination="" st-items-by-page="vm.itemsPerPage" st-displayed-pages="7"></div>
        </td>
    </div>
    <div ng-if="select" class="select-sub-edit-eventlog-wrapper">
        <div ng-if="select" class="select-view">
        </div>
    </div>
</div>