<div class="profile-manager">
    <div class="content-wrapper">
        <div class="select-sub-edit-eventlog-wrapper">
            <div ng-if="select" class="select-view">
                <uib-tabset active="activePill" vertical="false">
                    <uib-tab index="0" heading="Submission agreement"><sa-editor></sa-editor></uib-tab>
                    <uib-tab index="1" heading="Profiles"><profile-maker></profile-maker></uib-tab>
                    <uib-tab index="2" heading="Sync"><sa-sync></sa-sync></uib-tab>
                </uib-tabset>
            </div>
        </div>
    </div>
</div>