<div class="profile-manager">
    <div class="content-wrapper">
        <div class="select-sub-edit-eventlog-wrapper">
            <div ng-if="select" class="select-view">
                <div class="profile-manager-sub-menu menu" ng-controller="UtilCtrl as vm">
                    <div tabindex="0" ng-keydown="navKeydownListener($event, 'home.administration.profileManager.saEditor')" ng-click="navigateToState('home.administration.profileManager.saEditor')" ng-class="{chosen: $state.current.name == 'home.administration.profileManager.saEditor'}"
                        ng-if="checkPermissions('home.administration.profileManager.saEditor')" class="nav-item sliding-middle-out">{{'SAEDITOR' | translate}}</div>
                    <div tabindex="0" ng-keydown="navKeydownListener($event, 'home.administration.profileManager.profileMaker')" ng-click="navigateToState('home.administration.profileManager.profileMaker')" ng-class="{chosen: $state.current.name == 'home.administration.profileManager.profileMaker'}"
                    ng-if="checkPermissions('home.administration.profileManager.profileMaker')" class="nav-item sliding-middle-out">{{'PROFILEMAKER' | translate}}</div>
                    <div tabindex="0" ng-keydown="navKeydownListener($event, 'home.administration.profileManager.import')" ng-click="navigateToState('home.administration.profileManager.import')" ng-class="{chosen: $state.current.name == 'home.administration.profileManager.import'}"
                    ng-if="checkPermissions('home.administration.profileManager.import')" class="nav-item sliding-middle-out">{{'IMPORT' | translate}}</div>
                    <div tabindex="0" ng-keydown="navKeydownListener($event, 'home.administration.profileManager.export')" ng-click="navigateToState('home.administration.profileManager.export')" ng-class="{chosen: $state.current.name == 'home.administration.profileManager.export'}"
                    ng-if="checkPermissions('home.administration.profileManager.export')" class="nav-item sliding-middle-out">{{'EXPORT' | translate}}</div>
                </div>
                <div tabindex="-1" class="profile-manager-route" ui-view>
                </div>
            </div>
        </div>
    </div>
</div>
