<div class="reception">
    <div class="content-wrapper">
        <div class="list-view" ng-include src="'static/frontend/views/list_view_table.html'"></div>
        <div ng-if="(eventShow || statusShow)" class="events-status-wrapper">
            <div ng-include src="'static/frontend/views/event_table.html'"></div>
            <div ng-if="statusShow" class="status-view">
                <div ng-include src="'static/frontend/views/status_tree_view.html'"></div>
            </div>
        </div>
        <div ng-if="filebrowser" class="file-browser" ng-controller="FilebrowserController" ng-include src="'static/frontend/views/filebrowser.html'"></div>
        <div ng-if="includedIps.length>0" class="receive-button-wrapper">
            <div id="request-form" class="request-form">
                <button class="btn btn-info" ng-click="receiveModal(includedIps[0])">{{'RECEIVE' | translate}}</button>
            </div>
        </div>
    </div>
</div>
