<div class="enter-profile-name">
        <h3 class="modal-title" id="modal-title">{{'REMOVE' | translate}}</h3>
    </div>
    <div class="modal-body" id="modal-body">
        <h4>
            {{'DO_YOU_WANT_TO_REMOVE_CONVERSION' | translate:$ctrl.data.conversion}}?
        </h4>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="$ctrl.ok()" focused="true">{{'OK' | translate}}</button>
        <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">{{'CANCEL' | translate}}</button>
    </div>
