<div class="tree-result-wrapper search-detail" id="view-record">
    <div ng-if="vm.unavailable" class="view-content text-center">
        <h4>{{'PAGE_DOES_NOT_EXIST' | translate}}</h4>
        <button class="btn btn-success" ng-click="vm.gotoSearch()">{{'GO_TO_SEARCH' | translate}}</button>
    </div>
    <div class="record-tree" ng-if="vm.recordTreeData && !vm.unavailable">
        <div class="classification-select">
            <label class="">
                {{'CLASSIFICATION_STRUCTURE' | translate}}
            </label>
            <div class="flex-row">
                <select class="form-control version-select" ng-model="vm.structure" ng-change="vm.loadRecordAndTree(vm.record._index, vm.record._id)">
                    <option ng-repeat="classification in vm.archiveStructures" value="{{classification.id}}" ng-disabled="!vm.existsForRecord(classification.id)">
                        {{classification.name}}
                    </option>
                </select>
                <button ng-click="vm.newStructureModal(vm.recordTreeData[0])" class="btn btn-success lock-button">+</button>
            </div>
        </div>
        <div js-tree="vm.recordTreeConfig" should-apply="vm.applyRecordModelChanges()" ng-model="vm.recordTreeData" tree="vm.recordTreeInstance" tree-events="changed:vm.selectRecord;ready:vm.setType;open_node:vm.expandChildren;move_node:vm.dropNode;"></div>
    </div>
    <div ng-if="!vm.unavailable" class="view-content">
        <div class="float-right">
            <label class="">
                {{'VERSION' | translate}}
            </label>
            <div class="flex-row">
                <select class="form-control version-select" ng-model="vm.currentVersion" ng-change="vm.showVersion(vm.currentVersion)">
                    <option ng-repeat="version in vm.record.versions" value="{{version._id}}">
                        {{$index+1}}, {{version.create_date | date:"yyyy-MM-dd"}}
                    </option>
                </select>
                <button type="button" ng-disabled="vm.record.current_version" class="btn btn-success lock-button" ng-click="vm.setCurrentVersion(vm.currentVersion)">{{'SET_CURRENT_VERSION' | translate}}</button>
            </div>
        </div>
        <div ng-switch="vm.record._index">
            <div ng-switch-when="component">
                <div ng-include="'static/frontend/views/search_component_detail.html'"></div>
            </div>
            <div ng-switch-when="archive">
                <div ng-include="'static/frontend/views/search_archive_detail.html'"></div>
            </div>
            <div ng-switch-when="document">
                <div ng-include="'static/frontend/views/search_document_detail.html'"></div>
            </div>
            <div ng-switch-when="directory">
                <div ng-include="'static/frontend/views/search_directory_detail.html'"></div>
            </div>
        </div>
    </div>
</div>
