<div class="tree-result-wrapper search-detail" id="view-record">
        <div class="record-tree" ng-if="vm.recordTreeData">
            <div js-tree="vm.recordTreeConfig" should-apply="vm.applyRecordModelChanges()" ng-model="vm.recordTreeData" tree="vm.recordTreeInstance" tree-events="changed:vm.selectRecord;ready:vm.setType;open_node:vm.expandChildren;"></div>
        </div>
        <div ng-switch="vm.record._index" class="view-content">
            <div ng-switch-when="component">
                <div ng-include="'static/frontend/views/search_component_detail.html'"></div>
            </div>
            <div ng-switch-when="archive">
                <div ng-include="'static/frontend/views/search_archive_detail.html'"></div>
            </div>
            <div ng-switch-when="document">
                <div ng-include="'static/frontend/views/search_document_detail.html'"></div>
            </div>
            <div ng-switch-when="directory">
                <div ng-include="'static/frontend/views/search_directory_detail.html'"></div>
            </div>
            <!--<select ng-model="vm.currentVersion" ng-options="x as x.version_number for x in vm.record.versions">
            </select>-->
        </div>
    </div>
