<div class="component-result">
    <h4>{{vm.record.type}}</h4>
    <h4><span ng-bind-html="vm.record._source.text"></span> <span ng-if="vm.record._source.unit_dates.date">({{vm.record._source.unit_dates.date}})</span></h4>
    <p ng-if="vm.record._source.start_date">{{vm.record._source.start_date | date:"yyyy-MM-dd"}} - {{vm.record._source.end_date | date:"yyyy-MM-dd"}}</p>
    <p class="result-description">{{vm.record._source.desc}}</p>
    <br/>
    <button ng-if="vm.record.type == 'document' && (vm.record._source.terms_and_condition == null || checkPermission('tags.view_pul'))" class="btn btn-success lock-button" ng-click="vm.viewFile(vm.record._source.name)"><i class="fa fa-eye"></i>&nbsp;{{'VIEW' | translate}}</button>
    <p style="color: red; white-space: nowrap;" ng-if="vm.record.type == 'document' && !(vm.record._source.terms_and_condition == null || checkPermission('tags.view_pul'))">Ej behörig att visa</p>
    <div class="metadata-tables-wrapper">
        <h4>{{'METADATA' | translate}}</h4>
        <div class="table-x-overflow metadata-table">
            <table>
                <tr ng-repeat="(key, value) in vm.record._source" ng-if="key != 'unit_ids' && key != 'unit_dates' && key != '_index' && key != 'parents' && key != 'children' && key != 'state' && key != 'text' && key != '_type' && key != 'type' && key != '_id'">
                    <td ng-if="key != 'terms_and_condition'" style="padding-right: 10px;"><b>{{key}}</b></td>
                    <td ng-if="vm.record.masked_fields.includes(key) && key != 'terms_and_condition' && key != 'parent'" style="border-left-style: solid;border-width: 1px;padding-left: 10px;">
                        <div class="masked" ng-bind-html="value"></div>
                    </td>
                    <td ng-if="!vm.record.masked_fields.includes(key) && key != 'terms_and_condition' && key != 'parent'" style="border-left-style: solid;border-width: 1px;padding-left: 10px;" ng-bind-html="value"></td>
                    <td ng-if="key == 'parent'" style="border-left-style: solid;border-width: 1px;padding-left: 10px;" ng-bind-html="value.id"></td>
                </tr>
            </table>
        </div>
    </div>
    <br/>
    <button ng-if="vm.record._index == 'document'" class="btn btn-success lock-button" ng-click="vm.viewFile(vm.record)"><i class="fa fa-eye"></i>&nbsp;{{'VIEW' | translate}}</button>
    <h4>{{'CONTENTS' | translate}}</h4>
    <div st-table="children" st-safe-src="vm.record_children" style="width:100%;" class="table-x-overflow">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>{{'REFERENCE_CODE' | translate}}</th>
                    <th>{{'TITLE' | translate}}</th>
                    <th>{{'TIME' | translate}}</th>
                    <th ng-if="x._type == 'document'"></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="x in children">
                    <td ng-click="vm.gotoNode(x)" class="cursor-pointer"><b>{{x._source.reference_code}}</b></td>
                    <td ng-click="vm.gotoNode(x)" class="cursor-pointer">{{x._source.name}}</td>
                    <td ng-click="vm.gotoNode(x)" class="cursor-pointer">{{x._source.unit_dates.date}}</td>
                    <td>
                        <button ng-if="x._index == 'document'" class="btn btn-success lock-button" ng-click="vm.viewFile(x._source)"><i class="fa fa-eye"></i>&nbsp;{{'VIEW' | translate}}</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="search-pagination" style="float: right;" st-template="static/frontend/views/file_pagination.html" st-pagination="" st-items-by-page="10" st-displayed-pages="7"></div>
    </div>
</div>
