<div class="archive-result" ng-if="vm.record">
  <div class="d-flex justify-content-between align-items-center w-100">
    <h3 title="Namn">
      <strong title="Namn" ng-if="vm.record._source.name">
        {{vm.record._source.name}}
      </strong>
    </h3>
    <button class="btn btn-primary" ng-click="vm.exportArchive(vm.record)">
      {{'EXPORT' | translate}}
    </button>
  </div>
  <h4 title="Informationsobjekt">{{vm.record._source.type}}</h4>
  <div ng-if="vm.record.description">
    <p ng-if="vm.record.description" class="result-description">
      {{vm.record.description}}
    </p>
  </div>
  <div ng-if="vm.getArchiveCreator(vm.record) !== null">
    <label for="creator">{{'ACCESS.ARCHIVE_CREATOR' | translate}}:&nbsp;</label>
    <a id="creator" ui-sref="home.access.archiveCreators({id: vm.getArchiveCreator(vm.record).id})">
      {{vm.getArchiveCreator(vm.record).auth_name}}
    </a>
  </div>
  <div ng-if="vm.record.identifiers.length > 0" class="pb-base">
    <label>
      {{'ACCESS.IDENTIFIERS' | translate}}
    </label>
    <div ng-repeat="x in vm.record.identifiers">
      {{x.type + ': ' + x.identifier}}
    </div>
  </div>
  <div ng-if="vm.record.agents.length > 0" class="py-base">
    <label>
      {{'ACCESS.RELATED_AGENTS' | translate}}:
    </label>
    <div ng-repeat="x in vm.record.agents" class="d-flex">
      {{x.type}}:&nbsp;
      <a ui-sref="home.access.archiveCreators({id: x.agent.id})">{{x.name}}</a>
    </div>
  </div>
  <div ng-if="vm.record.history.length > 0">
    <hr class="small mx-0" />
    <h4>
      {{'ACCESS.HISTORY' | translate}}
    </h4>
    <div ng-repeat="x in vm.record.history">
      <hr ng-if="$index !== 0" class="small" />
      <div class="flex-row">
        <b
          ><span
            uib-tooltip="{{ 'CREATE_DATE' | translate }}"
            tooltip-placement="auto top"
            tooltip-append-to-body="true"
          >
            {{x.create_date | date:"yyyy-MM-dd"}}
          </span>
          <span
            ng-if="x.revise_date"
            uib-tooltip="{{ 'ACCESS.REVISE_DATE' | translate }}"
            tooltip-placement="auto top"
            tooltip-append-to-body="true"
            >({{x.revise_date | date:"yyyy-MM-dd"}})</span
          >
        </b>
      </div>
      <div class="pt-base" ng-bind-html="x.text"></div>
    </div>
    <hr class="small mx-0" />
  </div>
  <div ng-if="vm.record.remarks.length > 0">
    <hr class="small mx-0" />
    <h4>
      {{'ACCESS.REMARKS' | translate}}
    </h4>
    <div ng-repeat="x in vm.record.remarks">
      <hr ng-if="$index !== 0" class="small" />
      <div class="flex-row">
        <b
          ><span
            uib-tooltip="{{ 'CREATE_DATE' | translate }}"
            tooltip-placement="auto top"
            tooltip-append-to-body="true"
          >
            {{x.create_date | date:"yyyy-MM-dd"}}
          </span>
          <span
            ng-if="x.revise_date"
            uib-tooltip="{{ 'ACCESS.REVISE_DATE' | translate }}"
            tooltip-placement="auto top"
            tooltip-append-to-body="true"
            >&nbsp;({{x.revise_date | date:"yyyy-MM-dd"}})</span
          >
        </b>
      </div>
      <div class="pt-base" ng-bind-html="x.text"></div>
    </div>
    <hr class="small mx-0" />
  </div>
  <result-field
    label="{{'ACCESS.CLASSIFICATION_STRUCTURE' | translate}}"
    data="StructureName.getNameWithVersion(vm.getStructureById(vm.record.structures, vm.structure))"
    stronglabel="true"
  ></result-field>
  <result-field
    label="{{'ACCESS.ARCHIVE_REFERENCE' | translate}}"
    data="vm.record._source.reference_code"
    stronglabel="true"
  ></result-field>
  <result-field
    label="{{'ACCESS.ARCHIVE_CREATOR' | translate}}"
    data="vm.record._source.archive_creator"
    stronglabel="true"
  ></result-field>
  <result-field
    label="{{'ACCESS.ARCHIVE_RESPONSIBLE' | translate}}"
    data="vm.record._source.archive_responsible"
    stronglabel="true"
  ></result-field>

  <div ng-if="vm.record._source.desc">
    <p ng-if="vm.record._source.desc" class="result-description">
      {{vm.record._source.desc}}
    </p>
  </div>
  <div
    ng-if="vm.record.create_date || vm.record.revise_date || vm.record._source.arrival_date || vm.record._source.dispatch_date || vm.record._source.decision_date || vm.record._source.preparation_date || vm.record._source.ended_date || vm.record.end_date"
  >
    <strong>{{'DATES' | translate}}:</strong>
    <result-field
      label="{{'CREATE_DATE'| translate}}"
      data="vm.record.create_date ? vm.record.create_date : ('ACCESS.DATE_MISSING' | translate)"
      type="date"
    ></result-field>
    <result-field label="{{'ACCESS.REVISE_DATE' |translate}}" data="vm.record.revise_date" type="date"></result-field>
    <result-field
      label="{{'ACCESS.IMPORT_DATE' | translate}}"
      data="vm.record.import_date ? vm.record.import_date : ('ACCESS.DATE_MISSING' | translate)"
      type="date"
    ></result-field>
    <result-field label="Inkommen" data="vm.record._source.arrival_date" type="date"></result-field>
    <result-field label="Expedierad" data="vm.record._source.dispatch_date" type="date"></result-field>
    <result-field label="Beslutat" data="vm.record._source.decision_date" type="date"></result-field>
    <result-field label="Upprättad" data="vm.record._source.preparation_date" type="date"></result-field>
    <result-field label="Avslutat" data="vm.record._source.ended_date" type="date"></result-field>
    <result-field label="{{'START_DATE' | translate}}" data="vm.record.start_date" type="date"></result-field>
    <result-field label="{{'END_DATE' | translate}}" data="vm.record.end_date" type="date"></result-field>
    <br />
  </div>
  <div ng-include src="'static/frontend/views/search_detail_contents.html'"></div>
</div>
