<div class="archive-result">
    <h3 title="Namn">
        <strong title="Namn" ng-if="vm.record._source.name">
            {{vm.record._source.name}}
        </strong>
    </h3>
    <h4><span title="Informationsobjekt">{{vm.record._source.type}}</span></h4>
    <div ng-if="vm.record._source.desc">
        <p ng-if="vm.record._source.desc" class="result-description">
            {{vm.record._source.desc}}
        </p>
    </div>
    <div ng-if="vm.record._source.create_date || vm.record._source.arrival_date || vm.record._source.dispatch_date || vm.record._source.decision_date || vm.record._source.preparation_date || vm.record._source.ended_date">
        <strong>Datum:</strong>
        <result-field label="Skapad" data="vm.record._source.create_date" type="date"></result-field>
        <result-field label="Inkommen" data="vm.record._source.arrival_date" type="date"></result-field>
        <result-field label="Expedierad" data="vm.record._source.dispatch_date" type="date"></result-field>
        <result-field label="Beslutat" data="vm.record._source.decision_date" type="date"></result-field>
        <result-field label="Upprättad" data="vm.record._source.preparation_date" type="date"></result-field>
        <result-field label="Avslutat" data="vm.record._source.ended_date" type="date"></result-field>
        <br/>
    </div>
    <h4>{{'CONTENTS' | translate}}</h4>
    <div st-table="children" st-safe-src="vm.record_children" class="table-x-overflow table-container">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>{{'REFERENCE_CODE' | translate}}</th>
                    <th>{{'TITLE' | translate}}</th>
                    <th>{{'TIME' | translate}}</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="x in children">
                    <td ng-click="vm.gotoNode(x)" class="cursor-pointer"><b>{{x._source.reference_code}}</b></td>
                    <td ng-click="vm.gotoNode(x)" class="cursor-pointer">{{x._source.name}}</td>
                    <td ng-click="vm.gotoNode(x)" class="cursor-pointer">{{x._source.unit_dates.date}}</td>
                    <td>
                        <button ng-if="x._index == 'document'" class="btn btn-success lock-button" ng-click="vm.viewFile(x._source)"><i class="fa fa-eye"></i>&nbsp;{{'VIEW' | translate}}</button>
                    </td>
                </tr>
                <tr ng-if="children.length <= 0 && !vm.childrenLoading" class="empty-table-indicator">
                    <td colspan="4">{{'NO_RESULTS_FOUND' | translate}}</td>
                </tr>
                <tr ng-if="children.length <= 0 && vm.childrenLoading" class="empty-table-indicator">
                    <td class="loading-column" colspan="4">{{'LOADING' | translate}}</td>
                </tr>
            </tbody>
        </table>
        <div class="search-pagination" style="float: right;" st-template="static/frontend/views/file_pagination.html" st-pagination="" st-items-by-page="10" st-displayed-pages="7"></div>
    </div>
</div>
