<div ng-if="('home.ingest' | includedByState) || ('home.access' | includedByState) || ('home.administration' | includedByState) || ($state.current.name == 'home.appraisal')">
    <div class="sub-menu">
        <div ng-if="'home.ingest' | includedByState">
            <div ui-sref="home.ingest.reception" ng-class="{chosen: $state.current.name == 'home.ingest.reception'}" class="nav-item sliding-middle-out">{{'RECEPTION' | translate}}</div>
            <div ui-sref="home.ingest.ipApproval"  ng-class="{chosen: $state.current.name == 'home.ingest.ipApproval'}" class="nav-item sliding-middle-out" style="margin-left: 5px;">{{'APPROVAL' | translate}}</div>
            <div ui-sref="home.ingest.workarea"  ng-class="{chosen: $state.current.name == 'home.ingest.workarea'}" class="nav-item sliding-middle-out" style="margin-left: 5px;">{{'WORKAREA' | translate}}</div>
            <div ng-if="$state.current.name == 'home.ingest.createDip'" class="btn btn-sub-menu btn-create-dip btn-default" style="margin-left: 5px;">{{'CREATEDIP' | translate}}</div>
        </div>
        <div ng-if="'home.access' | includedByState">
            <div ui-sref="home.access.accessIp" ng-class="{chosen: $state.current.name == 'home.access.accessIp'}" class="nav-item sliding-middle-out">{{'SEARCH' | translate}}</div>
            <div ui-sref="home.access.workarea" ng-class="{chosen: $state.current.name == 'home.access.workarea'}" class="nav-item sliding-middle-out" style="margin-left: 5px;">{{'WORKAREA' | translate}}</div>
            <div ui-sref="home.access.createDip" ng-class="{chosen: $state.current.name == 'home.access.createDip'}" class="nav-item sliding-middle-out" style="margin-left: 5px;">{{'DISSEMINATION' | translate}}</div>
        </div>
        <div ng-if="'home.administration' | includedByState">
            <div ui-sref="home.administration.mediaInformation" ng-class="{chosen: $state.current.name == 'home.administration.mediaInformation'}" class="nav-item sliding-middle-out">{{'MEDIAINFORMATION' | translate}}</div>
            <div ui-sref="home.administration.robotInformation" ng-class="{chosen: $state.current.name == 'home.administration.robotInformation'}" class="nav-item sliding-middle-out">{{'ROBOTINFORMATION' | translate}}</div>
            <div ui-sref="home.administration.queues" ng-class="{chosen: $state.current.name == 'home.administration.queues'}" class="nav-item sliding-middle-out">{{'QUEUES' | translate}}</div>
            <div ui-sref="home.administration.storageMigration" ng-class="{chosen: $state.current.name == 'home.administration.storageMigration'}" class="nav-item sliding-middle-out">{{'STORAGEMIGRATION' | translate}}</div>
            <div ui-sref="home.administration.storageMaintenance" ng-class="{chosen: $state.current.name == 'home.administration.storageMaintenance'}" class="nav-item sliding-middle-out">{{'STORAGEMAINTENANCE' | translate}}</div>
        </div>
        <div ng-if="$state.current.name == 'home.appraisal'" class="nav-item sliding-middle-out" style="margin-left: 5px;" translate="APPRAISAL"></div>
    </div>
</div>