<div class="sub-menu">
<!--<button ui-sref="home.createSip.info" type="button" class="btn-primary btn-lg">{{'INFOPAGE' | translate}}</button>-->
    <button ui-sref="home.createSip.prepareIp" type="button" class="btn-primary btn-lg">{{'PREPAREIP' | translate}}</button>
    <!-- <button ui-sref="home.createSip.dataSelection" type="button" class="btn-primary btn-lg">{{'DATASELECTION' | translate}}</button>
        <button ui-sref="home.createSip.dataExtraction" type="button" class="btn-primary btn-lg">{{'DATAEXTRACTION' | translate}}</button>
        <button ui-sref="home.createSip.manageData" type="button" class="btn-primary btn-lg">{{'MANAGEDATA' | translate}}</button>-->
        <button ui-sref="home.createSip.ipApproval" type="button" class="btn-primary btn-lg">{{'CREATESIP' | translate}}</button>
        <!--<button ui-sref="home.createSip.ipManagement" type="button" class="btn-primary btn-lg">{{'IPMANAGEMENT' | translate}}</button>-->
</div>
