<div>
    <h4>ESSArch Support</h4>
    <p>{{'SUPPORTROW1' | translate}}</p>
    <p>{{'SUPPORTROW2' | translate}}</p>
    <p>{{'SUPPORTROW3' | translate}} <i class="fa fa-arrow-right"></i> "{{'SEETRACEBACK' | translate}}" <i class="fa fa-arrow-right"></i> "{{'COPYTRACEBACK' | translate}}".</p>
    <a href="http://project.essolutions.se/projects/essarch" title="ES Solutions support" target="_blank">ES Solutions support</a>
    <br/>
    <a href="http://www.essolutions.se" title="Essolutions.se" target="_blank">{{'CONTACT' | translate}}</a>
</div>
