<div class="modal-heading">
  <h3 class="modal-title" id="modal-title">{{'ACCESS.SELECT_LOCATION_FOR_NODE' | translate:$ctrl.node}}</h3>
</div>
<form ng-submit="$ctrl.save()" novalidate name="$ctrl.form">
  <div class="modal-body" id="modal-body">
    <location-tree read-only="true" selected="$ctrl.location"></location-tree>
    <button type="button" class="btn btn-danger" ng-click="$ctrl.clearLocation()">
      {{'CLEAR' | translate}}
    </button>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" type="submit" ng-disabled="$ctrl.saving">
      {{'SELECT' | translate}} <i ng-if="$ctrl.saving" class="fas fa-spinner fa-spin" />
    </button>
    <button class="btn btn-default" type="button" ng-click="$ctrl.cancel()" ng-disabled="$ctrl.saving">
      {{'CANCEL' | translate}}
    </button>
    <form-errors errors="$ctrl.nonFieldErrors"></form-errors>
  </div>
</form>
