<div class="user-settings">
    <div>
        <div class="flex-row">
            <div ng-controller="UtilCtrl" class="main-view-options">
                <a href="/admin/" class="fa fa-cog info-popover" uib-popover="{{'SETTINGS' | translate}}"  popover-placement="top-left" popover-popup-delay="500" popover-append-to-body="true"></a>
                <a ui-sref="home.versionInfo" class="fa fa-question-circle info-popover" uib-popover="{{'HELP' | translate}}"  popover-placement="top-left" popover-popup-delay="500" popover-append-to-body="true"></a>
                <div ng-click="showAlert()" class="notification-icon info-popover" uib-popover="{{'NOTIFICATIONS' | translate}}"  popover-placement="top-left" popover-popup-delay="500" popover-append-to-body="true">
                    <i class="fa fa-bell"></i>
                    <div ng-if="unseenNotifications != 0 && unseenNotifications <= 999" class="unseen-text">{{unseenNotifications}}</div>
                    <div ng-if="unseenNotifications > 999" class="unseen-text">{{999}}+</div>
                </div>
            </div>
            <div class="main-page-selects">
                <div ng-controller="OrganizationCtrl" class="organization-select">
                    <select tabindex="-1" style="width: auto; margin-left: 10px;" class="form-control" ng-model="currentOrganization" ng-change="changeOrganization(); updateListView()" ng-options="x as x.name for x in availableOrganizations track by x.id"></select>
                </div>
                <div ng-controller="LanguageCtrl" class="language-select" style="width: 100px; margin-left: 10px;">
                    <select tabindex="-1" class="form-control" ng-model="currentLanguage" ng-change="changeLanguage(currentLanguage)" ng-options="x | translate for x in availableLanguages" style="width: 100%;" uib-popover="{{'CHOOSELANGUAGE' | translate}}"  popover-placement="left" popover-popup-delay="500" popover-append-to-body="true"></select>
                </div>
            </div>
        </div>
    </div>
    <div class="ip-view-type">
        <label>
            Ip view type
            <select class="form-control" ng-change="changeIpViewType(auth.ip_list_view_type)" ng-model="auth.ip_list_view_type" ng-options="x for x in ['ip','aic']"></select>
        </label>
    </div>
    <div ng-if="vm.activeColumns.options && vm.allColumns" class="active-columns">
        <label>
            Visible columns
        </label>
        <br/>
        <div class="column-picker">
            <select multiple="multiple" ng-model="vm.availableColumns.chosen" ng-dblclick="moveToActive(vm.availableColumns.chosen)" ng-options="x as x.label for x in vm.availableColumns.options" size="10"></select>
            <div class="buttons">
                <button class="btn btn-default" ng-click="moveToActive(vm.availableColumns.chosen)"> <i class="fa fa-arrow-right"></i></button>
                <button class="btn btn-default" ng-click="moveToAvailable(vm.activeColumns.chosen)"> <i class="fa fa-arrow-left"></i></button>
            </div>
            <select multiple="multiple" ng-model="vm.activeColumns.chosen" ng-dblclick="moveToAvailable(vm.activeColumns.chosen)" ng-options="x as x.label for x in vm.activeColumns.options" size="10"></select>
            <div class="buttons">
                <button class="btn btn-default" ng-click="moveUp(vm.activeColumns.chosen)"> <i class="fa fa-arrow-up"></i></button>
                <button class="btn btn-default" ng-click="moveDown(vm.activeColumns.chosen)"> <i class="fa fa-arrow-down"></i></button>
            </div>
        </div>
    </div>
    <br/>
    <div class="save-settings">
        <button class="btn btn-info" ng-click="saveColumns()">Save</button>
        <div uib-alert ng-if="saveAlert" style="width: 50%;" ng-class="'alert-' + (saveAlert.type || 'warning')" close="closeAlert()">{{saveAlert.msg | translate}}</div>
    </div>
</div>
