$body-background: #f5f5f5;
$shadow-color: #dfdfdf;
$border-color: #cecece;
$container-background: white;
$header-color: #0e4971;
$step-fail: #f44242;
$step-success: #4fc388;
$step-in-progress: #4d94f2;
$selected: rgba(41, 128, 185, 0.3);
$sub-menu: #152935;
$gold-leaf: #D9B310;