@import 'colors';
@import 'mixins';

a {
    cursor: pointer;
}
html {
    height: 100%;
}
body {
    height: 100%;
    background-color: $body-background;
    margin: 0px auto;
    overflow: auto;
    -ms-overflow-style: scrollbar;
}
body.modal-open {
    overflow: auto;
}
body.modal-open[style] {
    padding-right: 0px !important;
}

.ui-select-dropdown {
    opacity: 1 !important;
}
.st-sort-ascent:before {
    content: '\25B2';
    position: relative;
}
.unexpected {
    background-color: maroon !important;
    color: white !important;
}
.st-sort-descent:before {
    content: '\25BC';
    position: relative;
}
.selected {
    background-color: $selected !important;
}
.formly-field label {
    font-size: 10px;
}
.error-messages {
  position: relative;
}

.error-messages, .message {
  opacity: 1;
  transition: .3s linear all;
}

.message {
  font-size: .8em;
  position: absolute;
  width: 100%;
  color: #a94442;
  margin-top: 4px;
}

.error-messages.ng-enter.ng-enter-active,
.message.ng-enter.ng-enter-active {
  opacity: 1;
  top: 0;
}

.error-messages.ng-enter,
.message.ng-enter {
  opacity: 0;
  top: -10px;
}

.error-messages.ng-leave,
.message.ng-leave {
  opacity: 1;
  top: 0;
}

.error-messages.ng-leave-active,
.message.ng-leave-active {
  opacity: 0;
  top: -10px;
}
.form-control {
    height: 26px;
    padding-left: 5px;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 13px;
}
.modal::-webkit-scrollbar {
    width: 0 !important;
}
.body-wrapper {
    min-width: 680px;
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 1px;
    min-height: 1131px;
    height: 100%;
}
.header {
    background-color: $header-color;
    color: white;
    padding: 10px;
    box-shadow: 0px 5px 2px $shadow-color;
}
.logo-search-user-admin-wrapper {
    display: flex;
    align-items:center;
    width: 100%;
    height: 50px;
}
.logo {
    width: 85%;
    height: 100%;
    margin: 0 auto;
}
.logo h3 {
    display: inline-block;
    margin-top: 12px;
    margin-bottom: 12px;
    cursor: pointer;
}
.search {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    height: 100%;
}
.search > .search-input {
    border-radius: 10px;
    margin-right: 5px;
}
.user-admin {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    width: 15%;
    height: 100%;
    float: right;
    margin-right: 15px;
}
.user-dropdown {
    display: flex;
    flex-direction: row;
    cursor: pointer;
    user-select: none;
}
.user-dropdown > h4 {
    margin-right: 5px;
}
.user-dropdown > .fa-user-circle-o {
    font-size: 30px;
}
.user-dropdown > .fa-triangle-bottom {
    font-size: 10px;
}
.menu-task-wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 45px;
}
.menu {
    display: inline-block;
    width: 100%;
    height: 100%;
}
.tasks-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 200px;
    height: 100%;
}
.tasks-icons > .fa {
    margin-right: 2px;
    margin-left: 2px;
    cursor: pointer;
}

.notification-icon {
    position: relative;
    cursor: pointer;
}
.unseen-text {
    width: auto;
    position: absolute;
    color: white;
    height: 12px;
    top: -5px;
    right: -3px;
    border-radius: 2px;
    padding-right: 10%;
    padding-left: 10%;
    background-color: $step-fail;
    font-size: 10px;
    margin-left: 10px;
}

.shortcut-nav-calendar-wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 200px;
    float: left;
    overflow: hidden;
    margin: 5px 0 0 0;
    height: 600px;
    background-color: transparent;
}
.shortcut-list {
    width: 100%;
    float: left;
    height: 40px;
}
.shortcut-list button {
    border-radius: 20px;
}
.navigation {
    @include container(5px);
    height: 100%;
    width: 100%;
    margin-top: 5px;
}
.hamburger {
    display: none;
}
.language-select {
    min-width: 100px!important;
}
@media screen and (max-width: 1200px) {
    .active-hamburger {
        display: block!important;
        min-width:180px;
    }
    .shortcut-nav-calendar-wrapper {
        cursor: pointer;
        height: 100%;
        max-width: 0;
        overflow: visible !important;
        padding: 0 !important;
        display: none;
        position: fixed;
        left: -10px;
        top: 105px;
        z-index: 100;
        .calendar {
            display: none;
        }
        .navigation {
            background-color: white;
        }
    }
    .hamburger {
        margin-right: 5px;
        display: inline;
        cursor: pointer;
    }
    .dynamic-part {
        width: 100%!important;
    }
}
.step-task-pagination {
    user-select: none;
    min-width: 60px;
}
.tree-grid {
    td {
        span {
            text-overflow: ellipsis;
        }
        max-width: 350px;
    }
}
.receive-modal-button {
    align-items: center;
}
.request-form {
    display: flex;
    flex-direction: row;
    width: 100%;
    .request-type {
        @include container(10px);
        width: 50%;
        display: flex;
        flex-direction: column;
        border-right-width: 1px;
    }
    .request-params {
        @include container(10px);
        position: relative;
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        border-left-width: 1px;
        .form-control {
            width: 75%;
        }
        .close-request {
            position: absolute;
            top: 5px;
            right: 5px;
        }
    }
}
.calendar {
    display: flex;
    flex-direction: column;
    height: 40%;
    width: 100%;
    margin-top: 10px;
    border-style: solid;
    border-color: #AAA;
}
.datepicker {
    width: 100%;
    position: relative;
}
.uib-daypicker {
    table {
        margin: 0 auto;
    }
    .glyphicon {
        @extend .fa;
        &.glyphicon-chevron-right {
            @extend .fa-chevron-right;
        }
        &.glyphicon-chevron-left {
            @extend .fa-chevron-left;
        }
    }
}
.glyphicon {
    @extend .fa;
    &.glyphicon-arrow-left {
        @extend .fa-arrow-left;
    }
    &.glyphicon-arrow-right {
        @extend .fa-arrow-right;
    }
}
.datepicker .form-control {
    height: 15px;
    padding: 15px;
}

.datepicker .btn {
    padding: 8px 8px;
}
.nav-dynamic-wrapper {
    width:100%;
    padding: 0 10px 0 10px;
    height: 100%;
}
.dynamic-part {
    min-height:100%;
    overflow: hidden;
}
.sub-menu {
    box-shadow: 0px 5px 2px $shadow-color;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: $sub-menu;
    color: white;
    padding: 5px 10px 5px 10px;
    width: 100%;
    p {
        font-size: 12pt;
    }
    .sliding-middle-out {
        display: inline-block;
        position: relative;
        padding-bottom: 3px;
    }
    .sliding-middle-out:after {
        content: '';
        display: block;
        margin: auto;
        height: 1px;
        width: 0px;
        background: transparent;
    }
    .chosen:hover:after {
        width: 100%;
        height: 1px;
        background: white;
    }
    .chosen:after {
        width: 100%;
        height: 1px;
        background: white;
    }
}
.profile-manager-sub-menu {
    border-style: solid;
    border-color: $border-color;
    border-width: 1px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: white;
    color: black;
    padding: 5px 10px 5px 10px;
    width: 100%;
    p {
        font-size: 12pt;
    }
    .sliding-middle-out {
        display: inline-block;
        position: relative;
        padding-bottom: 3px;
    }
    .sliding-middle-out:after {
        content: '';
        display: block;
        margin: auto;
        height: 1px;
        width: 0px;
        background: transparent;
    }
    .chosen:hover:after {
        width: 100%;
        height: 1px;
        background: black;
    }
    .chosen:after {
        width: 100%;
        height: 1px;
        background: black;
    }
}
.profile-manager-route {
    margin-top: 5px;
}
.fa.fa-refresh {
    font-size: 21px;
}
.fa.fa-print {
    font-size: 21px;
}
.fa.fa-cog {
    font-size: 21px;
}
.fa.fa-envelope {
    font-size: 21px;
}
.fa.fa-question-circle {
    font-size: 21px;
}
.fa.fa-bell {
    font-size: 21px;
}
.status-tree-grid {
    padding: 5px;
    margin: 5px;
}
.well-sm {
    padding: 0px;
}
.info-wrapper {
    width: 100%;
    margin-left: 10px;
}
.param-value {
    pre {
        overflow-x: scroll;
        white-space: pre-wrap;
    }
}
.global-search {
    width: 400px;
}
.items-per-page {
    width: 100px !important;
    margin-right: 10px;
}
.fa-refresh-animate {
    animation: spin 0.7s infinite linear;
}
.fa-refresh-animate-once {
    animation: spin 0.7s;
}
@keyframes spin {
    from { transform: rotate(0deg);}
    to { transform: rotate(360deg);}
}

.ui-select-placeholder {
    width: auto !important;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    vertical-align: middle;
    padding-top: 4px;
    padding-bottom: 4px;
    line-height: 1;
}
.step-state {
    padding-top: 0 !important;
}
.step-state-success {
    color: white;
    display: inline-block;
    min-width: 55px;
    text-align: center;
    background-color: $step-success;
    padding: 3px 10px;
    font-size: 9px;
    border-radius: 5px;
    box-shadow: 0px 1px 0px rgba(0,0,0,.15);
}
.step-state-failure {
    color: white;
    display: inline-block;
    min-width: 55px;
    text-align: center;
    background-color: $step-fail;
    padding: 3px 10px;
    font-size: 9px;
    border-radius: 5px;
    box-shadow: 0px 1px 0px rgba(0,0,0,.15);
}
.step-state-in-progress {
    color: white;
    display: inline-block;
    min-width: 55px;
    text-align: center;
    background-color: $step-in-progress;
    padding: 3px 10px;
    font-size: 9px;
    border-radius: 5px;
    box-shadow: 0px 1px 0px rgba(0,0,0,.15);
}
.pagination {
    margin: 5px 0;
}
.input-group-addon {
padding: 0 12px;
}
.sender-receiver-wrapper {
    input {
        width: 25%;
    }
}
#passwordForm {
    input {
        width: 50%;
    }
}
.file-browser {
    @include container(10px);
}
.file-explorer {
    margin-top: 10px;
    width: 100%;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}
.file-explorer-nav {
    display: flex;
    flex-direction: row;
    vertical-align: middle;
    width: 100%;
    align-items: center;
}
.file-list-view {
    margin-top: 10px;
    thead, tbody {
        border: 1px solid $border-color;
    }
    .type-name-column {
        display: flex;
        align-items: center;
        .file, .dir {
            margin-right: 5px;
        }
    }
    table {
        table-layout: fixed;
        width: 100%;
        margin-bottom: 5px;
    }
}
.file-view-options {
    display: flex;
    flex-direction: row;
    margin-right: 15px;
}
.files-per-page-pagination-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 5px;
}
.file-pagination {
    a {
        color: black;
        float: left;
        padding: 6px 12px;
        line-height: 1.428571429;
        text-decoration: none;
        border: 1px solid #e8e8e8;
    }
    a.active {
        background-color: rgba(0,0,0,0.03);
    }

    a:hover:not(.active) {background-color: rgba(0,0,0,0.03);}

}
.nav-refresh-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.dir-path {
    margin-left: 10px;
    vertical-align: middle !important;
}
.card-selected {
    color: rgba(0, 50, 255, .9);
}
.arrow-disabled {
    color: #bcbcbc;
    cursor: auto;
}
.deckgrid {
    margin-top:10px;
    margin-bottom: 5px;
    padding: 15px;
    width: 100%;
    min-width: 520px;
    min-height: 100px;
    border-style: solid;
    border-color: #bbb;
    border-width: 1px;
}
.flex-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.card {
    background:#fff center 30px no-repeat;
    margin:0 2px 2px 0;
    position:relative;
    display: flex;
    flex-direction: column;
    width: 84px;
    margin: 5px;
    p {
        word-wrap: break-word;
        font-size: 9pt;
        text-align: center;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .file {
        text-align: center;
    }
    .dir {
        text-align: center;
    }
    .file-extension {
        text-align: center;
        position: absolute;
        display: block;
        word-break: break-all;
        width: 30px;
        left: 27px;
        top: 15px;
        font-size: 12px;
        line-height: 1;
    }
}
.advanced-filters {
    position: absolute;
    display: block;
    border-style: solid;
    border-width: 1px;
    border-color: $border-color;
    max-width: 400px;
    max-height:none;
    overflow-y: auto;
    background-color: white;
    padding: 10px;
    z-index: 1000;
    margin-top: 36px;
    .formly-buttons-wrapper {
        display: flex;
        align-items: flex-end;
    }
    .formly {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        max-height: none;
        justify-content: flex-start;
    }
    .form-group {
        margin-bottom: 0px !important;
    }
    .button-group {
        display: flex;
        align-items: flex-end;
    }
    .plus-button {
        height: 26px;
        margin: 0px !important;
    }
    .formly-field {
        width: 66% !important;
        margin-bottom: 0px !important;
    }
}
.filter-icon {
    cursor: pointer;
    margin: 5px;
    border-style: solid;
    border-color: white;
    border-width: 1.5px;
    &:hover {
        border-color: rgba(102, 102, 102, 0.4);
    }
    &:active {
        border-color: rgba(102, 102, 102, 0.4);
    }
}
.filter-active {
    color: $step-success;
}
.blue-border {
    border-color: rgba(102, 102, 102, 0.4);
}

.header .nav {
    cursor: default;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    font-size: 12pt;
    .sliding-middle-out {
        display: inline-block;
        position: relative;
        padding-bottom: 3px;
    }
    .sliding-middle-out:after {
        content: '';
        display: block;
        margin: auto;
        height: 1px;
        width: 0px;
        background: transparent;
    }
    .chosen:hover:after {
        width: 100%;
        height: 1px;
        background: #fff;
    }
    .chosen:after {
        width: 100%;
        height: 1px;
        background: #fff;
    }
}
.nav-item {
    cursor: pointer;
    margin: 0 15px 0 0 !important;
}

.user-settings {
    @include container(10px);
    margin-top: 10px;
    width:50%;
    min-width: 400px;
    .ip-view-type {
        margin-bottom: 10px;
    }
    .column-picker {
        width: 100%;
        display: flex;
        flex-direction: row;
        .buttons {
            display: flex;
            flex-direction: column;
        }
        select {
            width: 150px;
        }
    }
}
.table-container {
    position: relative;
    thead, tbody {
        border: 1px solid $border-color;
    }
}
.appraisal-page {
    margin-top: 10px;
    @include container(10px);
}

.flex-row {
    display: flex;
    flex-direction: row;
    * {
        margin-right: 3px;
    }
}
.list-view {
    @include container(10px);
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    .list-view-table {
        position: relative;
        overflow-x: auto;
        thead, tbody {
            border: 1px solid $border-color;
        }
    }
}
.list-view-buttons {
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin-bottom: 5px;
}
.list-view-buttons .btn {
    margin-left: 10px;
}
.event-view {
    .list-view-table {
        position: relative;
        overflow-x: auto;
        thead, tbody {
            border: 1px solid $border-color;
        }
    }
}
.enter-profile-name {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;
    position: relative;
    width: 100%;
    .fa-refresh {
        position: absolute;
        top: 10px;
        right: 5px;
    }
}

.object-identifier-value {
    display: inline-block;
}

.generation-indicator, .new-version-indicator {
    margin-left: 5px;
    display: inline-block;
    padding: 3px 5px;
    font-size: 12px;
    color: white;
    border-radius: 5px;
    box-shadow: 0px 1px 0px rgba(0,0,0,.15);
}

.generation-indicator {
    background-color: $gold-leaf;
}

.new-version-indicator {
    background-color: $step-fail;
}

.traceback-copied {
    color: $step-success;
}

.popover {
    word-break: break-all;
}

.drop-zone {
    width: 100%;
    height: 100px;
    border-style: dotted;
    border-color: $border-color;
    text-align: center;
    vertical-align: middle;
    line-height: 100px;
}

.restricted {
    @include container(5px);
    margin-top: 5px;
    padding: 10px;
    .restricted-text {
        color: $step-fail;
    }
    a {
        color: rgb(206, 0, 0);
    }
    display: flex;
    flex-direction: row;
}

.profile-editor {
    @include container(10px);
}

.sa-editor {
    @include container(10px);
    box-shadow: none;
    margin-top: 10px;
    .edit-view {
        .form-control {
            width: 100%;
        }
    }
    .sa-select {
        width: 33%;
    }
    .fa-plus {
        color: $step-success;
    }
}
.import {
    @include container(10px);
    margin-top: 10px;
    width:100%;
    min-width: 400px;
    input {
        width: 33%;
    }
    .alert {
        width: 33%;
        margin-top: 10px;
    }
    .btn-info {
        margin-top: 5px;
    }
}

.data-version-list {
    width: 10%;
    min-width: 50px;
    margin-left: 10px;
    float: right;
}

.profile-name {
    float: left;
}

.sa-table {
    padding: 5px;
    table {
        table-layout: fixed;
        tbody {
            td {
                border: none;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
        margin-top: 20px;
        .flex-row {
            select {
                margin-right: 10px;
            }
        }
    }
}

.edit-form {
    table {
        table-layout: fixed;
        .flex-row {
            align-items: center;
            p {
                word-break: normal;
            }
        }
        td {
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}

.sa-edit {
    .formly {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: baseline;
        padding: 5px;
        width: 100%;
    }
}

.read-only {
    font-size:.7em;
}

.prepare-button {
    margin-left: 5px;
}

.empty-step {
    background-color: rgba(244, 66, 66, 0.30);
    text-align: center;
}

.no-select {
    user-select: none;
}