@import 'colors';
@import 'mixins';

a {
    cursor: pointer;
}
body {
    background-color: $body-background;
    margin: 0px auto;
    min-width: 680px;
    overflow: auto;
}
body.modal-open {
    overflow: auto;
}
body.modal-open[style] {
    padding-right: 0px !important;
}

.ui-select-dropdown {
    opacity: 1 !important;
}
.st-sort-ascent:before {
    content: '\25B2';
    position: relative;
}
.unexpected {
    background-color: maroon !important;
    color: white !important;
}
.st-sort-descent:before {
    content: '\25BC';
    position: relative;
}
.selected {
    background-color: $selected !important;
}
.formly-field label {
    font-size: 10px;
}
.error-messages {
  position: relative;
}

.error-messages, .message {
  opacity: 1;
  transition: .3s linear all;
}

.message {
  font-size: .8em;
  position: absolute;
  width: 100%;
  color: #a94442;
  margin-top: 4px;
}

.error-messages.ng-enter.ng-enter-active,
.message.ng-enter.ng-enter-active {
  opacity: 1;
  top: 0;
}

.error-messages.ng-enter,
.message.ng-enter {
  opacity: 0;
  top: -10px;
}

.error-messages.ng-leave,
.message.ng-leave {
  opacity: 1;
  top: 0;
}

.error-messages.ng-leave-active,
.message.ng-leave-active {
  opacity: 0;
  top: -10px;
}
.form-control {
    height: 26px;
    padding-left: 5px;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 13px;
}
.modal::-webkit-scrollbar {
    width: 0 !important;
}
.body-wrapper {
    display: flex;
    flex-direction: column;
    display: -webkit-flex;
    -webkit-flex-direction: column;
    width: 100%;
    border-radius: 1px;
    min-height: 1131px;
    height: 100%;
}
.header {
    background-color: $header-color;
    color: white;
    padding: 10px;
    box-shadow: 0px 5px 2px $shadow-color;

}
.logo-search-user-admin-wrapper {
    display: flex;
    align-items:center;
    width: 100%;
    height: 50px;
}
.logo {
    width: 85%;
    height: 100%;
    margin: 0 auto;
    cursor: pointer;
}
.logo h2 {
    font-size: 28pt;
    line-height: 0;
}
.logo h3 {
    margin-top: 12px;
    margin-bottom: 12px;
}
.search {
    display: flex;
    align-items: center;
    justify-content: center;
    display: -webkit-flex;
    -webkit-align-items: center;
    -webkit-justify-content: center;
    width: 20%;
    height: 100%;
}
.search > .search-input {
    border-radius: 10px;
    margin-right: 5px;
}
.user-admin {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    display: -webkit-flex;
    -webkit-align-items: flex-end;
    -webkit-justify-content: flex-end;
    width: 15%;
    height: 100%;
    float: right;
    margin-right: 15px;
}
.user-dropdown {
    display: flex;
    flex-direction: row;
    display: -webkit-flex;
    -webkit-flex-direction: row;

    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
}
.user-dropdown > h4 {
    margin-right: 5px;
}
.user-dropdown > .fa-user-circle-o {
    font-size: 30px;
}
.user-dropdown > .fa-triangle-bottom {
    font-size: 10px;
}
.menu-task-wrapper {
    display: flex;
    flex-direction: row;
    display: -webkit-flex;
    -webkit-flex-direction: row;
    width: 100%;
    height: 45px;
}
.menu {
    display: inline-block;
    width: 100%;
    height: 100%;
}
.tasks-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    display: -webkit-flex;
    -webkit-align-items: center;
    -webkit-justify-content: center;
    min-width: 200px;
    height: 100%;
}
.tasks-icons > .fa {
    margin-right: 2px;
    margin-left: 2px;
    cursor: pointer;
}
.shortcut-nav-calendar-wrapper {
    display: flex;
    flex-direction: column;
    display: -webkit-flex;
    -webkit-flex-direction: column;
    position: relaive;
    width: 180px;
    float: left;
    overflow: hidden;
    margin: 5px 0 0 0;
    height: 600px;
    background-color: transparent;
}
.shortcut-list {
    width: 100%;
    float: left;
    height: 40px;
}
.shortcut-list button {
    border-radius: 20px;
}
.navigation {
    @include container(5px);
    height: 100%;
    width: 100%;
    margin-top: 5px;
}
.hamburger {
    display: none;
}
.language-select {
    min-width: 100px!important;
}
@media screen and (max-width: 1200px) {
    .active-hamburger {
        display: block!important;
        min-width:180px;
    }
    .shortcut-nav-calendar-wrapper {
        cursor: pointer;
        height: 100%;
        max-width: 0;
        overflow: visible !important;
        padding: 0 !important;
        display: none;
        position: fixed;
        left: -10px;
        top: 105px;
        z-index: 100;
        .calendar {
            display: none;
        }
        .navigation {
            background-color: white;
        }
    }
    .hamburger {
        margin-right: 5px;
        display: inline;
        cursor: pointer;
    }
    .dynamic-part {
        width: 100%!important;
    }
}
.step-task-pagination {
    user-select: none;
    min-width: 60px;
}
.tree-grid {
    td {
        span {
            text-overflow: ellipsis;
        }
        max-width: 350px;
    }
}
.request-form {
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 300px;
    .request-type {
        @include container(10px);
        width: 50%;
        display: flex;
        flex-direction: column;
        border-right-width: 1px;
    }
    .request-params {
        @include container(10px);
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        border-left-width: 1px;
        .form-control {
            width: 75%;
        }
    }
}
.calendar {
    display: flex;
    flex-direction: column;
    display: -webkit-flex;
    -webkit-flex-direction: column;
    height: 40%;
    width: 100%;
    margin-top: 10px;
    border-style: solid;
    border-color: #AAA;
}
.datepicker {
    width: 100%;
    position: relative;
}
.uib-daypicker {
    table {
        margin: 0 auto;
    }
    .glyphicon {
        @extend .fa;
        &.glyphicon-chevron-right {
            @extend .fa-chevron-right;
        }
        &.glyphicon-chevron-left {
            @extend .fa-chevron-left;
        }
    }
}
.glyphicon {
    @extend .fa;
    &.glyphicon-arrow-left {
        @extend .fa-arrow-left;
    }
    &.glyphicon-arrow-right {
        @extend .fa-arrow-right;
    }
}
.datepicker .form-control {
    height: 15px;
    padding: 15px;
}

.datepicker .btn {
    padding: 8px 8px;
}
.nav-dynamic-wrapper {
    width:100%;
    padding: 0 10px 0 10px;
}
.dynamic-part {
    height: 100%;
    overflow: hidden;
}
.sub-menu {
    box-shadow: 0px 5px 2px $shadow-color;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: $sub-menu;
    color: white;
    padding: 5px 10px 5px 10px;
    width: 100%;
    p {
        font-size: 12pt;
    }
    .sliding-middle-out {
        display: inline-block;
        position: relative;
        padding-bottom: 3px;
    }
    .sliding-middle-out:after {
        content: '';
        display: block;
        margin: auto;
        height: 1px;
        width: 0px;
        background: transparent;
    }
    .chosen:hover:after {
        width: 100%;
        height: 1px;
        background: white;
    }
    .chosen:after {
        width: 100%;
        height: 1px;
        background: white;
    }
}
.fa.fa-refresh {
    font-size: 20px;
}
.fa.fa-pencil {
    font-size: 20px;
}
.fa.fa-print {
    font-size: 20px;
}
.fa.fa-cog {
    font-size: 20px;
}
.fa.fa-envelope {
    font-size: 20px;
}
.fa.fa-question-circle {
    font-size: 20px;
}
.status-tree-grid {
    padding: 5px;
    margin: 5px;
}
.well-sm {
    padding: 0px;
}
.info-wrapper {
    width: 100%;
    margin-left: 10px;
}
.param-value {
    word-break: break-word;
}
.global-search {
    width: 400px;
}
#items-per-page {
    width: 100px;
}
.fa-refresh-animate {
    -animation: spin 0.7s infinite linear;
    -ms-animation: spin 0.7s infinite linear;
    -webkit-animation: spinw 0.7s infinite linear;
    -moz-animation: spinm 0.7s infinite linear;
}
.fa-refresh-animate-once {
    -animation: spin 0.7s;
    -ms-animation: spin 0.7s;
    -webkit-animation: spinw 0.7s;
    -moz-animation: spinm 0.7s;
}
@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}
@-webkit-keyframes spinw {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@-moz-keyframes spinm {
    from { -moz-transform: rotate(0deg);}
    to { -moz-transform: rotate(360deg);}
}
.ui-select-placeholder {
    width: auto !important;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    vertical-align: middle;
    padding-top: 4px;
    padding-bottom: 4px;
    line-height: 1;
}
.step-state {
    padding-top: 0 !important;
}
.step-state-success {
    display: inline;
    color: white;
    background-color: $step-success;
    padding: 3px 10px;
    font-size: 9px;
    border-radius: 5px;
}
.step-state-failure {
    display: inline;
    color: white;
    background-color: $step-fail;
    padding: 3px 10px;
    font-size: 9px;
    border-radius: 5px;
}
.step-state-in-progress {
    display: inline;
    color: white;
    background-color: $step-in-progress;
    padding: 3px 10px;
    font-size: 9px;
    border-radius: 5px;
}
.pagination {
    margin: 5px 0;
}
.input-group-addon {
padding: 0 12px;
}
.sender-receiver-wrapper {
    input {
        width: 25%;
    }
}
#passwordForm {
    input {
        width: 50%;
    }
}
.file-explorer {
    margin-top: 10px;
    width: 100%;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}
.file-explorer-nav {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    vertical-align: middle;
}
.dir-path {
    margin-left: 10px;
    vertical-align: middle !important;
}
.card-selected {
    color: rgba(0, 50, 255, .9);
}
.arrow-disabled {
    color: #bcbcbc;
    cursor: auto;
}
.deckgrid {
    margin-top:10px;
    padding: 15px;
    width: 100%;
    min-width: 520px;
    min-height: 100px;
    max-height: 400px;
    overflow-y: scroll;
    border-style: solid;
    border-color: #bbb;
}
.flex-grid {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
}
.card {
    background:#fff center 30px no-repeat;
    margin:0 2px 2px 0;
    position:relative;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    width: 84px;
    margin: 5px;
    p {
        word-wrap: break-word;
        font-size: 9pt;
        text-align: center;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .file {
        text-align: center;
    }
    .dir {
        text-align: center;
    }
}
.advanced-filters {
    position: absolute;
    border-style: solid;
    border-width: 1px;
    border-color: $border-color;
    max-width:400px;
    background-color: white;
    padding: 10px;
    z-index: 1000;
    margin-top: 31px;
    .formly-buttons-wrapper {
        display: flex;
        align-items: flex-end;
    }
    .formly {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        max-height: 50px;
        justify-content: flex-start;
    }
    .form-group {
        margin-bottom: 0px !important;
    }
    .button-group {
        display: flex;
        align-items: flex-end;
    }
    .plus-button {
        height: 26px;
        margin: 0px !important;
    }
    .formly-field {
        width: 33% !important;
        margin-bottom: 0px !important;
    }
}
.filter-icon {
    cursor: pointer;
    margin: 5px;
    border-style: solid;
    border-color: white;
    border-width: 1.5px;
    &:hover {
        border-color: rgba(102, 102, 102, 0.4);
    }
    &:active {
        border-color: rgba(102, 102, 102, 0.4);
    }
}
.blue-border {
    border-color: rgba(102, 102, 102, 0.4);
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    font-size: 12pt;
    .sliding-middle-out {
        display: inline-block;
        position: relative;
        padding-bottom: 3px;
    }
    .sliding-middle-out:after {
        content: '';
        display: block;
        margin: auto;
        height: 1px;
        width: 0px;
        background: transparent;
    }
    .chosen:hover:after {
        width: 100%;
        height: 1px;
        background: #fff;
    }
    .chosen:after {
        width: 100%;
        height: 1px;
        background: #fff;
    }
}
.nav-item {
    cursor: pointer;
    margin: 0 15px 0 0 !important;
}

.user-settings {
    @include container(10px);
    margin-top: 10px;
    width:50%;
    min-width: 400px;
    .ip-view-type {
        margin-bottom: 10px;
    }
    .column-picker {
        select {
            width: 150px;
        }
        width: 100%;
    }
}

.table-container {
    position: relative;
    overflow-x: auto;
    thead, tbody {
        border: 1px solid $border-color;
    }
}
.appraisal-page {
    margin-top: 10px;
    @include container(10px);
}