@import 'mixins';

.login {
    .login-box {
        @include container(8px);
        padding: 8px;
        width: 475px;
        height: 450px;
        background-color: #fff;

        position: absolute;
        top:0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }
    h2 {
        margin: auto;
        margin-top: 10px;
    }
    p {
        width: 80%;
        margin: auto;
        margin-top: 10px;
    }
    .form-group {
        width: 80%;
        margin: auto;
        margin-top: 10px;
    }
    .form-actions {
        width: 80%;
        margin: auto;
        margin-top: 10px;
    }
    .login-box h2 {
        margin-left: 40px;
    }
    .alert {
        width: 80%;
        margin: auto;
        margin-top: 10px; 
    }
}
