@import 'colors';
@mixin container {
    background: $container-background;
    border-style: solid;
    border-color: $border-color;
    border-width: 1px;
    box-shadow: 0px 5px 2px $shadow-color;
}