.position- {
    &relative {
        position: relative;
    }
    &absolute {
        position: absolute;
    }
    &lg- {
        &relative {
            @include large-screen {
                position: relative !important;
            }
        }
    }
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}
