.position- {
    &relative {
        position: relative;
    }
    &absolute {
        position: absolute;
    }
    &lg- {
        &relative {
            @include large-screen {
                position: relative !important;
            }
        }
    }
}
