{% extends "admin/base_site.html" %}
{% load js staticfiles%}

{% block content %}
Request to delete IP
<br>
<br>
<div id="taskinprogress">
</div>
<br>
  
{% endblock %}
{% block app-extra-script %}
     {% js "controlarea/js/progress.js" %}
<script>
//Reload script
window.onload = setupRefresh;

function setupRefresh() {
  setTimeout("refreshPage();", 24000);
}
function refreshPage() {
   window.location = location.href;
}

var infotaskid = "{{ taskid }}";


getTaskInfo(infotaskid);
/*
function getTaskInfo(infotaskid){

var taskinprogressinfo = {};
$.getJSON( '/task/' + infotaskid + '/status/', function(taskinprogressinfo){

	populateTaskInProgress(taskinprogressinfo);
	
	});
    
function populateTaskInProgress(taskinprogressinfo){

var thetask = taskinprogressinfo['task'];

var taskhtml = determineStatus(thetask);

function determineStatus(thetask){
        
        var infohtml = 'No info';
        var taskstatus = thetask['status'];
        var taskresult = thetask['result'];
        
        switch(taskstatus){
            case 'FAILURE':
                failedtask(taskid);
                break;
            case 'PENDING':
                pendingtask(taskresult);
                break;
            case 'PROGRESS':
                progresstask(taskresult);
                break;
            case 'SUCCESS':
                successtask(taskresult);
                break;
            default:
                console.log('Status undetermined');
                
        }


function failedtask(taskid){
            
      $.getJSON( '/controlarea/taskresult/' + taskid + '/', function(failedtaskinfo1){
        	        
        	var readable = getfailedtaskhtml(failedtaskinfo1);
        	   infohtml = readable;;
        	  document.getElementById("taskinprogress").innerHTML = infohtml;
        	  });
        	    
   };

function pendingtask(result){

    infohtml = '<b>The request is pending<b><br>';
    return infohtml;
}

function progresstask(result){
    
    var progressresult = result['progress_percent'];
    infohtml = 'Request is in progress<br><br><progress value=' + progressresult + 'max="100"></progress>';
    console.log('progress percent');
    console.log(progressresult);
    return infohtml;

}

function successtask(result){
    infohtml = 'Request is successful<br><br>'
    + '<table>'
    + '<tr><td>Category: </td><td></td><td>' + result['category'] + '</td></tr>'
    + '<tr><td>Label: </td><td></td><td>' + result['label'] + '</td></tr>'
    + '<tr><td>User:</td><td></td><td>' + result['user'] + '<td></tr>'
    + '<tr><td>Request purpose: </td><td></td><td>' + result['reqpurpose'] + '</td></tr>'
    + '</table>';
    
    var statuslist = result['statuslist'];
    if (statuslist.length > 0){
    
    var statuslisthtml = '<br>Status:<br><table>'
    
    for (i = 0; i < statuslist.length; i++){
    
    statuslisthtml = statuslisthtml + '<tr><td>' + statuslist[i] + '<td></tr>';
    
    }

    statuslisthtml = statuslisthtml + '</table>';
    infohtml = infohtml + statuslisthtml;
    }

    var errorlist = result['errorlist'];
    if (errorlist.length > 0 ) {
    
    var errorlisthtml = '<br>Errors:<br><table>'
    
    for (i = 0; i < errorlist.length; i++){
    
    errorlisthtml = errorlisthtml + '<tr><td>' + errorlist[i] + '</td></tr>'
    }
    errorlisthtml = errorlisthtml + '</table>';
    infohtml = infohtml + errorlisthtml;
    }
    
    return infohtml;

}

return infohtml;
};

document.getElementById("taskinprogress").innerHTML = taskhtml;

};


};
*/

</script>

{% endblock %}