{% extends 'admin/base_site.html' %}

{% block server-side-base %}active{% endblock %}

{% block app-extra-style %}
    <link href="/static/DataTables/datatables.min.css" rel="stylesheet" type="text/css" />
    <link href="/static/api/css/aic.css" rel="stylesheet" type="text/css" />  
{% endblock %}

{% block container %}
	
	<H2>{{ label }}</H2>
	<br>
    <div>
      <table id="example" width=100% class="display table table-bordered table-condensed table-striped">
        <thead>
          <tr>
            <th></th>
            <th>Identification</th>
            <th>Archivist organization</th>
            <th>Label</th>
            <th>Create date</th>
            <th>Start date</th>
            <th>End date</th>
            <th>Type</th>
            <th>Generation</th>
            <th>State</th>
            <th>Activity</th>
            <th>archiveobjects</th>
          </tr>
        </thead>
      </table>
    </div>
{% endblock %}

{% block app-extra-script %}
	<script type="text/javascript" src="/static/DataTables/datatables.js"></script>
<script>

$(document).ready( function () {
	var table = $('#example').DataTable( {
		//destroy: true,
		processing: true,
		serverSide: true,
		ajax: {
			"url": "{% url 'ip_list_dt' %}",
			"type": "GET",
			"data": { 
				//archiveobjects__StatusProcess__in: '[3000,5000]',
				//archiveobjects__StatusProcess__lt: '3000',
				//archiveobjects__StatusActivity__in: '[0, 4]',
				archiveobjects__StatusProcess_or_StatusActivity__in: '[[5000], [7]]',
				//archiveobjects__exclude_generation_0_and_latest: true,
				//StatusProcess__in: '[0]',
				exclude_ip_without_aic: true,
				//exclude_aic_without_ips: true,
				//enable_StatusActivity_selection: true,
				exclude_filtered_from_information: true,
			},
		},
		//"lengthMenu": [ [10, 25, 50, 100, 1000000], [10, 25, 50, 100, "All"] ],
		colReorder: true,
		//fixedColumns: true,
		//select: {
		//	style:    'os',
		//	selector: 'td.select-checkbox'
		//},
		dom: "<'row'<'col-sm-5'l><'col-sm-2'B><'col-sm-5'f>>" +
			"<'row'<'col-sm-12'tr>>" +
			"<'row'<'col-sm-5'i><'col-sm-7'p>>",
			//"<'row'<'col-sm-5'><'col-sm-7'p>>",
		buttons: [
			{
				extend: 'colvis',
				columns: ':gt(1):lt(9)',
			}
		],
		columns: [
			// Checkboxes
			{
				"data": null,         
				"orderable": false,               
				"visible": false,
				"bSearchable": false,
				"defaultContent": '',
				"createdCell":    function ( cell, data, row ) {
					if ( row.archiveobjects.length==0 && row.OAISPackageType!='AIC') {
						$(cell).addClass( 'select-checkbox' );
					}
				},
			},
			// Identification ( ObjectIdentifierValue )
			{ 
				"data": "ObjectIdentifierValue",
				"name": "ObjectIdentifierValue",
				"createdCell":    function ( cell, data, row ) {
					if ( row.archiveobjects.length>0 ) {
						$(cell).addClass( 'collapse-control' );
					}
					else {
						$(cell).addClass( 'ip-object' );
					}
				},
				"render": function ( data, type, row ) {
					if ( row.OAISPackageType=='AIC') {
						var linkhtml = data
					}
					else {
						var linkhtml = "<a href={% url 'controlarea_diffcheck' pk='id' %} title='Diffcheck request'>ip_uuid</a>".replace(/id/, row.id).replace(/ip_uuid/g, data);
					}
					if ( row.archiveobjects.length>0 ) {
						return '<img id="theImg" src="/static/images/details_open.png">'+linkhtml;
					}
					else {
						return linkhtml;
					}
				},
			},
			// Archivist organization ( EntryAgentIdentifierValue )
			{ "data": "EntryAgentIdentifierValue", "name": "EntryAgentIdentifierValue"},
			// Label ( ObjectMetadata.label )
			{ "data": "ObjectMetadata\\.label", "name": "ObjectMetadata.label"},
			// Create date ( EntryDate )
			{ "data": "EntryDate", "name": "EntryDate"},
			// Start date ( ObjectMetadata.startdate )
			{ "data": "ObjectMetadata\\.startdate", "name": "ObjectMetadata.startdate"},
			// End date ( ObjectMetadata.enddate)
			{ "data": "ObjectMetadata\\.enddate", "name": "ObjectMetadata.enddate"},
			// Type ( OAISPackageType )
			{ "data": "OAISPackageType", "name": "OAISPackageType"},
			// Generation ( Generation )
			{ "data": "Generation", "name": "Generation"},
			// State ( StatusProcess )
			{ "data": "StatusProcess", "name": "StatusProcess" },
			// Activity ( StatusActivity )
			{ "data": "StatusActivity", "name": "StatusActivity"},
			{
				"data": null,
				"visible": false,
				"bSearchable": false,
				"render": function ( data, type, row ) {
					if ( row.archiveobjects ) {
						for ( var i=0, ien=row.archiveobjects.length ; i<ien ; i++ ) {
							var ip = row.archiveobjects[i];
							var rowNode = table.row.add( {
								"id": ip['id'],
								"EntryAgentIdentifierValue": ip['EntryAgentIdentifierValue'],
								"ObjectIdentifierValue": ip['ObjectIdentifierValue'],
								"ObjectMetadata.label": ip['ObjectMetadata.label'],
								"EntryDate": ip['EntryDate'],
								"ObjectMetadata.startdate": ip['ObjectMetadata.startdate'],
								"ObjectMetadata.enddate": ip['ObjectMetadata.enddate'],
								"OAISPackageType": ip['OAISPackageType'],
								"Generation": ip['Generation'],
								"StatusProcess": ip['StatusProcess'],
								"StatusActivity": ip['StatusActivity'],
								"archiveobjects": '',
							} ).node();  
							$(rowNode).addClass( 'child-row' );
							$(rowNode).hide();
							$(rowNode).attr('data-aicuuid', row.ObjectIdentifierValue);
						}
					}
					return ''
				}
			},
			
		],
		rowId: 'ObjectIdentifierValue',
		"order": [[0, 'asc']],
    	"searchCols": [
		],
	} );
  
	// Disable selection of AIC rows
	table.on('select.dt', function(e, dt, type, indexes ) {
		indexes.forEach(function(i) {
			if (table.row(i).nodes().to$().children().hasClass('collapse-control')) {
				table.row(i).deselect();
			}    
		})      
	});
  
	// Add event listener for opening and closing AIC/IP
	$('#example tbody').on('click', 'img', function () {
		var tr = $(this).closest('tr');
		var row = table.row( tr );    
		if (tr.hasClass( 'shown')) {
			// This row is already open - close it
			var rows = $('tr[data-aicuuid='+row.data().ObjectIdentifierValue+']');
			rows.hide();
			table.rows(rows).deselect();
			tr.removeClass('shown');
			$(this).attr('src', "/static/images/details_open.png")
		}
		else {
			// Open this row
			var rows = $('tr[data-aicuuid='+row.data().ObjectIdentifierValue+']');
			//console.log('before open row click -: '+rows.is(":visible"));
			rows.show();
			tr.addClass('shown');
			$(this).attr('src', "/static/images/details_close.png")
		} 
	});
	
	// Refresh data every 60 sec
	//setInterval( function () {
	//	table.ajax.reload( null, false ); // user paging is not reset on reload
	//}, 60000 );

} );

// Set StatusActivity
function setactivity(event,number){
	var thevalue = event.target.value
	var datastringjson = '{ "StatusActivity":' + thevalue + '}';
	$.ajax({ 
		url: '{% url 'archiveobject-list' %}' + number + '/',
		method: 'PATCH',
		data: datastringjson,
		contentType:"application/json",
		processData: false,
		headers: {"X-CSRFToken": '{{ csrf_token }}'},
		success: function(){
			//console.log('Successful patch');
		}
	});
};

</script>
{% endblock %}