{% extends "admin/base_site.html" %}
{% load js staticfiles%}


{% block content %}
Request to check in IP from reception
<br>
<br>
<div id="taskinprogress">
</div>
<br>
  
{% endblock %}
{% block app-extra-script %}
    {% js "controlarea/js/progress.js" %}
<script>
//Reload script
window.onload = setupRefresh;

function setupRefresh() {
  setTimeout("refreshPage();", 24000);
}
function refreshPage() {
   window.location = location.href;
}


var taskid = "{{ taskid }}";

getTaskInfo(taskid);

//setInterval(getTaskInfo, 6000);
/*
function getTaskInfo(taskid){

	console.log('get task function is called');
var taskinprogressinfo = {};

$.getJSON( '/task/' + taskid + '/status/', function(taskinprogressinfo){

	 console.log(taskinprogressinfo);
	populateTaskInProgress(taskinprogressinfo);
	
	});
 
function populateTaskInProgress(taskinprogressinfo){

var thetask = taskinprogressinfo['task'];
console.log('The task');
console.log(thetask);

var taskhtml = determineStatus(thetask);

function determineStatus(thetask){
        
        var infohtml = 'No info';
        var taskstatus = thetask['status'];
        console.log('Task status');
        console.log(taskstatus);
        var taskresult = thetask['result'];
        
        switch(taskstatus){
            case 'FAILURE':
                failedtask(taskid);
                break;
            case 'PENDING':
                pendingtask(taskresult);
                break;
            case 'PROGRESS':
                progresstask(taskresult);
                break;
            case 'SUCCESS':
                successtask(taskresult);
                break;
            default:
                console.log('Status undetermined');
                
        }




        function failedtask(taskid){
            
        	$.getJSON( '/controlarea/taskresult/' + taskid + '/', function(failedtaskinfo1){
        	        
        	        var readable = getfailedtaskhtml(failedtaskinfo1);
        	        infohtml = readable;;
        	        document.getElementById("taskinprogress").innerHTML = infohtml;
        	        });
        	    
        	};

function pendingtask(result){

    infohtml = '<b>The request is pending<b><br>';
    return infohtml;
}

function progresstask(result){
    
    var progressresult = result['progress_percent'];
    infohtml = 'Request is in progress<br><br><progress value=' + progressresult + 'max="100"></progress>';
    console.log('progress percent');
    console.log(progressresult);
    return infohtml;

}

function successtask(result){
    infohtml = 'Request is successful<br><br>'
    + '<table>'
    + '<tr><td>Category: </td><td></td><td>' + result['category'] + '</td></tr>'
    + '<tr><td>Label: </td><td></td><td>' + result['label'] + '</td></tr>'
    + '<tr><td>User:</td><td></td><td>' + result['user'] + '<td></tr>'
    + '<tr><td>Request purpose: </td><td></td><td>' + result['reqpurpose'] + '</td></tr>'
    + '</table>';
    
    var statuslist = result['statuslist'];
    if (statuslist.length > 0){
    
    var statuslisthtml = '<br>Status list<br><table>'
    
    for (i = 0; i < statuslist.length; i++){
    
    statuslisthtml = statuslisthtml + '<tr><td>' + statuslist[i] + '<td></tr>';
    
    }

    statuslisthtml = statuslisthtml + '</table>';
    infohtml = infohtml + statuslisthtml;
    }
    
    var errorlist = result['errorlist'];
    if (errorlist.length > 0 ) {
    
    var errorlisthtml = '<br>Error list<br><table>'
    
    for (i = 0; i < errorlist.length; i++){
    
    errorlisthtml = errorlisthtml + '<tr><td>' + errorlist[i] + '</td></tr>'
    }
    errorlisthtml = errorlisthtml + '</table>';
    infohtml = infohtml + errorlisthtml;
    }
    
    return infohtml;

}

return infohtml;
};

document.getElementById("taskinprogress").innerHTML = taskhtml;

};





function getfailedtaskhtml(result){
    console.log('function is called');
    
    var failedtaskhtml = '<b>The request failed<b><br>';;
    console.log('Errortype');
    var resultstring = result.toString();
    var errortype = resultstring.substr(0,20);
    console.log('String result');
    console.log(resultstring);
    
    console.log(errortype);
    if (errortype == 'ControlareaException'){
    	
    	console.log('This is a controlarea exception');
    }
   
    var errorreason = resultstring.substr(21);
    console.log(errorreason);
    

  
    console.log(failedtaskhtml);
    return failedtaskhtml;
    
};

};

*/

</script>

{% endblock %}