{% extends 'admin/base_site.html' %}

{% block server-side-base %}active{% endblock %}

{% block app-extra-style %}
    <link href="/static/DataTables/datatables.min.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block container %}

	<H2>{{ label }}</H2>
	<br>
	<div>
	  <table id="example" width=100% class="display table table-bordered table-condensed table-striped">
	    <thead>
	      <tr>              
            <th>Identification</th>
            <th>Archivist organization</th>
            <th>Label</th>
            <th>Create date</th>
            <th>Start date</th>
            <th>End date</th>
            <th>Type</th>
            <th>Media</th>
            <th>State</th>
	      </tr>
	    </thead>
	    <tbody>
		      	{% for ip in filelist %}
			    	<tr>
						{% if not ip.uuid == '' %}
							<td><a href="{% url 'controlarea_checkinfromreception' ip.uuid %}">{{ ip.uuid }}</a></td>
						{% else %}
							<td>{{ ip.uuid }}</td>
						{% endif %}
						<td>{{ ip.EntryAgentIdentifierValue }}</td>
						<td>{{ ip.label }}</td>
						<td>{{ ip.createdate }}</td>
						<td>{{ ip.startdate }}</td>
						<td>{{ ip.enddate }}</td>
						<td>{{ ip.iptype }}</td>
						<td>{{ ip.media }}</td>
						<td>{{ ip.StatusProcess }}</td>
			      	</tr>
				{% endfor %}	
	    </tbody>
	  </table>
	</div>
{% endblock %}

{% block app-extra-script %}
	<script type="text/javascript" src="/static/DataTables/datatables.js"></script>
<script>

$(document).ready( function () {
	var table = $('#example').DataTable( {
		colReorder: true,
		dom: "<'row'<'col-sm-5'l><'col-sm-2'B><'col-sm-5'f>>" +
			"<'row'<'col-sm-12'tr>>" +
			"<'row'<'col-sm-5'i><'col-sm-7'p>>",
		buttons: [
			{
				extend: 'colvis',
				columns: ':gt(0):lt(8)',
			}
		],
		"order": [[3, 'asc']],
	} );
} );

</script>
{% endblock %}