{% extends 'admin/base_site.html' %}
{% load dictionary_extras %}

{% block server-side-base %}active{% endblock %}

{% block app-extra-style %}
{% endblock %}

{% block container %}

	<H2>{{ label }}</H2>
	<br>

<div class="results">
{% if req_list %}
  <table id="result_list">
    <thead>
      <tr>
                <th>ReqUUID</th>
                <th>ReqType</th>
                <th>ReqPurpose</th>
                <th>User</th>
                <th>Object</th>
                <th>Posted</th>
      </tr>
    </thead>
    <tbody>
	    	{% for req_obj in req_list %}
		      	<tr class="row{% cycle '1' '2' %}">	
					<td>{{ req_obj.ReqUUID }}</a></td>	
					<td>{{ ControlAreaReqType_CHOICES|access:req_obj.ReqType }}</td>
					<td>{{ req_obj.ReqPurpose }}</td>
					<td>{{ req_obj.user }}</td>
					<td>{{ req_obj.ObjectIdentifierValue }}</td>
					<td>{{req_obj.posted }}</td>
		      	</tr>
	      	{% endfor %}
    </tbody>
  </table>
{% else %}
	No request exists
{% endif %}
</div>
   
{% endblock %}

{% block app-extra-script %}
{% endblock %}
