{% extends "index.html" %} 
 
{% block content %} 


<div style="margin:10px;">
  Settings for: {{ username }}

<div id="msg">
<span style="color: red;" >&nbsp;{{ message }}</span>
</div>

  <form action="/configuration/parameters/{{username}}" method="post">
  {% csrf_token %}
  <table>
    <tr>
      <td>Agent Identifier Value</td> 
      <td>{{ form.agent_identifier_value }}</td>
      <td>{{ form.agent_identifier_value.errors }}</td>
    </tr>
    <tr>
      <td>Label</td> 
      <td>{{ form.label }}</td>
      <td>{{ form.label.errors }}</td>
    </tr>

    <tr>
      <td>Archivist Organization</td> 
      <td>{{ form.archivist_organization }}</td>
      <td>{{ form.archivist_organization.errors }}</td>
    </tr>
    <tr>
      <td valign="top" >Archivist Organization Notes</td> 
      <td>{{ form.archivist_organization_note }}</td>
      <td>{{ form.archivist_organization_note.errors }}</td>
    </tr>

    <tr>
      <td>Creator Organization</td> 
      <td>{{ form.creator_organization }}</td>
      <td>{{ form.creator_organization.errors }}</td>
    </tr>
    <tr>
      <td valign="top" >Creator Organization Notes</td> 
      <td>{{ form.creator_organization_note }}</td>
      <td>{{ form.creator_organization_note.errors }}</td>
    </tr>

    <tr>
      <td>Creator Individual</td> 
      <td>{{ form.creator_individual }}</td>
      <td>{{ form.creator_individual.errors }}</td>
    </tr>
    <tr>
      <td>Creator Individual E-mail</td> 
      <td>{{ form.creator_individual_email }}</td>
      <td>{{ form.creator_individual_email.errors }}</td>
    </tr>
    <tr>
      <td>Creator Individual Phone</td> 
      <td>{{ form.creator_individual_phone }}</td>
      <td>{{ form.creator_individual_phone.errors }}</td>
    </tr>

    <tr>
      <td>Preservation Organization</td> 
      <td>{{ form.preservation_organization }}</td>
      <td>{{ form.preservation_organization.errors }}</td>
    </tr>
    <tr>
      <td valign="top" >Preservation Organization Notes</td> 
      <td>{{ form.preservation_organization_note }}</td>
      <td>{{ form.preservation_organization_note.errors }}</td>
    </tr>
    <tr>
      <td>Preservation Software</td> 
      <td>{{ form.preservation_software }}</td>
      <td>{{ form.preservation_software.errors }}</td>
    </tr>

    <tr>
      <td>POLICY_ID</td> 
      <td>{{ form.policy_id }}</td>
      <td>{{ form.policy_id.errors }}</td>
    </tr>
    <tr>
      <td>RECEIPT_MAIL</td>
      <td>{{ form.receipt_mail }}</td>
      <td>{{ form.receipt_mail.errors }}</td>
    </tr>

    <tr>
      <td>METS Namespace</td> 
      <td>{{ form.mets_namespace }}</td>
      <td>{{ form.mets_namespace.errors }}</td>
    </tr>
    <tr>
      <td>MODS Namespace</td> 
      <td>{{ form.mods_namespace }}</td>
      <td>{{ form.modss_namespace.errors }}</td>
    </tr>
    <tr>
      <td>METS Schema Location</td> 
      <td>{{ form.mets_schemalocation }}</td>
      <td>{{ form.mets_schemalocation.errors }}</td>
    </tr>
    <tr>
      <td>METS Profile</td> 
      <td>{{ form.mets_profile }}</td>
      <td>{{ form.mets_profile.errors }}</td>
    </tr>

    <tr>
      <td>PREMIS Namespace</td> 
      <td>{{ form.premis_namespace }}</td>
      <td>{{ form.premis_namespace.errors }}</td>
    </tr>
    <tr>
      <td>PREMIS Schema Location</td> 
      <td>{{ form.premis_schemalocation }}</td>
      <td>{{ form.premis_schemalocation.errors }}</td>
    </tr>
    <tr>
      <td>PREMIS Version</td> 
      <td>{{ form.premis_version }}</td>
      <td>{{ form.premis_version.errors }}</td>
    </tr>

    <tr>
      <td>XLink Namespace</td> 
      <td>{{ form.xlink_namespace }}</td>
      <td>{{ form.xlink_namespace.errors }}</td>
    </tr>
    <tr>
      <td>XSI Namespace</td> 
      <td>{{ form.xsi_namespace }}</td>
      <td>{{ form.xsi_namespace.errors }}</td>
    </tr>
    <tr>
      <td>XSD Namespace</td> 
      <td>{{ form.xsd_namespace }}</td>
      <td>{{ form.xsd_namespace.errors }}</td>
    </tr>

    <tr>
      <td>MIX Namespace</td> 
      <td>{{ form.mix_namespace }}</td>
      <td>{{ form.mix_namespace.errors }}</td>
    </tr>
    <tr>
      <td>MIX Schema Location</td> 
      <td>{{ form.mix_schemalocation }}</td>
      <td>{{ form.mix_schemalocation.errors }}</td>
    </tr>
    <tr>
      <td>ADDML Namespace</td> 
      <td>{{ form.addml_namespace }}</td>
      <td>{{ form.addml_namespace.errors }}</td>
    </tr>
    <tr>
      <td>ADDML Schema Location</td> 
      <td>{{ form.addml_schemalocation }}</td>
      <td>{{ form.addml_schemalocation.errors }}</td>
    </tr>
    <tr>
      <td>XHTML Namespace</td> 
      <td>{{ form.xhtml_namespace }}</td>
      <td>{{ form.xhtml_namespace.errors }}</td>
    </tr>
    <tr>
      <td>XHTML Schema Location</td> 
      <td>{{ form.xhtml_schemalocation }}</td>
      <td>{{ form.xhtml_schemalocation.errors }}</td>
    </tr>



  </table>

  <input type="submit" value="Save" />
  </form>
</div>


{% endblock %} 
